<template>
  <div>
    <Titlebar>
      <template v-for="_, slot in $slots" #[slot]="slotProps">
        <slot v-if="slot !== 'default'" :name="slot" v-bind="slotProps" />
      </template>
    </Titlebar>

    <div
      class="titlebar-padding"
      :class="{ 'content-contained': contentContained }"
      :style="defaultSlotContainerStyle"
    >
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, getCurrentInstance, useSlots } from 'vue';
import Titlebar from '@/components/Titlebar.vue';

const $this = computed(() => getCurrentInstance()?.proxy);

const props = withDefaults(defineProps<{
  contentContained?: boolean;
  setMaxWidth?: boolean;
}>(), {
  setMaxWidth: true,
});
const defaultSlotContainerStyle = computed(() => {
  if (!props.setMaxWidth) { return {}; }
  return {
    maxWidth: $this.value?.$vuetify.breakpoint.thresholds.sm + 'px',
    margin: 'auto',
  };
});

const $slots = useSlots();
</script>

<style lang="scss" scoped>
@import '@/variables.scss';
.titlebar-padding { padding-top: $titleBarHeight; }
.content-contained {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
