<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="icon" href="<%= BASE_URL %>img/icons/favicon-64x64.png">
  <title>TRacer</title>
  <script>
    var errDisplayed = false;
    setTimeout(function () {
      var warnEl = document.getElementById('warnmsg');
      if (errDisplayed || !warnEl) { return; }
      warnEl.innerText = "Trying to load application; do you have a slow connection? One or more needed page resources has not loaded yet.";
    }, 5000);
    window.onerror = function (message, source, lineno, colno, error) {
      var warnEl = document.getElementById('warnmsg');
      if (errDisplayed || !warnEl) { return; }
      warnEl.innerText = "Could not load; browser may be unsupported. Please use the latest Chrome, Chromium, Chromium Edge, or Firefox for best results.";
    };
  </script>
  <style>
    #preloadMsg {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      width: 300px;
      max-width: 100%;
      max-width: wdi;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
      margin: 3px auto;
      padding: 2em;
    }

    .pageloader {
      position: relative;
      margin: 0 auto;
      width: 75px;
      height: 100px;
    }

    .pageloader__bar {
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 50%;
      transform-origin: center bottom;
      background: #00BCD6;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    }

    .pageloader__bar:nth-child(1) {
      left: 0px;
      transform: scale(1, 0.2);
      animation: barUp1 4s infinite;
    }

    .pageloader__bar:nth-child(2) {
      left: 15px;
      transform: scale(1, 0.4);
      animation: barUp2 4s infinite;
    }

    .pageloader__bar:nth-child(3) {
      left: 30px;
      transform: scale(1, 0.6);
      animation: barUp3 4s infinite;
    }

    .pageloader__bar:nth-child(4) {
      left: 45px;
      transform: scale(1, 0.8);
      animation: barUp4 4s infinite;
    }

    .pageloader__bar:nth-child(5) {
      left: 60px;
      transform: scale(1, 1);
      animation: barUp5 4s infinite;
    }

    .pageloader__ball {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: #ffc107;
      border-radius: 50%;
      animation: ball 4s infinite;
    }

    @keyframes ball {
      0% {
        transform: translate(0, 0);
      }

      5% {
        transform: translate(8px, -14px);
      }

      10% {
        transform: translate(15px, -10px);
      }

      17% {
        transform: translate(23px, -24px);
      }

      20% {
        transform: translate(30px, -20px);
      }

      27% {
        transform: translate(38px, -34px);
      }

      30% {
        transform: translate(45px, -30px);
      }

      37% {
        transform: translate(53px, -44px);
      }

      40% {
        transform: translate(60px, -40px);
      }

      50% {
        transform: translate(60px, 0);
      }

      57% {
        transform: translate(53px, -14px);
      }

      60% {
        transform: translate(45px, -10px);
      }

      67% {
        transform: translate(37px, -24px);
      }

      70% {
        transform: translate(30px, -20px);
      }

      77% {
        transform: translate(22px, -34px);
      }

      80% {
        transform: translate(15px, -30px);
      }

      87% {
        transform: translate(7px, -44px);
      }

      90% {
        transform: translate(0, -40px);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes barUp1 {
      0% {
        transform: scale(1, 0.2);
      }

      40% {
        transform: scale(1, 0.2);
      }

      50% {
        transform: scale(1, 1);
      }

      90% {
        transform: scale(1, 1);
      }

      100% {
        transform: scale(1, 0.2);
      }
    }

    @keyframes barUp2 {
      0% {
        transform: scale(1, 0.4);
      }

      40% {
        transform: scale(1, 0.4);
      }

      50% {
        transform: scale(1, 0.8);
      }

      90% {
        transform: scale(1, 0.8);
      }

      100% {
        transform: scale(1, 0.4);
      }
    }

    @keyframes barUp3 {
      0% {
        transform: scale(1, 0.6);
      }

      100% {
        transform: scale(1, 0.6);
      }
    }

    @keyframes barUp4 {
      0% {
        transform: scale(1, 0.8);
      }

      40% {
        transform: scale(1, 0.8);
      }

      50% {
        transform: scale(1, 0.4);
      }

      90% {
        transform: scale(1, 0.4);
      }

      100% {
        transform: scale(1, 0.8);
      }
    }

    @keyframes barUp5 {
      0% {
        transform: scale(1, 1);
      }

      40% {
        transform: scale(1, 1);
      }

      50% {
        transform: scale(1, 0.2);
      }

      90% {
        transform: scale(1, 0.2);
      }

      100% {
        transform: scale(1, 1);
      }
    }

    .loading-header {
      background-color: #424242;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      height: 43px;
      padding-top: var(--safe-area-top);
    }

    @media (prefers-color-scheme: dark) {
      html,
      body {
        background: #001e21;
      }

      #preloadMsg {
        color: #eee;
      }

      .loading-header {
        background-color: #424242;
      }
    }

    /* light theme overrides */
    html.native-light,
    html.native-light body {
      background-color: #F2F2F2;
    }

    html.native-light #preloadMsg {
      color: rgba(0, 0, 0, 0.87);
    }

    html.native-light .loading-header {
      background-color: #FFF;
    }

    /* dark theme overrides */
    html.native-dark,
    html.native-dark body {
      background-color: #001e21;
    }

    html.native-dark #preloadMsg {
      color: #eee;
    }

    html.native-dark .loading-header {
      background-color: #003136;
    }

    html {
      --safe-area-top: var(--override-safe-area-top, env(safe-area-inset-top, 0px));
      --safe-area-bottom: var(--override-safe-area-bottom, env(safe-area-inset-bottom, 0px));
      --safe-area-left: var(--override-safe-area-left, env(safe-area-inset-left, 0px));
      --safe-area-right: var(--override-safe-area-right, env(safe-area-inset-right, 0px));
    }
  </style>
</head>

<body style="width: 100%; margin: 0;">
  <div id="app">
    <script>
      var darkMQL = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)");
      document.documentElement.classList.add(getDarkStatus() ? 'native-dark' : 'native-light');
      function isNativeDark() {
        return !!darkMQL && darkMQL.matches;
      }
      function getDarkStatus() {
        if (localStorage.getItem('dark') === 'true') {
          return true;
        } else if (localStorage.getItem('dark') === 'false') {
          return false;
        }
        return isNativeDark();
      }
      function listenForDarkThemeChangeHandler(evt) {
        document.documentElement.classList.add(getDarkStatus() ? 'native-dark' : 'native-light');
        document.documentElement.classList.remove(getDarkStatus() ? 'native-light' : 'native-dark');
      }
      darkMQL.addEventListener('change', listenForDarkThemeChangeHandler);
    </script>
    <header class="loading-header" style="margin-top: 0px; transform: translateY(0px); left: 0px; right: 0px;">
      <div style="display: flex; flex-direction: column; align-content: center; justify-content: center;">
      </div>
    </header>
    <div id="preloadMsg">
      <noscript>
        <p>&nbsp;</p>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
      </noscript>
      <div id="startHidden" style="display: none;">
        <div class="pageloader">
          <div class="pageloader__bar"></div>
          <div class="pageloader__bar"></div>
          <div class="pageloader__bar"></div>
          <div class="pageloader__bar"></div>
          <div class="pageloader__bar"></div>
          <div class="pageloader__ball"></div>
        </div>
        <p>&nbsp;</p>
        <strong id="warnmsg">
          Loading application, please wait...
        </strong>
      </div>
      <script>
        document.getElementById('startHidden').style.display = '';
      </script>
    </div>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>
