<template>
  <div>
    <v-list-item class="px-0">
      <span class="pr-4">{{ $t('settings.useDialpadArrangement') }}</span>
      <v-spacer/>
      <v-switch v-model="useDialpadArrangement" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-0" :disabled="skipTimeIn">
      <span class="pr-4">{{ $t('settings.skipTimeOut') }}</span>
      <v-spacer/>
      <v-switch v-model="skipTimeOut" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-0" :disabled="skipTimeOut">
      <span class="pr-4">{{ $t('settings.skipTimeIn') }}</span>
      <v-spacer/>
      <v-switch v-model="skipTimeIn" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-0">
      <span class="pr-4">{{ $t('settings.includeSecondsWithTime') }}</span>
      <v-spacer/>
      <v-switch v-model="includeSecondsWithTime" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed } from 'vue';

import { useSettingsStore } from '@/stores/settings';

const settingsStore = useSettingsStore();
const {
  includeSecondsWithTime,
  skipTimeIn,
  skipTimeOut,
} = storeToRefs(useSettingsStore());

const useDialpadArrangement = computed({
  get: () => settingsStore.useDialpadArrangement === 'dialpad',
  set: (bool: boolean) => settingsStore.useDialpadArrangement = bool ? 'dialpad' : 'keypad',
});

</script>
