<template>
  <v-btn v-if="transmission && transmission.transmitting && transmission.hash === (hash ?? transmission.hash)" text @click.stop="transmission.stop()" class="px-1" min-width="36">
    <v-progress-circular :value="transmission.progress" rotate="-90">
      <v-icon>stop</v-icon>
    </v-progress-circular>
  </v-btn>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useTransmissionStore } from '@/stores/transmit';

defineProps<{
  hash?: string;
}>();

const {
  transmission,
} = storeToRefs(useTransmissionStore());
</script>

<style scoped lang="scss">
</style>
