<template>
  <v-dialog :value="value" @input="$emit('input', $event)" max-width="400">
    <v-card>
      <v-card-title>
        <i18next class="headline" :path="station.stationNumber === 0 ? 'dialogs.dnfReason.dnsDialogTitle' : 'dialogs.dnfReason.dnfDialogTitle'"></i18next>
      </v-card-title>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12>
            <v-select v-model="reason" :label="$t(station.stationNumber === 0 ? 'dialogs.dnfReason.dnsReason' : 'dialogs.dnfReason.dnfReason')" :items="dnfReasons" required></v-select>
            <v-text-field v-if="reason === 'custom'" :label="$t('dialogs.dnfReason.customReason')" v-model="customReason"></v-text-field>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click.stop="closeDialog()"><i18next path="buttons.cancel"/></v-btn>
        <v-btn color="blue darken-1" text @click.stop="closeDialog(reason === 'custom' ? customReason : reason)" :disabled="station.stationNumber > 0 && reason === '' && customReason === ''">
          <i18next :path="station.stationNumber === 0 ? 'buttons.dns' : 'buttons.dnf'"/>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useTranslate } from '@/composables/useTranslate';
import { IStationDoc } from '@/models/station';

const props = defineProps<{
  eventId: string;
  station: IStationDoc;
  value: boolean;
}>();
const emit = defineEmits<{
  (e: 'input', value: boolean): void;
  (e: 'closed', value: false | string): void;
}>();

const $t = useTranslate();
const dnfReasons: Array<string | { text: string; value: string }> = [
  ...$t('dialogs.dnfReason.reasons', { returnObjects: true }) as Array<string | { text: string; value: string }>,
  { text: $t('dialogs.dnfReason.custom') as string, value: 'custom' },
];
const reason = ref('');
const customReason = ref('');

watch(() => props.value, () => {
  if (props.value) {
    reason.value = '';
  }
});

function closeDialog(dnfReason: false | string = false) {
  emit('closed', dnfReason);
  emit('input', false);
}
</script>
