<template>
  <v-dialog :value="value" @input="$emit('input', $event)" max-width="400" content-class="overflow-y-unset" @keydown="onKeydown">
    <v-card color="background">
      <v-card-title>
        <div>{{ $t('dialogs.editTime.title', { context: entryKey, bibNumber: item.bibNumber }) }}</div>
        <v-spacer />
        <v-btn text class="px-1" min-width="36" @click="closeDialog">
          <v-icon :class="$vuetify.theme.dark ? 'white--text' : 'black--text'">close</v-icon>
        </v-btn>
      </v-card-title>
      <div class="pb-5 px-6">
        <v-layout wrap>
          <v-flex xs12>
            <InputField
              :label="$t('dialogs.editTime.fieldLabel', { context: entryKey })"
              :value="normalizeTimeStr(datePickerTime && datePickerTime.number, includeSecondsWithTime)"
              focused
              :error-message="datePickerTime && !datePickerTime.isValid ? $t('errors.invalidTime') : ''"
              :warning-message="showWarning ? $t('errors.checkDate') : ''"
            >
              <template #append-inner>
                <h2 v-if="dnfState.active"
                  class="v-align-middle title flex-grow-0 pr-1"
                >
                  <template v-if="item.participant.dnfStation === 0">
                    {{ $t('runner.dns') }}
                  </template>
                  <template v-else>
                    {{ $t('runner.dropped') }}
                  </template>
                </h2>
                <InputFieldDay
                  @click.stop="datePickerOpen = !datePickerOpen"
                  :date="new Date(datePickerDay)"
                />
              </template>
              <InputFieldDatePicker
                v-if="datePickerOpen"
                :value="formatDate(new Date(datePickerDay), 'YYYY-MM-DD')"
                @change="onDatePickerUpdate($event); datePickerOpen = false"
              />
            </InputField>
          </v-flex>
        </v-layout>
      </div>
      <Numpad
        :dnf="useDnfButton"
        :dnf-text="dnfText"
        :repeat="false"
        :in="false"
        :out="false"
        :enter="saving ? 'loading' : datePickerTime?.isValid === false ? 'disabled' : true"
        :enter-text="$t('buttons.save')"
        @backspace="backspacePressed()"
        @enter="setTimeOnParticipant(item, datePickerDate)"
        @cancel="closeDialog()"
        @now="setTimeToNow()"
        @dnf="toggleDnf()"
        v-on="numberListeners"
      />
    </v-card>
    <DnfDialog v-if="useDnfButton" v-model="dnfDialog.open" :event-id="eventId" :station="station" @closed="dnfDialog.callback" />
  </v-dialog>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, reactive, ref, watch } from 'vue';
import DnfDialog from '@/components/DnfDialog.vue';
import InputField from '@/components/InputField.vue';
import InputFieldDatePicker from '@/components/InputFieldDatePicker.vue';
import InputFieldDay from '@/components/InputFieldDay.vue';
import Numpad from '@/components/Numpad.vue';
import { IDataTableItem } from '@/components/RecordsDataTable.vue';
import { useTranslate } from '@/composables/useTranslate';
import { formatDate, getTime, normalizeTimeStr } from '@/lib/formatDate';
import Entry from '@/models/entry';
import { IStationDoc } from '@/models/station';
import { useSettingsStore } from '@/stores/settings';
import { useRaceEventStore } from '@/stores/raceEvent';

const props = defineProps<{
  value: boolean;
  item: IDataTableItem;
  entryKey: 'timeIn' | 'timeOut';
  station: IStationDoc;
}>();
const emit = defineEmits<{
  (e: 'input', value: boolean): void;
  (e: 'save'): void;
}>();

const $t = useTranslate();

const {
  eventId,
} = storeToRefs(useRaceEventStore());

const {
  includeSecondsWithTime,
} = storeToRefs(useSettingsStore());

const dnfState = reactive({
  active: false,
  reason: '',
});
const useDnfButton = computed(() => {
  return props.item.participant?.dnfStation === props.station.stationNumber || typeof props.item.participant?.dnfStation !== 'number';
});
const dnfText = computed<string>(() => {
  const dnfActive = dnfState.active;
  if (dnfActive) {
    return $t(props.station.stationNumber === 0 ? 'buttons.undoDNS' : 'buttons.undoDNF') as string;
  } else {
    return $t(props.station.stationNumber === 0 ? 'buttons.dns' : 'buttons.dnf') as string;
  }
});
const datePickerOpen = ref(false);
const datePickerDate = ref<Date | null>(null);
const datePickerDay = ref(new Date().toLocaleDateString());
const datePickerTime = ref<{ number: number, isValid: boolean } | null>(null);
const saving = ref(false);

watch(datePickerDate, () => {
  if (datePickerDate.value) {
    datePickerDay.value = datePickerDate.value.toLocaleDateString();
  }
  datePickerTime.value = getTime(datePickerDate.value, includeSecondsWithTime.value);
}, {
  immediate: true,
});

watch(() => props.value, () => {
  if (props.value) {
    datePickerDate.value = props.item[props.entryKey] || null;
    dnfState.reason = props.item.participant?.dnfReason || '';
    dnfState.active = typeof props.item.participant?.dnfStation === 'number';
    saving.value = false;
  }
});

watch(datePickerTime, (curVal, oldVal) => {
  if (curVal?.number === oldVal?.number) { return; }
  if (curVal === null) {
    datePickerDate.value = null;
  } else if (datePickerTime.value?.isValid) {
    datePickerDate.value = new Date(`${datePickerDay.value} ${normalizeTimeStr(datePickerTime.value?.number || 0, includeSecondsWithTime.value)}`);
  }
});

const showWarning = computed(() => {
  if (!props.item.timeIn || !props.item.timeOut || !datePickerTime.value?.isValid) {
    return false;
  }
  const edittedTime = new Date(`${datePickerDay.value} ${normalizeTimeStr(datePickerTime.value.number, includeSecondsWithTime.value)}`);
  if (props.entryKey === 'timeIn') {
    return edittedTime > props.item.timeOut;
  } else {
    return edittedTime < props.item.timeIn;
  }
});

const numberListeners: Record<string, () => void> = {};
for (let i = 0; i < 10; i++) {
  numberListeners[`${i}`] = () => numberPressed(String(i));
}

function onKeydown(evt: KeyboardEvent) {
  let prevent = false;
  if (evt.key === 'Backspace') {
    backspacePressed();
    prevent = true;
  }
  if (/[0-9]/.test(evt.key)) {
    numberPressed(evt.key);
    prevent = true;
  }

  if (prevent) {
    evt.preventDefault();
    evt.stopPropagation();
  }
}

function numberPressed(key: string) {
  datePickerTime.value = getTime(Number(`${datePickerTime.value?.number || ''}${key}`), includeSecondsWithTime.value);
}

function backspacePressed() {
  const curNumStr = String(datePickerTime.value?.number || '');
  const newNumStr = curNumStr.substring(0, curNumStr.length - 1);
  datePickerTime.value = getTime(newNumStr || null, includeSecondsWithTime.value);
}

function onDatePickerUpdate(payload: string | Date) {
  if (typeof payload === 'string') {
    let match = /(\d\d\d\d)-(\d\d)-(\d\d)/.exec(payload);
    if (!match) { return; }
    let [, year, month, day] = match;
    payload = new Date(Number(year), Number(month)-1, Number(day));
  }
  if (!isNaN(payload.getTime())) {
    datePickerDay.value = new Date(payload).toLocaleDateString();
    if (datePickerTime.value?.isValid) {
      datePickerDate.value = new Date(`${datePickerDay.value} ${normalizeTimeStr(datePickerTime.value?.number || 0, includeSecondsWithTime.value)}`);
    }
  }
}
async function setTimeOnParticipant(item: IDataTableItem, time: Date | null) {
  if (time) {
    time.setMilliseconds(0);
    if (!includeSecondsWithTime.value) {
      time.setSeconds(0);
    }
  }
  if (props.entryKey === 'timeIn') {
    await setTimeIn(item, time);
  } else {
    await setTimeOut(item, time);
  }
  closeDialog();
}
async function setTimeToNow() {
  const now = new Date();
  now.setMilliseconds(0);
  if (!includeSecondsWithTime.value) {
    now.setSeconds(0);
  }
  datePickerDate.value = now;
}
async function saveDnfState() {
  if (dnfState.active) {
    props.item.participant.drop({ reason: dnfState.reason, station: props.station });
  } else {
    props.item.participant.undrop();
  }
  await props.item.participant.save();
}
async function setTimeIn(item: IDataTableItem, timeIn: Date | null = new Date()) {
  let participant = item.participant;
  let entry = item.entry;
  const currentTimeInOnEntry = entry?.timeIn?.getTime();
  const entryChanged = timeIn?.getTime() !== (currentTimeInOnEntry && currentTimeInOnEntry - (currentTimeInOnEntry % (includeSecondsWithTime.value ? 6E2 : 6E4)));
  if (entryChanged) {
    if (!entry) {
      entry = new Entry(eventId.value, participant.id, props.station.id);
    }
    entry.timeIn = timeIn;
    saving.value = true;
    await entry.save();
    emit('save');
  }
}
async function setTimeOut(item: IDataTableItem, timeOut: Date | null = new Date()) {
  let participant = item.participant;
  let entry = item.entry;
  const currentTimeOutOnEntry = entry?.timeOut?.getTime();
  const entryChanged = timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % (includeSecondsWithTime.value ? 6E2 : 6E4)));
  const dnfStateChanged = useDnfButton.value && (dnfState.active !== (typeof participant.dnfStation === 'number') || participant.dnfReason !== dnfState.reason);
  if (entryChanged || dnfStateChanged) {
    if (!entry) {
      entry = new Entry(eventId.value, participant.id, props.station.id);
    }
    entry.timeOut = timeOut;
    saving.value = true;
    if (useDnfButton.value) {
      await Promise.all([
        saveDnfState(),
        entry.save(),
      ]);
    } else {
      await entry.save();
    }
    emit('save');
  }
}
const dnfDialog = reactive({
  open: false,
  callback: (val: false | string) => {},
});

async function getDnfReason(): Promise<string> {
  return new Promise((resolve, reject) => {
    dnfDialog.open = true;
    dnfDialog.callback = (val: string | false) => {
      if (val === false) {
        reject();
      } else {
        resolve(val);
      }
    };
  });
}
async function toggleDnf() {
  if (dnfState.active) {
    dnfState.active = false;
  } else {
    try {
      dnfState.reason = await getDnfReason();
      dnfState.active = true;
    } catch (e) {
      dnfState.active = false;
    }
  }
}

function closeDialog() {
  emit('input', false);
}
</script>

<style scoped lang="scss">
</style>
