<template>
  <div class="relative text-center" v-on="$listeners">
    <div class="full-width full-height absolute pt-2">{{ day }}</div>
    <v-icon size="xx-large">calendar_today</v-icon>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps<{
  date?: Date | null;
}>();

const day = computed(() => props.date ? Intl.DateTimeFormat('en', { day: 'numeric' }).format(props.date) : '');
</script>
