<template>
  <v-date-picker
    class="elevation-1 justify-right"
    no-title
    show-current="false"
    color="primary"
    v-bind="$attrs"
    v-on="$listeners"
  />
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
.v-picker {
  max-width: unset;
  position: absolute;
  z-index: 1;
  ::v-deep .v-picker__body {
    background-color: v-bind('$vuetify.theme.currentTheme.surface');
  }
  &:not(.justify-right) {
    left: 0;
  }
  &.justify-right {
    right: 0;
  }
}
</style>
