<template>
  <div class="input" :class="[
    {
      'focused': focused,
      'invalid': errorMessage,
      'warn': warningMessage && !errorMessage,
    },
    $vuetify.theme.dark ? 'theme--dark' : 'theme--light'
  ]">
    <fieldset v-on="$listeners" class="d-flex align-center pr-1">
      <legend class="px-2 lh-1 input--hint">{{ label }}</legend>
      <h2 class="pl-4 title flex-grow-1">{{ value }}</h2>
      <div class="d-flex align-center append-inner">
        <slot name="append-inner" />
      </div>
    </fieldset>
    <div
      v-if="errorMessage || warningMessage"
      class="caption field-error font-weight-medium"
      :class="{'field-error': errorMessage, 'field-warn': warningMessage && !errorMessage}"
    >
      <template v-if="errorMessage">
        {{ errorMessage }}
      </template>
      <template v-else>
        {{ warningMessage }}
      </template>
    </div>
    <slot />
  </div>
</template>

<script setup lang="ts">
defineProps<{
  label: string;
  value: string;
  focused?: boolean;
  errorMessage?: string;
  warningMessage?: string;
}>();
</script>

<style scoped lang="scss">
$inputHeight: 52px;
$legendFontSize: 16px;
.input {
  position: relative;
  h2.pull-right { line-height: 24px; }
  fieldset {
    height: $inputHeight;
    border-color: currentColor; border-style: solid; border-width: 1px; border-radius: 4px;
    width: 100%;
    legend { user-select: none; margin-left: 11px; font-size: $legendFontSize; border-radius: 8px; }
    h2 { margin-left: 3px; }
    .append-inner {
      margin-top: -#{$legendFontSize / 2};
    }
  }
  &.focused {
    fieldset {
      border-width: 2px;
    }
    fieldset, legend {
      background-color: v-bind('$vuetify.theme.currentTheme.surface');
    }
    legend { margin-left: 10px; }
    h2 { margin-left: 2px; }
  }
}
.field-error, .field-warn { line-height: 1; padding-top: 2px; padding-left: 2px; }
.theme--light.input {
  $activeColor: v-bind('$vuetify.theme.currentTheme.primary');
  $invalidColor: #B00020;
  $warnColor: #FF6D00;
  .field-error { color: $invalidColor; }
  .field-warn { color: $warnColor; }
  &.focused {
    fieldset {
      background-color: v-bind('$vuetify.theme.currentTheme.surface');
      border-color: $activeColor;
      legend { color: $activeColor; }
    }
    &.invalid {
      fieldset {
        border-color: $invalidColor;
        legend { color: $invalidColor; }
      }
    }
    &.warn {
      fieldset {
        border-color: $warnColor;
        legend { color: $warnColor; }
      }
    }
  }
}
.theme--dark.input {
  $invalidColor: #FF1744;
  $warnColor: #FF6D00;
  .field-error { color: $invalidColor; }
  .field-warn { color: $warnColor; }
  &.focused {
    fieldset {
      background-color: v-bind('$vuetify.theme.currentTheme.surface');
      border-color: v-bind('$vuetify.theme.currentTheme.accent');
      legend { color: v-bind('$vuetify.theme.currentTheme.accent'); }
    }
    &.invalid {
      fieldset {
        border-color: $invalidColor;
        legend { color: $invalidColor; }
      }
    }
    &.warn {
      fieldset {
        border-color: $warnColor;
        legend { color: $warnColor; }
      }
    }
  }
}
</style>
