<template>
  <div class="keypad-container">
    <div class="keypad surface" :class="{'dialpad': numpadState === 'dialpad'}">
      <v-btn depressed text class="btn-0" @click="$emit('0')">{{ $t('buttons.0') }}</v-btn>
      <v-btn depressed text class="btn-1" @click="$emit('1')">{{ $t('buttons.1') }}</v-btn>
      <v-btn depressed text class="btn-2" @click="$emit('2')">{{ $t('buttons.2') }}</v-btn>
      <v-btn depressed text class="btn-3" @click="$emit('3')">{{ $t('buttons.3') }}</v-btn>
      <v-btn depressed text class="btn-4" @click="$emit('4')">{{ $t('buttons.4') }}</v-btn>
      <v-btn depressed text class="btn-5" @click="$emit('5')">{{ $t('buttons.5') }}</v-btn>
      <v-btn depressed text class="btn-6" @click="$emit('6')">{{ $t('buttons.6') }}</v-btn>
      <v-btn depressed text class="btn-7" @click="$emit('7')">{{ $t('buttons.7') }}</v-btn>
      <v-btn depressed text class="btn-8" @click="$emit('8')">{{ $t('buttons.8') }}</v-btn>
      <v-btn depressed text class="btn-9" @click="$emit('9')">{{ $t('buttons.9') }}</v-btn>

      <!-- Backspace -->
      <v-btn depressed text class="btn-backspace"
        @click="$emit('backspace')"
        v-if="props['backspace'] !== false"
        :disabled="props['backspace'] === 'disabled'"
      >
        <v-icon>backspace</v-icon>
      </v-btn>

      <!-- Repeat Last -->
      <v-btn depressed text class="btn-repeat initial-font"
        @click="$emit('repeat')"
        v-if="props['repeat'] !== false"
        :disabled="props['repeat'] === 'disabled'"
      ><i18next path="buttons.repeatLast" class="whitespace-normal"></i18next></v-btn>

      <!-- Did Not Finish (DNF, DNS) -->
      <v-btn depressed text class="btn-dnf initial-font"
        @click="$emit('dnf')"
        v-if="props['dnf'] !== false"
        :disabled="props['dnf'] === 'disabled'"
      >{{ props.dnfText || $t('buttons.dnf') }}</v-btn>

      <!-- Time In -->
      <v-btn depressed text class="btn-time-in initial-font"
        @click="$emit('in')"
        v-if="props['in'] !== false"
        :disabled="props['in'] === 'disabled'"
      >{{ $t('buttons.autoTimeIn') }}</v-btn>

      <!-- Time Out -->
      <v-btn depressed text class="btn-time-out initial-font"
        @click="$emit('out')"
        v-if="props['out'] !== false"
        :disabled="props['out'] === 'disabled'"
        style="min-width: 67px"
      >{{ $t('buttons.autoTimeOut') }}</v-btn>

      <!-- Now -->
      <v-btn depressed text class="btn-now initial-font"
        @click.stop="$emit('now')"
        v-if="props['now'] !== false"
        :disabled="props['now'] === 'disabled'"
      >{{ $t('buttons.now') }}</v-btn>

      <!-- Add/Next/Done -->
      <v-btn depressed text class="btn-next initial-font"
        @click="$emit('enter')"
        v-if="props['enter'] !== false"
        :disabled="props['enter'] === 'disabled'"
        :loading="props['enter'] === 'loading'"
      >{{ props.enterText || $t('buttons.next') }}</v-btn>

      <!-- Cancel -->
      <v-btn depressed text class="btn-cancel initial-font"
        @click.stop="$emit('cancel')"
        v-if="props['cancel'] !== false"
        :disabled="props['cancel'] === 'disabled'"
      >{{ $t('buttons.cancel') }}</v-btn>

    </div>
  </div>
</template>


<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useSettingsStore } from '@/stores/settings';

type Button = '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' | 'backspace' | 'dnf' | 'repeat' | 'in' | 'out' | 'now' | 'enter' | 'cancel';
const emit = defineEmits<{
  (e: Button): void;
}>();

const props = withDefaults(
  defineProps<{
    enterText?: string;
    backspace?: boolean | 'disabled';
    dnf?: boolean | 'disabled';
    dnfText?: string;
    repeat?: boolean | 'disabled';
    in?: boolean | 'disabled';
    out?: boolean | 'disabled';
    now?: boolean | 'disabled';
    enter?: boolean | 'disabled' | 'loading';
    cancel?: boolean | 'disabled';
  }>(),
  {
    backspace: true,
    repeat: true,
    in: true,
    out: true,
    now: true,
    enter: true,
    cancel: true,
  },
);

const {
  useDialpadArrangement: numpadState,
} = storeToRefs(useSettingsStore());

</script>


<style lang="scss" scoped>
.whitespace-normal { white-space: normal; }
.keypad-container {
  position: relative; flex: 1 0;
  $sm: 430px;
  @media only screen and (max-width: $sm) {
    height: 100%; min-width: 100%;
  }
  @media only screen and (min-width: $sm) {
    max-width: $sm;
  }
}
.keypad {
  text-align: center; padding: 50% 0; width: 100%;
  button.v-btn {
    border-radius: 0; min-width: 0;
    font-size: 30px; margin: 0; outline: none; white-space: unset;
    height: 25%; width: 25%;
    text-transform: none;
    :deep(.v-btn__content) { max-width: 100%; }
    &, &:active, &:focus, &:hover { position: absolute; }
    &.initial-font { font-size: initial; }

    &.activated { opacity: 0.5; }

    &:hover:before, &:focus:before, &.disabled { background-color: transparent !important; }

    &.btn-7 { bottom: 75%; right: 75%; }
    &.btn-8 { bottom: 75%; right: 50%; }
    &.btn-9 { bottom: 75%; right: 25%; }
    &.btn-backspace { bottom: 75%; right: 0%; }

    &.btn-4 { bottom: 50%; right: 75%; }
    &.btn-5 { bottom: 50%; right: 50%; }
    &.btn-6 { bottom: 50%; right: 25%; }
    &.btn-repeat, &.btn-dnf, &.btn-dns { bottom: 50%; right: 0%; }

    &.btn-1 { bottom: 25%; right: 75%; }
    &.btn-2 { bottom: 25%; right: 50%; }
    &.btn-3 { bottom: 25%; right: 25%; }

    &.btn-cancel { bottom: 0%; right: 75%; }
    &.btn-time-in { bottom: 0%; right: 75%; }
    &.btn-0 { bottom: 0%; right: 50%; }
    &.btn-time-out { bottom: 0%; right: 25%; }
    &.btn-now { bottom: 0%; right: 25%; }
    &.btn-next { bottom: 0%; right: 0%; height: 50%; }
  }
  &.dialpad button {
    &.btn-1 { bottom: 75%; right: 75%; }
    &.btn-2 { bottom: 75%; right: 50%; }
    &.btn-3 { bottom: 75%; right: 25%; }

    &.btn-4 { bottom: 50%; right: 75%; }
    &.btn-5 { bottom: 50%; right: 50%; }
    &.btn-6 { bottom: 50%; right: 25%; }

    &.btn-7 { bottom: 25%; right: 75%; }
    &.btn-8 { bottom: 25%; right: 50%; }
    &.btn-9 { bottom: 25%; right: 25%; }
  }
}
</style>
