<template>
  <v-menu
    v-model="open"
    :close-on-content-click="false"
    offset-y
  >
    <template #activator="{ on: menu, attrs }">
      <v-tooltip bottom>
        <template #activator="{ on: tooltip }">
          <v-btn
            class="overflow-hidden"
            text
            v-bind="attrs"
            v-on="{ ...tooltip, ...menu }"
          >
            <template v-if="hearing">
              <div class="dot-icon animate">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </template>
            <v-icon v-else>hearing</v-icon>
          </v-btn>
        </template>
        <span>{{ $t('grid.tooltip.receive') }}</span>
      </v-tooltip>
    </template>

    <v-card color="surface">
      <div v-if="recentTransmission" class="pa-3">
        <div class="pb-2">{{ [recentTransmission.hash, filename].filter(Boolean).join(': ') }}</div>
        <v-chip
          outlined
          class="elevation-0 mr-1 mb-1"
          :color="LTypes.FILE in recentTransmission.blocks && LTypes.SIZE in recentTransmission.blocks ? 'green' : 'accent'"
        >
          {{ $t('transmit.headers') }}
        </v-chip>
        <template v-for="(blockReceived, $index) of blocks">
          <v-chip
            :key="$index"
            outlined
            class="elevation-0 mr-1 mb-1"
            :color="blockReceived ? 'green' : 'accent'"
          >{{ $index + 1 }}</v-chip>
        </template>
      </div>

      <transition name="expand">
        <div v-if="expanded">
          <v-sheet color="primary" class="pa-1">
            <v-sheet color="surface">
              <pre v-if="listening" class="overflow-x-auto pa-4 pre-wrap">{{ recentBuffer || $t('receive.waitingForInput') }}</pre>
              <div v-else class="d-flex justify-center pa-4">
                <v-btn
                  color="primary"
                  @click="receiveStore.listen"
                >{{ $t('receive.startListening') }}</v-btn>
              </div>
            </v-sheet>
          </v-sheet>
        </div>
      </transition>
      <div class="d-flex">
        <v-btn
          v-if="recentBuffer" @click="expanded = !expanded"
          class="justify-center py-1 flex-grow-1"
          color="surface"
        >
          <v-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</v-icon>
        </v-btn>
      </div>

    </v-card>
  </v-menu>
</template>

<script setup lang="ts">
import { LTypes } from '@hamstudy/flamp/dist/amp';
import { storeToRefs } from 'pinia';
import { computed, ref, watch } from 'vue';
import '@/services/receive.service'; // Needed to solve `Cannot access 'useReceiveStore' before initialization` error... ???
import { useReceiveStore } from '@/stores/receive';

const open = ref(false);
const expanded = ref(true);

const receiveStore = useReceiveStore();
const {
  recentBuffer,
  listening,
  hearing,
  recentTransmission,
} = storeToRefs(receiveStore);

watch(hearing, (newVal, oldVal) => {
  if (newVal && !oldVal) {
    open.value = true;
  }
});

const blocks = computed(() => {
  if (!recentTransmission.value) {
    return [];
  }
  const blocks = recentTransmission.value.blocks;
  const highestReceivedBlock = Math.max(
    0, // Ensure that at least 0 is the max
    ...(Object.keys(blocks) as Array<keyof typeof blocks>)
      .map(Number)
      .filter(k => !isNaN(k))
  );
  const blockCount = blocks.SIZE ? Number(blocks.SIZE.data.split(' ')[1]) : highestReceivedBlock;
  return [...Array(blockCount)].map((_, i) => {
    const block = i + 1;
    return block in blocks || (block < highestReceivedBlock ? false : null);
  });
});

const filename = computed(() => recentTransmission.value?.blocks.FILE?.data.split(':').slice(-1)[0] || '');
</script>

<style scoped lang="scss">
.v-menu__content {
  left: auto !important;
  right: 12px;
}
.pre-wrap {
  white-space: pre-wrap;
}
.dot-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  &.animate {
    $duration: 1.5;
    .dot:nth-child(1) {
      animation: fade #{$duration}s infinite;
      animation-timing-function: linear;
    }
    .dot:nth-child(2) {
      animation: fade #{$duration}s infinite #{$duration / 8}s;
      animation-timing-function: linear;
    }
    .dot:nth-child(3) {
      animation: fade #{$duration}s infinite #{$duration / 4}s;
      animation-timing-function: linear;
    }
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.expand-enter-active, .expand-leave-active {
  transition: max-height .5s ease;
}
.expand-enter, .expand-leave-to {
  max-height: 0px !important;
}
.expand-enter-to, .expand-leave {
  max-height: 450px !important;
}
</style>
