<template>
  <v-menu
    v-model="open"
    :close-on-content-click="false"
    offset-y
  >
    <template #activator="{ on: menu, attrs }">
      <v-tooltip left>
        <template #activator="{ on: tooltip }">
          <ButtonTransmitStop />
          <v-btn
            v-show="!transmission?.transmitting"
            text
            v-bind="attrs"
            v-on="{ ...tooltip, ...menu }"
          >
            <v-icon>speaker_phone</v-icon>
          </v-btn>
        </template>
        <span>{{ $t('grid.tooltip.send') }}</span>
      </v-tooltip>
    </template>

    <v-list class="surface py-0">
      <v-list-item @click="transmitDnfList">
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('grid.sendMenu.dnfList') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import ButtonTransmitStop from '@/components/ButtonTransmitStop.vue';
import { Transmission } from '@/models/transmission';
import { useTransmissionStore } from '@/stores/transmit';

const transmissionStore = useTransmissionStore();

const open = ref(false);
const transmission = ref(null as Transmission | null);

transmission.value = Transmission.activeTransmission

async function transmitDnfList() {
  await transmissionStore.transmitDnfList();
  transmission.value = Transmission.activeTransmission;
}

</script>
