<template>
  <div>
    <v-list-item class="px-0">
      <i18next class="pr-4" path="settings.splitScreen"></i18next>
      <v-spacer/>
      <v-switch class="mt-0" hide-details color="hamstudyBlue" v-model="splitScreen"></v-switch>
    </v-list-item>
    <div v-if="splitScreen && $vuetify.breakpoint.mdAndUp" class="text-body-2 text-center d-flex px-0">
      <v-btn
        text
        class="px-1"
        min-width="36"
        :disabled="settingsStore.recordsDataTables.length <= 2"
        @click="settingsStore.removeRecordsDataTable"
      >
        <v-icon>remove</v-icon>
      </v-btn>
      <v-list-item-title class="px-1 select-none">
        {{ $t('settings.numberOfScreens', { count: settingsStore.recordsDataTables.length }) }}
      </v-list-item-title>
      <v-btn
        text
        class="px-1"
        min-width="36"
        :disabled="settingsStore.recordsDataTables.length >= 7"
        @click="settingsStore.addRecordsDataTable"
      >
        <v-icon>add</v-icon>
      </v-btn>
    </div>
    <v-divider/>
    <v-list-item class="px-0" :disabled="skipTimeIn">
      <span class="pr-4">{{ $t('settings.skipTimeOut') }}</span>
      <v-spacer/>
      <v-switch v-model="skipTimeOut" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-0" :disabled="skipTimeOut">
      <span class="pr-4">{{ $t('settings.skipTimeIn') }}</span>
      <v-spacer/>
      <v-switch v-model="skipTimeIn" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-0">
      <span class="pr-4">{{ $t('settings.includeSecondsWithTime') }}</span>
      <v-spacer/>
      <v-switch v-model="includeSecondsWithTime" hide-details density="compact" color="secodary" class="mt-0" />
    </v-list-item>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed } from 'vue';
import { useSettingsStore, FILTER_RUNNERS_TO } from '@/stores/settings';

const settingsStore = useSettingsStore();

const {
  includeSecondsWithTime,
  skipTimeIn,
  skipTimeOut,
} = storeToRefs(useSettingsStore());

const splitScreen = computed({
  get: () => settingsStore.recordsDataTables.length > 1,
  set: (val: boolean) => {
    if (val && settingsStore.recordsDataTables.length === 1) {
      settingsStore.addRecordsDataTable({
        listFilter: FILTER_RUNNERS_TO.IN_STATION,
        sortBy: ['modified'],
        sortDesc: [true],
      });
    } else if (!val && settingsStore.recordsDataTables.length > 1) {
      while (settingsStore.recordsDataTables.length > 1) {
        settingsStore.removeRecordsDataTable();
      }
    }
  },
});
</script>
