<template>
  <div>
    <Transition name="select-actions" mode="out-in">
      <div key="1" v-if="!selected.length" class="d-flex py-2 sticky background zi-1 align-center full-width overflow-x-auto">
        <div class="pa-2 mr-2 text-body-2">
          {{ $t('records.totalCount', { count: dataTableItems.length }) }}
        </div>
        <v-spacer />
        <v-btn v-if="listFilter === FILTER_RUNNERS_TO.NEEDS_TRANSMISSION && dataTableItems.length" class="icon-btn px-1 mr-2" color="primary" @click.stop="transmitChanges">
          <v-icon>speaker_phone</v-icon>
        </v-btn>
        <v-btn v-if="!selected.length" color="primary" @click="downloadDataTable" class="mr-2 px-1 icon-btn">
          <v-icon>download</v-icon>
        </v-btn>
        <v-menu offset-y transition="scroll-y-transition">
          <template #activator="{ on }">
            <v-btn color="primary" v-on="on" class="ma-0">
              <i18next class="pr-2" :path="'filter.' + listFilter"></i18next>
              <v-icon>filter_list</v-icon>
            </v-btn>
          </template>
          <v-list class="surface">
            <v-list-item v-for="filter in FILTER_RUNNERS_TO" :key="filter" @click="filterBy(filter)">
              <v-list-item-content>
                <v-list-item-title>
                  <i18next :path="'filter.' + filter"/>
                </v-list-item-title>
              </v-list-item-content>
              <v-list-item-action v-if="listFilter === filter">
                <v-icon>check</v-icon>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <div key="2" v-else class="d-flex py-2 sticky background zi-1 align-center full-width overflow-x-auto">
        <v-spacer />
        <v-btn class="icon-btn px-1 mr-2" color="primary" :to="{ name: 'runnerDetails', params: {bibNumber: selected[0].bibNumber}, query: { routeFrom: $route.name}}" v-if="selected.length === 1">
          <v-icon>info</v-icon>
        </v-btn>
        <v-btn class="icon-btn px-1 mr-2" color="primary" @click.stop="setStartTimeDialogOpen = true" v-if="curStation?.stationNumber === 0">
          <v-icon>more_time</v-icon>
        </v-btn>
        <v-btn class="icon-btn px-1 mr-2" color="primary" @click.stop="deleteParticipants(selected)">
          <v-icon>person_remove_alt_1</v-icon>
        </v-btn>
        <v-btn class="icon-btn px-1 mr-2" color="primary" @click.stop="deleteEntries(selected)">
          <v-icon>auto_delete</v-icon>
        </v-btn>
        <v-btn class="icon-btn px-1 mr-2" color="primary" @click.stop="markDnf(selected)">
          <i18next :path="curStation?.stationNumber === 0 ? 'buttons.dns' : 'buttons.dnf'"></i18next>
        </v-btn>
        <v-btn class="icon-btn px-1" color="primary" @click.stop="transmit">
          <v-icon>speaker_phone</v-icon>
        </v-btn>
      </div>
    </Transition>

    <v-data-table class="data-table surface"
      hide-default-footer
      v-model="selected"
      :headers="headers"
      :items="dataTableItems"
      :sort-by="sortBy"
      :sort-desc="sortDesc"
      item-key="bibNumber"
      :mobile-breakpoint="0"
      show-select
      :items-per-page="-1"
      @update:sort-by="updateSortBy"
      @update:sort-desc="updateSortDesc"
      @current-items="itemsAsDisplayed = $event"
    >
      <template #header.data-table-select="{ on, props }">
        <v-badge
          color="accent"
          :content="selected.length"
          :value="selected.length"
          offset-x="12"
          offset-y="12"
        >
          <v-simple-checkbox v-on="on" v-bind="props" />
        </v-badge>
      </template>
      <template #item.timeIn="{ item }">
        <i18next path="runner.dns" class="pl-0" v-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation === 0"/>
        <i18next path="runner.dropped" class="pl-0" v-else-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation < (curStation?.stationNumber || 0)"/>
        <span v-else-if="item.entry.timeIn !== null" @click="editParticipantTime(item, 'timeIn')">
          <span class="nowrap">{{ normalizeTimeStr(item.entry.timeIn, includeSecondsWithTime) }}<v-icon class="pl-2" small>edit</v-icon></span>
        </span>
        <span v-else @click="setTimeIn(item)">
          <v-icon>add</v-icon>
        </span>
      </template>
      <template #item.timeOut="{ item }">
        <span v-if="typeof item.participant.dnfStation === 'number' || item.entry.timeOut !== null" @click="editParticipantTime(item, 'timeOut')">
          <i18next path="runner.dns" class="pl-0" v-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation === 0"/>
          <i18next path="runner.dropped" class="pl-0" v-else-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation <= (curStation?.stationNumber || 0)"/>
          <span class="nowrap" v-else>{{ normalizeTimeStr(item.entry.timeOut, includeSecondsWithTime) }}</span>
          <v-icon class="pl-2" small>edit</v-icon>
        </span>
        <span v-else @click="setTimeOut(item)">
          <v-icon>add</v-icon>
        </span>
      </template>
    </v-data-table>

    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <DnfDialog v-if="curStation" v-model="dnfDialog.open" :event-id="eventId" :station="curStation" @closed="dnfDialog.callback" />
    <StartTimeDialogSet v-model="setStartTimeDialogOpen" :selected="selected" @save="emit('requestUpdate'); selected = []" />
    <EditTimeDialog v-if="curStation" v-model="editTimeDialog.open" :item="editTimeDialog.item" :entry-key="editTimeDialog.entryKey" :station="curStation" @save="emit('requestUpdate'); selected = []" />
  </div>
</template>

<script lang="ts">
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
export interface IDataTableItem {
  bibNumber: number;
  participant: Participant;
  entry: Entry;
  timeIn: Date | null;
  timeOut: Date | null;
  modified: Date;
}
</script>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, getCurrentInstance, reactive, ref, watch } from 'vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import DnfDialog from '@/components/DnfDialog.vue';
import EditTimeDialog from '@/components/EditTimeDialog.vue';
import StartTimeDialogSet from '@/components/StartTimeDialogSet.vue';
import { download } from '@/lib/download';
import { normalizeTimeStr } from '@/lib/formatDate';
import { Transmission, runnersToFileStr, getFilename } from '@/models/transmission';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useSettingsStore, FILTER_RUNNERS_TO } from '@/stores/settings';
import { useTransmissionStore } from '@/stores/transmit';
import { i18next as $i18next } from '@/locales/i18next';

const props = defineProps<{
  entryList: Entry[];
  includeName?: boolean;
  lastTransmittedTimestamp: Date;
  listFilter: FILTER_RUNNERS_TO;
  participants: Participant[];
  sortBy: [string];
  sortDesc: [boolean];
}>();
const emit = defineEmits<{
  (e: 'requestUpdate'): void;
  (e: 'update:listFilter', value: FILTER_RUNNERS_TO): void;
  (e: 'update:sort-by', value: [string]): void;
  (e: 'update:sort-desc', value: [boolean]): void;
}>();

const currentInstance = getCurrentInstance();

const {
  transmission: activeTransmission,
} = storeToRefs(useTransmissionStore());

const selected = ref<IDataTableItem[]>([]);
const entrys = computed(() => {
  switch (props.listFilter) {
    case FILTER_RUNNERS_TO.NEEDS_TRANSMISSION:
      return props.entryList.filter(e => e.modified > (props.lastTransmittedTimestamp || 0));

    case FILTER_RUNNERS_TO.TRANSMITTED:
      const needsTransmittedEntryMap = props.entryList.reduce((map, entry) => {
        map[entry.id] = entry;
        return map;
      }, {} as { [id: string]: Entry });
      return props.entryList.filter(e => !(e.id in needsTransmittedEntryMap));

    case FILTER_RUNNERS_TO.IN_STATION:
      return props.entryList.filter(e => e.timeIn && !e.timeOut);

    case FILTER_RUNNERS_TO.ALL:
    case FILTER_RUNNERS_TO.DNF:
    case FILTER_RUNNERS_TO.EXPECTING:
    case FILTER_RUNNERS_TO.SEEN:
    default:
      return props.entryList;
  }
});
const dataTableItems = computed<IDataTableItem[]>(() => {
  if (props.listFilter === FILTER_RUNNERS_TO.EXPECTING || props.listFilter === FILTER_RUNNERS_TO.ALL) {
    const entriesByParticipantId = entrys.value.reduce((map, entry) => {
      map[entry.participantId] = entry;
      return map;
    }, {} as { [participantId: string]: Entry });

    let filteredParticipants = props.participants;
    if (props.listFilter === FILTER_RUNNERS_TO.EXPECTING) {
      const participantIds = entrys.value.map(e => e.participantId);
      filteredParticipants = filteredParticipants.filter(p => {
        return (!p.dnfStation && p.dnfStation !== 0) && participantIds.indexOf(p.id) === -1;
      });
    }
    return filteredParticipants.map(p => {
      const entry = entriesByParticipantId[p.id];
      return getDataItem(p, entry);
    });
  } else if (props.listFilter === FILTER_RUNNERS_TO.DNF) {
    return props.participants.filter(p => p.dnfStation === curStation.value?.stationNumber).map(p => {
      return getDataItem(p, null);
    });
  } else {
    const participantMap = props.participants.reduce((m, r) => { m[r.id] = r; return m; }, {} as {[participantId: string]: Participant});
    return entrys.value.map((entry) => {
      let participant = participantMap[entry.participantId];
      return getDataItem(participant, entry);
    }).filter(i => {
      if (props.listFilter === FILTER_RUNNERS_TO.IN_STATION) {
        return i.participant.dnfStation !== curStation.value?.stationNumber;
      }
      return true;
    });
  }
});
/**
 * This is updated by the data table and is ordered the same as what is displayed
 */
const itemsAsDisplayed = ref<IDataTableItem[]>([]);

function getDataItem(participant: Participant, entry: Entry | null): IDataTableItem {
  if (!curStation.value) {
    throw new Error('Should not have loaded this component without a station');
  }
  return {
    bibNumber: participant.bibNumber,
    participant,
    entry: entry || new Entry(eventId.value, participant.id, curStation.value.id),
    timeIn: entry?.timeIn || null,
    timeOut: entry?.timeOut || null,
    modified: entry?.modified || new Date(0),
  };
}

const editTimeDialog = reactive({
  entryKey: 'timeIn' as 'timeIn' | 'timeOut',
  item: {} as IDataTableItem,
  open: false,
});
const dnfDialog = reactive({
  open: false,
  callback: (val: false | string) => {},
});
const setStartTimeDialogOpen = ref(false);
const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n: '', i18nData: {}},
  open: false,
});

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const {
  callsign: fromCallsign,
  includeSecondsWithTime,
  skipTimeIn,
  skipTimeOut,
} = storeToRefs(useSettingsStore());
watch(curStation, () => {
  // If the current station changes then make sure we deselect all
  selected.value = [];
});
const headers = computed(() => {
  const listOfHeaders = [
    { text: currentInstance?.proxy.$t('dataHeaders.bib'), value: 'bibNumber' },
  ];
  if (props.includeName && currentInstance?.proxy.$vuetify.breakpoint.smAndUp) {
    listOfHeaders.push(
      { text: currentInstance?.proxy.$t('runner.firstName'), value: 'participant.firstName' },
      { text: currentInstance?.proxy.$t('runner.lastName'), value: 'participant.lastName' },
    );
  }
  if (!skipTimeIn.value) {
    listOfHeaders.push(
      { text: currentInstance?.proxy.$t('dataHeaders.timeIn'), value: 'timeIn' },
    );
  }
  if (!skipTimeOut.value) {
    listOfHeaders.push(
      { text: currentInstance?.proxy.$t('dataHeaders.timeOut'), value: 'timeOut' },
    );
  }
  return listOfHeaders;
});

function filterBy(filter: FILTER_RUNNERS_TO) {
  emit('update:listFilter', filter);
  updateSortBy();
  updateSortDesc();
}
function updateSortBy(value?: [string]) {
  if (value && value.length) {
    emit('update:sort-by', value);
    return;
  }
  switch (props.listFilter) {
    case FILTER_RUNNERS_TO.SEEN:
    case FILTER_RUNNERS_TO.NEEDS_TRANSMISSION:
    case FILTER_RUNNERS_TO.TRANSMITTED:
      emit('update:sort-by', ['modified']);
      break;
    case FILTER_RUNNERS_TO.IN_STATION:
      emit('update:sort-by', ['timeIn']);
      break;
    case FILTER_RUNNERS_TO.ALL:
    case FILTER_RUNNERS_TO.EXPECTING:
    default:
      emit('update:sort-by', ['bibNumber']);
      break;
  }
}
function updateSortDesc(value?: [boolean]) {
  if (value && value.length) {
    emit('update:sort-desc', value);
    return;
  }
  switch (props.listFilter) {
    case FILTER_RUNNERS_TO.SEEN:
    case FILTER_RUNNERS_TO.NEEDS_TRANSMISSION:
    case FILTER_RUNNERS_TO.TRANSMITTED:
    case FILTER_RUNNERS_TO.IN_STATION:
      emit('update:sort-desc', [true]);
      break;
    case FILTER_RUNNERS_TO.ALL:
    case FILTER_RUNNERS_TO.EXPECTING:
    default:
      emit('update:sort-desc', [false]);
      break;
  }
}


async function setTimeIn(item: IDataTableItem, timeIn = new Date()) {
  if (!curStation.value) { return; } // Shouldn't have loaded this component without a station
  timeIn = new Date(timeIn.getTime() - timeIn.getTime() % (includeSecondsWithTime.value ? 6E2 : 6E4));
  let participant = item.participant;
  let entry = item.entry;
  const currentTimeInOnEntry = entry?.timeIn?.getTime();
  if (timeIn?.getTime() !== (currentTimeInOnEntry && currentTimeInOnEntry - (currentTimeInOnEntry % (includeSecondsWithTime.value ? 6E2 : 6E4)))) {
    if (!entry) {
      entry = new Entry(eventId.value, participant.id, curStation.value.id);
    }
    entry.timeIn = timeIn;
    await entry.save();
    emit('requestUpdate');
  }
}
async function setTimeOut(item: IDataTableItem, timeOut = new Date()) {
  if (!curStation.value) { return; } // Shouldn't have loaded this component without a station
  timeOut = new Date(timeOut.getTime() - timeOut.getTime() % (includeSecondsWithTime.value ? 6E2 : 6E4));
  let participant = item.participant;
  let entry = item.entry;
  const currentTimeOutOnEntry = entry?.timeOut?.getTime();
  if (timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % (includeSecondsWithTime.value ? 6E2 : 6E4)))) {
    if (!entry) {
      entry = new Entry(eventId.value, participant.id, curStation.value.id);
    }
    entry.timeOut = timeOut;
    await entry.save();
    emit('requestUpdate');
  }
}
function editParticipantTime(item: IDataTableItem, entryKey: 'timeIn' | 'timeOut') {
  editTimeDialog.item = item;
  editTimeDialog.entryKey = entryKey;
  editTimeDialog.open = true;
}
async function getDnfReason(): Promise<string> {
  return new Promise((resolve, reject) => {
    dnfDialog.open = true;
    dnfDialog.callback = (val: string | false) => {
      if (val === false) {
        reject();
      } else {
        resolve(val);
      }
    };
  });
}
async function markDnf(items: IDataTableItem[]) {
  if (!curStation.value) { return; } // Shouldn't have loaded this component without a station
  try {
    const reason = await getDnfReason();
    const promises = [];
    for (const participant of items.map(i => i.participant)) {
      participant.drop({reason, station: curStation.value});
      promises.push(participant.save());
      promises.push((async () => {
        let entry = await Entry.getEntry(curStation.value!.id, participant.id);
        if (!entry) { entry = new Entry(eventId.value, participant.id, curStation.value!.id); }
        await entry.save();
      })());
    }
    await Promise.all(promises);
    selected.value = [];
    emit('requestUpdate');
  } catch (e) {
    // no-op
  }
}
async function deleteParticipants(items: IDataTableItem[]) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.text.i18n = 'runner.delete';
    confirmDialog.text.i18nData = {count: items.length};
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    selected.value = [];
    await Promise.all(items.map((i) => {
      return Participant.delete(i.participant);
    }));
    emit('requestUpdate');
  }
}
async function deleteEntries(items: IDataTableItem[]) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.text.i18n = 'runner.deleteEntry';
    confirmDialog.text.i18nData = {count: items.length};
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    selected.value = [];
    await Promise.all(items.map((i) => {
      return Entry.delete(i.entry);
    }));
    emit('requestUpdate');
  }
}
async function transmit() {
  if (!curStation.value) { return; } // Shouldn't have loaded this component without a station
  let filename = getFilename(curStation.value.stationNumber);
  const [runners, entrys] = [[] as Participant[], [] as Entry[]];
  for (const i of selected.value) {
    runners.push(i.participant);
    entrys.push(i.entry);
  }
  let contents = runnersToFileStr(runners, entrys, curStation.value);
  const transmission = Transmission.fromString(filename, contents, eventId.value, fromCallsign.value);
  transmission.entryCount = entrys.length;
  transmission.transmit((void 0), fromCallsign.value);
  await transmission.save();
  selected.value = [];
  emit('requestUpdate');
}
async function transmitChanges() {
  if (!curStation.value || props.listFilter !== FILTER_RUNNERS_TO.NEEDS_TRANSMISSION ) {
    // Shouldn't have loaded this component without a station
    return;
  }
  const filename = getFilename(curStation.value.stationNumber);
  const entrys = [];
  const participants = [];
  for (const i of dataTableItems.value) {
    entrys.push(i.entry);
    participants.push(i.participant);
  }
  let contents = runnersToFileStr(participants, entrys, curStation.value);
  const transmission = Transmission.fromString(filename, contents, eventId.value, fromCallsign.value);
  transmission.entryCount = entrys.length;
  transmission.hasAllChanges = true;
  transmission.transmit(undefined, fromCallsign.value);
  await transmission.save();
  selected.value = [];
  emit('requestUpdate');
}

function downloadDataTable() {
  const header = 'Bib Number,Time In,Time Out,DNF Reason';
  const data = itemsAsDisplayed.value.map((item) => {
    return [
      item.bibNumber,
      item.timeIn?.toString() || '',
      (typeof item.participant.dnfStation === 'number' ? 'DNF' : item.timeOut?.toString()) || '',
      item.participant.dnfReason,
    ].join(',');
  });
  data.unshift(header);
  const stationNumber = curStation.value!.stationNumber;
  const filterName = $i18next.t('filter.' + props.listFilter).replace(/\s/, '-');
  const filename = `Station-${stationNumber}-${filterName}.csv`;
  const filebody = data.join('\n');
  download(filename, filebody);
}

</script>

<style lang="scss" scoped>
.data-table::v-deep {
  .v-data-footer__pagination { margin: 0 16px 0 8px; }
  .v-data-footer__select .v-select { margin-left: 16px; }
  table.v-table {
    thead th:first-child { padding-right: 0; }
    thead th:nth-child(2) { padding-right: 0; }
    thead th:not(:first-child) { padding-left: 0; }
  }
}
.data-table::v-deep .v-data-footer { flex-wrap: nowrap; }

.v-btn.icon-btn {
  min-width: 36px;
}

.select-actions-enter, .select-actions-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
.select-actions-enter-active, .select-actions-leave-active {
  transition: all .1s ease;
}

.sticky {
  position: sticky;
  top: 0;
}
// .stick-under-titlebar {
//   $titleBarHeight: 43px;
//   top: $titleBarHeight;
// }
.right-0 { right: 0px; }
</style>
