<template>
  <v-menu bottom left offset-y :close-on-content-click="false">
    <template #activator="{ on, attrs }">
      <slot name="settings-activator" v-bind="{ on, attrs }">
        <v-btn text class="px-1" min-width="36" v-bind="attrs" v-on="on">
          <v-icon>settings</v-icon>
        </v-btn>
      </slot>
    </template>

    <v-sheet class="surface px-4">
      <div class="caption pt-2">{{ $t('settings.darkMode.label') }}</div>
      <v-btn-toggle background-color="primary" v-model="darkMode" active-class="primary white--text">
        <v-btn class="pt-1" value="auto">
          <div>
            <v-icon :class="{'white--text': darkMode !== false && darkMode !== true}">brightness_4</v-icon>
            <div class="caption pl-1">{{ $t('settings.darkMode.auto') }}</div>
          </div>
        </v-btn>
        <v-btn class="pt-1" :value="true">
          <div>
            <v-icon>dark_mode</v-icon>
            <div class="caption pl-1">{{ $t('settings.darkMode.on') }}</div>
          </div>
        </v-btn>
        <v-btn class="pt-1" :value="false">
          <div>
            <v-icon :class="{'white--text': !darkMode}">light_mode</v-icon>
            <div class="caption pl-1">{{ $t('settings.darkMode.off') }}</div>
          </div>
        </v-btn>
      </v-btn-toggle>
      <v-divider class="mt-4" />
      <slot name="settings-items" />
      <v-divider />
      <v-list-item class="text-body-2 select-none px-0 justify-center">
        {{ $t('appVersion', { appVersion: appVersion }) }}
      </v-list-item>
    </v-sheet>
  </v-menu>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed } from 'vue';
import { useAppStore } from '@/stores/app';
import { useSettingsStore } from '@/stores/settings';

const {
  appVersion,
} = storeToRefs(useAppStore());
const {
  preferDarkMode,
} = storeToRefs(useSettingsStore());

const darkMode = computed({
  get: () => preferDarkMode.value,
  set: (value: boolean | 'auto') => preferDarkMode.value = value,
});
</script>
