<template>
  <v-dialog :value="value" @input="$emit('input', $event)" max-width="400" content-class="overflow-y-unset" @keydown="onKeydown">
    <v-card class="background">
      <v-card-title>
        <div>{{ $t('dialogs.setStartTime.title') }}</div>
        <v-spacer />
        <v-btn text class="px-1" min-width="36" @click="closeDialog">
          <v-icon :class="$vuetify.theme.dark ? 'white--text' : 'black--text'">close</v-icon>
        </v-btn>
      </v-card-title>
      <div class="pb-5 px-6">
        <div class="pb-3">{{ $t('dialogs.setStartTime.description', {count: selected.length}) }}</div>
        <v-layout wrap>
          <v-flex xs12>
            <InputField
              :label="$t('dialogs.setStartTime.startTimeField')"
              :value="normalizeTimeStr(datePickerTime && datePickerTime.number, true)"
              focused
              :error-message="datePickerTime && !datePickerTime.isValid ? $t('errors.invalidTime') : ''"
            >
              <template #append-inner>
                <InputFieldDay
                  @click.stop="datePickerOpen = !datePickerOpen"
                  :date="new Date(datePickerDay)"
                />
              </template>
              <InputFieldDatePicker
                v-if="datePickerOpen"
                :value="formatDate(new Date(datePickerDay), 'YYYY-MM-DD')"
                @change="onDatePickerUpdate($event); datePickerOpen = false"
              />
            </InputField>
          </v-flex>
        </v-layout>
      </div>
      <Numpad
        :repeat="false"
        :in="false"
        :out="false"
        :enter="datePickerTime?.isValid === false ? 'disabled' : true"
        :enter-text="$t('buttons.save')"
        @backspace="backspacePressed()"
        @enter="setStartTimeOnParticipants(selected, datePickerStartTime); closeDialog()"
        @cancel="closeDialog()"
        @now="setTimeToNow()"
        v-on="numberListeners"
      />
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { ref, watch } from 'vue';
import InputField from '@/components/InputField.vue';
import InputFieldDatePicker from '@/components/InputFieldDatePicker.vue';
import InputFieldDay from '@/components/InputFieldDay.vue';
import { formatDate, getTime, normalizeTimeStr } from '@/lib/formatDate';
import Entry from '@/models/entry';
import { IDataTableItem } from '@/components/RecordsDataTable.vue';
import Numpad from '@/components/Numpad.vue';
import { useRaceEventStore } from '@/stores/raceEvent';

const props = defineProps<{
  value: boolean;
  selected: IDataTableItem[];
}>();
const emit = defineEmits<{
  (e: 'input', value: boolean): void;
  (e: 'save'): void;
}>();

const {
  eventId,
  stationId,
} = storeToRefs(useRaceEventStore());

const datePickerOpen = ref(false);
const datePickerStartTime = ref<Date | null>(new Date());
const datePickerDay = ref(new Date().toLocaleDateString());
const datePickerTime = ref<{ number: number, isValid: boolean } | null>(null);

watch(datePickerStartTime, () => {
  if (datePickerStartTime.value) {
    datePickerDay.value = datePickerStartTime.value.toLocaleDateString();
  }
  datePickerTime.value = getTime(datePickerStartTime.value, true);
}, {
  immediate: true,
});

watch(() => props.value, () => {
  if (props.value) {
    datePickerStartTime.value = props.selected[0].timeOut || null;
  }
});

watch(datePickerTime, (curVal, oldVal) => {
  if (curVal?.number === oldVal?.number) { return; }
  if (curVal === null) {
    datePickerStartTime.value = null;
  } else if (datePickerTime.value?.isValid) {
    datePickerStartTime.value = new Date(`${datePickerDay.value} ${normalizeTimeStr(datePickerTime.value?.number || 0, true)}`);
  }
});

const numberListeners: Record<string, () => void> = {};
for (let i = 0; i < 10; i++) {
  numberListeners[`${i}`] = () => numberPressed(String(i));
}

function onKeydown(evt: KeyboardEvent) {
  let prevent = false;
  if (evt.key === 'Backspace') {
    backspacePressed();
    prevent = true;
  }
  if (/[0-9]/.test(evt.key)) {
    numberPressed(evt.key);
    prevent = true;
  }

  if (prevent) {
    evt.preventDefault();
    evt.stopPropagation();
  }
}

function numberPressed(key: string) {
  datePickerTime.value = getTime(Number(`${datePickerTime.value?.number || ''}${key}`), true);
}

function backspacePressed() {
  const curNumStr = String(datePickerTime.value?.number || '');
  const newNumStr = curNumStr.substring(0, curNumStr.length - 1);
  datePickerTime.value = getTime(newNumStr || null, true);
}

function onDatePickerUpdate(payload: string | Date) {
  if (typeof payload === 'string') {
    let match = /(\d\d\d\d)-(\d\d)-(\d\d)/.exec(payload);
    if (!match) { return; }
    let [, year, month, day] = match;
    payload = new Date(Number(year), Number(month)-1, Number(day));
  }
  if (!isNaN(payload.getTime())) {
    datePickerDay.value = new Date(payload).toLocaleDateString();
    if (datePickerTime.value?.isValid) {
      datePickerStartTime.value = new Date(`${datePickerDay.value} ${normalizeTimeStr(datePickerTime.value?.number || 0, true)}`);
    }
  }
}
async function setTimeToNow() {
  const now = new Date();
  now.setMilliseconds(0);
  datePickerStartTime.value = now;
}
function setStartTimeOnParticipants(items: IDataTableItem[], startTime: Date | null) {
  if (startTime) {
    startTime.setMilliseconds(0);
  }
  for (const item of items) {
    setTimeOut(item, startTime);
  }
}
async function setTimeOut(item: IDataTableItem, timeOut: Date | null = new Date()) {
  let participant = item.participant;
  let entry = item.entry;
  const currentTimeOutOnEntry = entry?.timeOut?.getTime();
  if (timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % 6E2))) {
    if (!entry) {
      entry = new Entry(eventId.value, participant.id, stationId.value);
    }
    entry.timeOut = timeOut;
    await entry.save();
    emit('save');
  }
}

function closeDialog() {
  emit('input', false);
}
</script>

<style scoped lang="scss">
</style>
