<template>
  <v-subheader class="title-bar surface elevation-1">
    <v-btn v-if="routeFrom[0]" text color="accent" :to="backRoute" class="pl-0 ml-n2 my-0 back-btn no-min-width">
      <v-icon>chevron_left</v-icon>
      <span>{{ $t(`tabs.${routeFrom[0]}`) }}</span>
    </v-btn>
    <slot name="title">
      <StationPicker v-if="!routeFrom[0]" />
    </slot>
    <v-flex />
    <div class="d-flex flex-shrink-0 action-items">
      <slot name="action-items" />
    </div>
    <slot name="settings">
      <Settings>
        <template v-for="slot in ['settings-activator', 'settings-items']" #[slot]="slotProps">
          <slot :name="slot" v-bind="slotProps" />
        </template>
      </Settings>
    </slot>
  </v-subheader>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed } from 'vue';
import type { RawLocation } from 'vue-router';
import Settings from '@/components/Settings.vue';
import StationPicker from '@/components/common/StationPicker.vue';
import router from '@/router';
import { ROUTES } from '@/router/routes';
import { useRaceEventStore } from '@/stores/raceEvent';

const {
  eventId,
  eventSlug,
  station,
} = storeToRefs(useRaceEventStore());

const routeFrom = computed(() => Array.isArray(router.currentRoute.query.routeFrom) ? router.currentRoute.query.routeFrom : [router.currentRoute.query.routeFrom]);
const backRoute = computed((): RawLocation => {
  if (!routeFrom.value[0]) {
    return {};
  }
  return {
    name: routeFrom.value[0],
    query: routeFrom.value[1] ? {routeFrom: routeFrom.value.slice(1)} : {},
    params: {
      eventIdOrSlug: eventSlug.value || eventId.value,
      stationIdOrSlug: station.value?.id || '',
      ...router.currentRoute.params,
    },
  };
});
</script>

<style scoped lang="scss">
@import "@/variables.scss";
.theme--dark.title-bar { background-color: #424242; color: #FFF; }
.theme--light.title-bar { background-color: #FFF; color: #000; }
.title-bar {
  flex-shrink: 0; height: #{$titleBarHeight}; font-size: 18px; font-weight: 500;
  position: fixed; top: 0; top: var(--safe-area-top); left: 0; right: 0; z-index: 3;
}
.back-btn { line-height: 24px; text-transform: initial; }
.theme--dark.back-btn:before { background: transparent; }

.action-items::v-deep {
  .v-btn {
    background-color: initial;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 36px;
  }
}

.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
