<template>
  <v-dialog :value="open" max-width="400" @input="changed">
    <v-card>
      <v-card-title class="subheading break-word">
        {{ $t(text.i18n, text.i18nData) }}
      </v-card-title>
      <v-card-actions>
        <v-spacer />
        <v-btn color="hamstudyBlue" text @click.stop="resolve(false)">
          <i18next path="buttons.cancel"></i18next>
        </v-btn>
        <v-btn color="hamstudyBlue" text @click.stop="resolve(true)">
          <i18next :path="confirmBtnText"></i18next>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import {
  type VDialog, type VCard, type VCardTitle, type VCardActions,
  type VSpacer, type VBtn,
} from 'vuetify/lib';

defineProps<{
  open: boolean;
  confirmBtnText: string;
  text: { i18n: string; i18nData: any };
}>();

const emit = defineEmits<{
  (e: 'closed', value: boolean): void;
}>();

const resp = ref(false);

function resolve(value: boolean) {
  emit('closed', value);
}

function changed(value: boolean) {
  resolve(resp.value);
}

defineExpose({
  resolve,
});
</script>

<style scoped>
  .break-word { word-break: break-word; }
</style>
