<template>
  <v-snackbar
    v-model="snack.open"
    :top="snack.top"
    :bottom="snack.bottom"
    :left="snack.left"
    :right="snack.right"
    :timeout="snack.timeout"
    color="hamstudyBlue"
  >
    <div v-if="snack.message">{{snack.message}}</div>
    <i18next :path="snack.i18next" v-else-if="snack.i18next"></i18next>
    <v-btn text color="white" v-if="snack.action" @click.stop="snack.action.callback">
      <span>{{snack.action.text}}</span>
    </v-btn>
    <v-btn text color="white" @click.stop="snack.open = false">
      <i18next path="buttons.close"></i18next>
    </v-btn>
  </v-snackbar>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { ref, watch } from 'vue';
import { type VSnackbar, type VBtn } from 'vuetify/lib';

import { useNotificationStore, type SNACKBAR } from '@/stores/notifications';

const {
  snackbar,
} = storeToRefs(useNotificationStore());

const snack = ref<SNACKBAR & { open: boolean; }>({
  open: false,
});

watch(snackbar, () => {
  snack.value = Object.assign(
    {
      open: snackbar.value && (!!snackbar.value.i18next || !!snackbar.value.message) || false,
      bottom: false,
      left: false,
      right: true,
      top: true,
    },
    snackbar.value,
  );
});
</script>
