<template>
  <v-menu bottom left offset-y>
    <template v-slot:activator="{ on, attrs }">
      <div class="d-flex truncate" v-if="curStation" v-on="on" v-bind="attrs">
        <div class="d-flex truncate" v-if="curStation.name && curStation.name.trim()">
          <i18next tag="div" path="station.name_short" class="pr-1 flex-shrink-0">
            <span>{{curStation.stationNumberDisplayed && curStation.stationNumberDisplayed.trim() || curStation.stationNumber}}</span>
          </i18next>
          <div class="truncate">{{curStation.name}}{{curStation.distance ? ' - ' + curStation.distance : ''}}</div>
        </div>
        <i18next tag="div" slot="title" path="titles.station" v-else class="truncate">{{curStation.stationNumberDisplayed || curStation.stationNumber}}</i18next>
        <v-icon>keyboard_arrow_down</v-icon>
      </div>
      <i18next :path="'titles.' + $route.name" v-else></i18next>
    </template>

    <v-list class="surface">
      <v-list-item :to="{name: ROUTES.raceEventPicker.name, query: {routeFrom: $route.name}}">
        <v-list-item-title class="accent--text font-weight-medium">
          <div class="d-flex align-center">
            <v-icon class="accent--text font-weight-medium mr-3">keyboard_arrow_left</v-icon>
            <i18next class="flex-grow-1" path="settings.pickEvent"></i18next>
          </div>
        </v-list-item-title>
      </v-list-item>
      <v-divider />
      <v-subheader class="ml-n1">{{ $t('stationPicker.stations') }}</v-subheader>
      <v-list-item v-for="(station, i) in stations" :key="i"
        @click="setStation(station)"
        class="pl-6"
        :class="{'v-list-item--active': station.id === stationId}"
      >
        <v-list-item-title>
          <span v-if="station.name && station.name.trim()">{{station.stationNumberDisplayed ? station.stationNumberDisplayed.trim() ? '(' + station.stationNumberDisplayed + ') ' : '' : '(' + station.stationNumber + ') '}}{{station.name}}{{station.distance ? ' - ' + station.distance : ''}}</span>
          <i18next tag="span" slot="title" path="titles.station" v-else>{{station.stationNumberDisplayed || station.stationNumber}}</i18next>
        </v-list-item-title>
      </v-list-item>
      <v-list-item :to="{name: ROUTES.stationPicker.name, query: {routeFrom: $route.name}}" class="pl-6">
        <v-list-item-title class="accent--text">
          <v-icon class="mr-3 accent--text">add_business</v-icon>
          <i18next path="stationPicker.add"></i18next>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, ref } from 'vue';
import { Race } from '@/models/race';
import { Station } from '@/models/station';
import router, { ROUTES } from '@/router';
import { useRaceEventStore } from '@/stores/raceEvent';

const $route = computed(() => router.currentRoute);

const {
  eventId,
  station: curStation,
  stationId,
} = storeToRefs(useRaceEventStore());

const races = ref<Record<string, Race>>({});
const routeFrom = computed(() => Array.isArray($route.value.query.routeFrom) ? $route.value.query.routeFrom[0] : $route.value.query.routeFrom);
const stations = ref<Station[]>([]);

async function getRaces() {
  races.value = (await Race.getRaces(eventId.value)).reduce((m, r) => {
    m[r.id] = r;
    return m;
  }, {} as {[id: string]: Race});
}

async function getStations() {
  stations.value = await Station.getStations(eventId.value);
  stations.value.sort((a,b) => a.stationNumber > b.stationNumber ? 1 : -1);
}

function setStation(station: Station | null) {
  stationId.value = station?.id || '';
  curStation.value = station;
  if (routeFrom.value) {
    router.push({name: routeFrom.value});
  }
}

getStations();
getRaces();
</script>

<style scoped>
.max-100 { max-height: 100%; }
.v-menu__content { max-height: calc(100vh - 97px); }
</style>
