<template>
  <v-bottom-navigation
    app
    dark
    class="primary"
    :shift="$vuetify.breakpoint.width < 412"
  >
    <template v-for="nav in navButtons">
      <v-btn
        :value="nav.route.name"
        :to="nav.route"
        :key="nav.route.name"
      >
        <span>{{ $t(nav.label) }}</span>
        <v-icon class="!text-[24px]">
          {{ nav.icon }}
        </v-icon>
      </v-btn>
    </template>
  </v-bottom-navigation>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, ref } from 'vue';

import { ROUTES } from '@/router';
import { useRaceEventStore } from '@/stores/raceEvent';

const {
  eventId,
  eventSlug,
  station,
} = storeToRefs(useRaceEventStore());

const params = computed(() => ({
  eventIdOrSlug: eventSlug.value || eventId.value,
  stationIdOrSlug: station.value?.id,
}));

const navButtons = ref([
  {
    route: {
      name: ROUTES.inputTimes.name,
      params,
    },
    icon: 'edit',
    label: 'tabs.inputTimes',
  },
  {
    route: {
      name: ROUTES.entries.name,
      params,
    },
    icon: 'content_paste',
    label: 'tabs.entries',
  },
  {
    route: {
      name: ROUTES.transmit.name,
      params,
    },
    icon: 'speaker_phone',
    label: 'tabs.transmit',
  },
  {
    route: {
      name: ROUTES.receive.name,
      params,
    },
    icon: 'hearing',
    label: 'tabs.receive',
  },
  {
    route: {
      name: ROUTES.grid.name,
      params: computed(() => ({ eventIdOrSlug: eventSlug.value || eventId.value })),
    },
    icon: 'table_chart',
    label: 'tabs.grid',
  },
]);
</script>

<style scoped lang="scss">
.v-bottom-navigation--shift .v-btn {
  min-width: 64px !important;
}
.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  background-color: rgba(255, 255, 255, 0.24);
}
.v-btn:before { content: none; }
.v-bottom-navigation {
  height: auto !important;
  padding-bottom: var(--safe-area-bottom);
  .v-btn {
    height: 56px;
  }
}
</style>
