<template>
  <v-row class="mt-4" align="center" justify="center" :no-gutters="true">
    <v-col cols="12" sm="8" md="6" lg="4">
      <v-card elevation="10" class="md-5" :loading="loading">
        <v-toolbar :color="$vuetify.theme.dark ? 'grey darken-3' : 'grey lighten-4'" flat>
          <v-spacer />
          <v-toolbar-title role="heading" aria-level="1" v-html="$t('authenticate.dialogTitle')"></v-toolbar-title>
          <v-spacer />
        </v-toolbar>
        <v-row class="py-4">
          <v-col column class="mx-4 pb-0">
            <v-text-field :label="$t('authenticate.accessToken')" v-model="accessToken" required autocomplete="off"
              @keyup.native.enter="tryAuth" :error="!!errorI18n" :error-messages="$t(errorI18n)"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-btn
            color="primary"
            @click="tryAuth"
            block :disabled="submitActive || !accessToken"
          >
            <i18next path="authenticate.login"></i18next>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import router from '@/router';
import { useSettingsStore } from '@/stores/settings';

const accessToken = ref('');
const errorI18n = ref('');
const loading = ref(false);
const submitActive = ref(false);

const settingsStore = useSettingsStore();

async function tryAuth() {
  if (!accessToken.value) { return; }
  try {
    submitActive.value = true;
    await settingsStore.login(accessToken.value);
    await router.push('/');
  } catch (e: any) {
    if (e.response?.status === 401) {
      errorI18n.value = 'authenticate.invalidToken';
    } else {
      errorI18n.value = 'authenticate.error';
    }
  } finally {
    submitActive.value = false;
  }
}
</script>
