<template>
  <Layout :content-contained="false" :set-max-width="false">
    <template #action-items>
      <OverviewSendMenu />
      <v-tooltip bottom>
        <template #activator="{ on }">
          <v-btn text v-on="on" @click="downloadOverview">
            <v-icon>download</v-icon>
          </v-btn>
        </template>
        <span>{{ $t('buttons.download') }}</span>
      </v-tooltip>
      <OverviewReceiveModal />
      <v-btn v-if="!listening" text @click.stop="receiveStore.listen">
        <v-icon>mic_off</v-icon>
      </v-btn>
      <v-btn v-else text @click.stop="receiveStore.stopListening">
        <v-icon>mic</v-icon>
      </v-btn>
    </template>
    <v-subheader v-if="races.length" class="fixed surface zi-3 elevation-1 full-width titlebar-height top-titlebar-height">
      <v-tabs :color="$vuetify.theme.dark ? 'white' : 'primary'" class="ml-n4" center-active background-color="transparent" v-model="selectedRaceIdx" @change="filter">
        <v-tab>{{ $t('grid.raceTabs.all') }}</v-tab>
        <template v-for="race of races">
          <v-tab :key="race.id">{{race.name}}</v-tab>
        </template>
      </v-tabs>
    </v-subheader>
    <div ref="scrollingDiv"
      v-if="entries.length"
      class="d-flex full-height scroll-horizontally"
      :class="{ 'titlebar-padding': races.length }"
    >
      <div class="bib-col flex-shrink-0 sticky sticky--left zi-2 background" :class="{'border-right': !$vuetify.breakpoint.smAndUp && !scrolledFullLeft}" :style="{height: ((participants.length * 32) + 56) + 'px'}">
        <div class="sticky sticky--top background" :class="{'border-bottom': !scrolledFullTop}">
          <div class="pt-1">
            <v-tooltip>
              <template #activator="{ on }">
                <div v-on="on" style="height: 1.5em"></div>
              </template>
              <div v-html="$t('grid.tooltip.count', { dnf: dnfCount, dns: dnsCount, total: participants.length })"></div>
            </v-tooltip>
          </div>
          <div class="pl-3 pr-2 pb-1 cursor-pointer" @click="sort('bibNumber')" :class="{'primary white--text': sortConfig.sortByKey === 'bibNumber'}">
            <i18next path="dataHeaders.bib"></i18next>
            <v-icon class="absolute right-0 white--text" v-if="sortConfig.sortByKey === 'bibNumber'">arrow_drop_{{sortConfig.sortDesc ? 'down' : 'up'}}</v-icon>
          </div>
        </div>
        <template v-for="(p, $pidx) of participants">
          <v-tooltip right :key="$pidx">
            <template #activator="{ on }">
              <div v-on="on" class="nowrap pl-3 py-1" :class="[$vuetify.theme.dark ? 'accent--text' : 'primary--text font-weight-medium', $pidx % 2 === 0 ? 'surface' : 'background']">{{p.bibNumber}}</div>
            </template>
            <div>{{$pidx + 1}}</div>
          </v-tooltip>
        </template>
      </div>

      <div class="sticky name-col zi-1 background" :class="[{'sticky--left': $vuetify.breakpoint.smAndUp, 'border-right': $vuetify.breakpoint.smAndUp && !scrolledFullLeft}]" :style="{height: ((participants.length * 32) + 56) + 'px'}">
        <div class="sticky sticky--top background" :class="{'border-bottom': !scrolledFullTop}">
          <div class="pt-1"><div style="height: 1.5em"></div></div>
          <div class="px-2 pb-1 cursor-pointer" @click="sort('firstName')" :class="{'primary white--text': sortConfig.sortByKey === 'firstName'}">
            <i18next path="dataHeaders.name"></i18next>
            <v-icon class="absolute right-0 white--text" v-if="sortConfig.sortByKey === 'firstName'">arrow_drop_{{sortConfig.sortDesc ? 'down' : 'up'}}</v-icon>
          </div>
        </div>
        <div class="nowrap px-2 py-1 cursor-pointer" v-for="(p, $pidx) of participants" :key="$pidx" :class="[$vuetify.theme.dark ? 'accent--text' : 'primary--text font-weight-medium', $pidx % 2 === 0 ? 'surface' : 'background']" @click="$router.push({name: ROUTES.runnerDetails.name, params: {bibNumber: p.bibNumber}, query: {routeFrom: $route.name}})">
          <v-tooltip right :key="$pidx">
            <template #activator="{ on }">
              <div v-on="on" style="height: 1.5em">{{p.firstName}} {{p.lastName}}</div>
            </template>
            <span v-if="p.sex">{{ p.sex }}</span>
            <span v-if="p.age">{{ p.age }}</span>
          </v-tooltip>
        </div>
      </div>

      <template v-for="(station, $sidx) in stations">
        <div :key="$sidx" :style="{height: ((participants.length * 32) + 56) + 'px'}">
          <div class="sticky sticky--top background" :class="{'border-bottom': !scrolledFullTop}">
            <div class="ml-3 mr-1 pt-1 relative">
              <div style="height: 1.5em">
                <v-tooltip bottom>
                  <template #activator="{ on }">
                    <div v-on="on" class="truncate absolute max-width-100 cursor-default" :class="$vuetify.theme.dark ? 'accent--text' : 'primary--text font-weight-medium'">{{station.stationNumberDisplayed || station.stationNumber}}{{(!station.stationNumberDisplayed || station.stationNumberDisplayed.trim()) && ': '}}{{station.name}}</div>
                  </template>
                  <div>Total Through: {{stats[$sidx].totalThrough}}</div>
                  <div>Total Men Through: {{stats[$sidx].totalThrough - stats[$sidx].totalWomenThrough}}</div>
                  <div>Total Women Through: {{stats[$sidx].totalWomenThrough}}</div>
                  <div>Remaining: {{stats[$sidx].remaining}}</div>
                </v-tooltip>
              </div>
            </div>
            <div class="d-flex nowrap justify-evenly column pb-1 pl-3 pr-3 border-left">
              <div class="cursor-pointer relative flex-grow-1 flex-basis-0 pl-1 pr-3" v-if="$sidx > 0 || stations.length === 1" @click="sort(station, 'timeIn')" :class="{'primary white--text': sortConfig.station === station && sortConfig.entryKey === 'timeIn'}">
                <span>In</span>
                <v-icon class="absolute right-0 white--text" v-if="sortConfig.station === station && sortConfig.entryKey === 'timeIn'">arrow_drop_{{sortConfig.sortDesc ? 'down' : 'up'}}</v-icon>
              </div>
              <div class="cursor-pointer relative flex-grow-1 flex-basis-0" v-if="$sidx < stations.length - 1 || stations.length === 1" @click="sort(station, 'timeOut')" :class="{'primary white--text': sortConfig.station === station && sortConfig.entryKey === 'timeOut'}">
                <span class="pl-1">Out</span>
                <v-icon class="absolute right-0 white--text" v-if="sortConfig.station === station && sortConfig.entryKey === 'timeOut'">arrow_drop_{{sortConfig.sortDesc ? 'down' : 'up'}}</v-icon>
              </div>
            </div>
          </div>
          <template v-for="(e, $eidx) in entries[$sidx]">
            <div class="column d-flex nowrap rslab px-5 py-1" :class="e.css" :key="$eidx">
              <v-tooltip top :disabled="!e.tooltipIn">
                <template #activator="{ on }">
                  <div class="pr-3 cursor-pointer" v-if="$sidx > 0 || stations.length === 1" v-on="on" @click="editParticipantTime(station, e.editObj.participant, 'timeIn')">{{e.timeIn}}</div>
                </template>
                <span v-html="e.tooltipIn"></span>
              </v-tooltip>
              <v-tooltip top :disabled="!e.tooltipOut">
                <template #activator="{ on }">
                  <div class="cursor-pointer" v-if="$sidx < stations.length - 1 || stations.length === 1" v-on="on" @click="editParticipantTime(station, e.editObj.participant, 'timeOut')">{{e.timeOut}}</div>
                </template>
                <span v-html="e.tooltipOut"></span>
              </v-tooltip>
            </div>
          </template>
        </div>
      </template>
    </div>
    <EditTimeDialog v-model="editTimeDialog.open" :item="editTimeDialog.item" :entry-key="editTimeDialog.entryKey" :station="editTimeDialog.station" @save="updateEntries()" />
  </Layout>
</template>


<script setup lang="ts">
import { useScroll } from '@vueuse/core';
import { storeToRefs } from 'pinia';
import { computed, onUnmounted, reactive, ref, toRefs, watch } from 'vue';
import OverviewReceiveModal from '@/components/OverviewReceiveModal.vue';
import OverviewSendMenu from '@/components/OverviewSendMenu.vue';
import Layout from '@/router/layouts/Main.vue';
import EditTimeDialog from '@/components/EditTimeDialog.vue';
import { download } from '@/lib/download';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Race } from '@/models/race';
import { Station } from '@/models/station';
import { IStationDoc } from '@/models/base/station';
import { normalizeTimeStr } from '@/lib/formatDate';
import { ROUTES } from '@/router';
import { IDataTableItem } from '@/components/RecordsDataTable.vue';
import { useTranslate } from '@/composables/useTranslate';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useReceiveStore } from '@/stores/receive';
import { useSettingsStore } from '@/stores/settings';

const $t = useTranslate();

interface EditObj {
  participant: Participant;
  timeIn: Date | null;
  timeOut: Date | null;
}
interface StatsPerStation {
  totalThrough: number;
  totalWomenThrough: number;
  remaining: number;
}
interface SortConfig {
  station: IStationDoc | null;
  entryKey: 'timeIn' | 'timeOut' | null;
  sortByKey: keyof Participant | null;
  sortDesc: boolean;
}

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const {
  darkMode,
} = storeToRefs(useSettingsStore());

const receiveStore = useReceiveStore();
const {
  listening,
} = storeToRefs(receiveStore);

const scrollingDiv = ref<HTMLDivElement>();
const { arrivedState } = useScroll(scrollingDiv, { idle: 0 });
const { left: scrolledFullLeft, top: scrolledFullTop } = toRefs(arrivedState);

const entryMap = ref<{[participantIdStationId: string]: Entry}>({});
const entries = ref<Array<Array<{timeIn: string; timeOut: string; css: string; tooltipIn: string; tooltipOut: string; editObj: EditObj;}>>>([]);
const participants = ref<Participant[]>([]);
const stations = ref<IStationDoc[]>([]);
const stats = ref<StatsPerStation[]>([]);

const allParticipants = ref<Participant[]>([]);
const dnfCount = computed(() => participants.value.filter(p => typeof p.dnfStation === 'number' && p.dnfStation > 0).length);
const dnsCount = computed(() => participants.value.filter(p => p.dnfStation === 0).length);
const allStations = ref<Station[]>([]);
const races = ref<Race[]>([]);
const selectedRaceIdx = ref(0);
const race = computed(() => races.value[selectedRaceIdx.value - 1]);

const sortConfig = ref<SortConfig>({
  station: null,
  entryKey: 'timeIn',
  sortByKey: null,
  sortDesc: false,
});
const sortConfigs: {[raceId: string]: SortConfig} = reactive({});

const editTimeDialog = reactive({
  open: false,
  item: {} as IDataTableItem,
  entryKey: 'timeIn' as 'timeIn' | 'timeOut',
  station: curStation.value as IStationDoc,
});

let updateHandle: NodeJS.Timeout | null = null;
async function created() {
  const [fetchedRaces, fetchedStations] = await Promise.all([
    Race.getRaces(eventId.value),
    Station.getStations(eventId.value),
  ]);
  allStations.value = [...fetchedStations];
  stations.value = fetchedStations;
  races.value = fetchedRaces;

  // set the initial sort
  sortConfig.value.station = stations.value[stations.value.length - 1];
  sortConfigs.all = {
    ...sortConfig.value,
    station: allStations.value[allStations.value.length - 1],
  };
  for (const race of races.value) {
    const stationsForRace = race!.stationsPopulated ?? stations.value;
    sortConfigs[race!.id] = {
      ...sortConfig.value,
      station: stationsForRace[stationsForRace.length - 1],
    };
  }

  // Call the first time
  await updateEntries();

  // Set up an updateEntries every minute from now
  updateHandle = setInterval(() => {
    updateEntries();
  }, 60 * 1000);
}
created();

watch(darkMode, formatDataForDisplay);

onUnmounted(() => {
  if (updateHandle !== null) { clearInterval(updateHandle); }
});

async function updateEntries() {
  const [fetchedEntries, fetchedParticipants] = await Promise.all([
    Entry.getEntrys({eventId: eventId.value}),
    Participant.getParticipants(eventId.value),
  ]);
  allParticipants.value = [...fetchedParticipants];
  participants.value = fetchedParticipants;
  for (const entry of fetchedEntries) {
    const key = `${entry.participantId}${entry.stationId}`;
    entryMap.value[key] = entry;
  }
  filter();
}

function filter() {
  if (!race.value) { // All tab
    participants.value = [...allParticipants.value];
    stations.value = [...allStations.value];
    sortConfig.value = sortConfigs.all;
  } else {
    participants.value = allParticipants.value.filter(p => race.value.id === p.raceId);
    stations.value = race.value.stationsPopulated ?? stations.value;
    sortConfig.value = sortConfigs[race.value.id];
  }

  if (!sortConfig.value.sortByKey) {
    sortConfig.value.station = stations.value.find(s => s.id === sortConfig.value.station?.id) || stations.value[stations.value.length - 1];
  }

  sort();
}

function sort(key?: keyof Participant): void;
function sort(station: IStationDoc, entryKey: 'timeIn' | 'timeOut'): void;
function sort(
  /** Station or sort key such as bibNumber */
  arg1?: IStationDoc | keyof Participant,
  entryKey?: 'timeIn' | 'timeOut',
) {
  const participantKey = typeof arg1 === 'string' ? arg1 : null;
  let station: IStationDoc | null = (!arg1 || typeof arg1 === 'string') ? null : arg1;

  const sortToSameStation = station !== null && station === sortConfig.value.station && entryKey === sortConfig.value.entryKey || false;
  const sortToSameKey = participantKey && participantKey === sortConfig.value.sortByKey || false;

  const swapSortDesc = sortToSameKey || sortToSameStation;
  if (swapSortDesc) {
    sortConfig.value.sortDesc = !sortConfig.value.sortDesc;
  } else if (participantKey && !sortConfig.value.sortByKey) {
    sortConfig.value.sortDesc = true;
  } else if (station && !sortConfig.value.station) {
    sortConfig.value.sortDesc = false;
  }

  if (participantKey) {
    sortConfig.value.sortByKey = arg1 as keyof Participant;
    sortConfig.value.station = null;
    sortConfig.value.entryKey = null;
  } else if (station) {
    sortConfig.value.sortByKey = null;
    sortConfig.value.station = station;
    sortConfig.value.entryKey = entryKey || null;
  }
  if (!station && sortConfig.value.station) {
    station = sortConfig.value.station;
  }
  participants.value.sort((a, b) => a.bibNumber > b.bibNumber ? 1 : -1);
  stations.value.sort((a, b) => a.stationNumber > b.stationNumber ? 1 : -1);

  const gtResp = sortConfig.value.sortDesc ? 1 : -1;
  const ltResp = sortConfig.value.sortDesc ? -1 : 1;

  if (sortConfig.value.sortByKey) {
    const key: keyof Participant = sortConfig.value.sortByKey;
    participants.value.sort((a, b) => {
      return a[key] === b[key] ? 0 : (a[key] || '') > (b[key] || '') ? gtResp : ltResp;
    });
    formatDataForDisplay();
    return;
  }
  if (!sortConfig.value.entryKey || !station) { return; }
  entryKey = sortConfig.value.entryKey;
  const sidx = stations.value.indexOf(station);
  participants.value.sort((a, b) => {
    /** This puts all DNF at the bottom if the DNF is at or before the sort column */
    if (typeof a.dnfStation === 'number' // a has dropped
      && typeof b.dnfStation !== 'number' // and b has not dropped
      && (a.dnfStation < station.stationNumber || (a.dnfStation === station.stationNumber && entryKey === 'timeOut'))
    ) {
      if (a.dnfStation === b.dnfStation) { return 0; }
      return 1;
    }
    if (typeof b.dnfStation === 'number' // b has dropped
      && typeof a.dnfStation !== 'number' // and a has not dropped
      && (b.dnfStation < station.stationNumber || (b.dnfStation === station.stationNumber && entryKey === 'timeOut'))
    ) {
      if (b.dnfStation === a.dnfStation) { return 0; }
      return -1;
    }
    if (typeof a.dnfStation === 'number' && typeof b.dnfStation === 'number' && a.dnfStation !== b.dnfStation) {
      return a.dnfStation > b.dnfStation ? -1 : 1;
    }
    /** ^^^ */

    let atime: number = 0;
    let btime: number = 0;
    let aEntry: Entry;
    let bEntry: Entry;
    let tmpS = station;
    let tmpSidx = sidx;
    let tmpEntryKey = entryKey!;
    while (tmpS && atime === btime) {
      aEntry = entryMap.value[`${a.id}${tmpS.id}`];
      bEntry = entryMap.value[`${b.id}${tmpS.id}`];
      atime = aEntry?.[tmpEntryKey]?.getTime() || Infinity;
      btime = bEntry?.[tmpEntryKey]?.getTime() || Infinity;

      if (tmpEntryKey === 'timeOut') {
        if (typeof a.dnfStation === 'number' && a.dnfStation === tmpS.stationNumber) { atime = Infinity; }
        if (typeof b.dnfStation === 'number' && b.dnfStation === tmpS.stationNumber) { btime = Infinity; }
      }

      if ( typeof a.dnfStation === 'number'
        && (
          (a.dnfStation <= tmpS.stationNumber && tmpEntryKey === 'timeOut')
          || (a.dnfStation < tmpS.stationNumber && tmpEntryKey === 'timeIn')
        )
        && typeof b.dnfStation === 'number'
        && (
          (b.dnfStation <= tmpS.stationNumber && tmpEntryKey === 'timeOut')
          || (b.dnfStation < tmpS.stationNumber && tmpEntryKey === 'timeIn')
        )
      ) {
        // If both a and b have dropped as part of this sort
        if (atime === Infinity) { atime = -Infinity; }
        if (btime === Infinity) { btime = -Infinity; }
      }

      if (atime === btime) {
        if (tmpEntryKey === 'timeOut') {
          tmpEntryKey = 'timeIn';
        } else {
          tmpEntryKey = 'timeOut';
          tmpSidx--;
          tmpS = stations.value[tmpSidx];
        }
      }
    }
    return atime === btime ? 0 : atime > btime ? gtResp : ltResp;
  });
  formatDataForDisplay();
}

function formatDataForDisplay() {
  const now = Date.now();
  entries.value = [];
  let prevStation: IStationDoc | undefined;
  stats.value = [];
  for (const [sidx, s] of stations.value.entries()) {
    const legDistance = (s?.distance ?? 0) - (prevStation?.distance ?? 0);
    const {avgChangeInPace, ongoingPaceMap} = getAverageChangeInPace(s, participants.value, stations.value, entryMap.value);
    let col: Array<{timeIn: string; timeOut: string; css: string; tooltipIn: string; tooltipOut: string; editObj: EditObj;}> = [];

    // The display data
    entries.value.push(col);

    let totalThrough = 0;
    let totalWomenThrough = 0;
    let remaining = participants.value.length;
    for (const [pidx, p] of participants.value.entries()) {
      const entry: Entry | undefined = entryMap.value[String(p.id + s.id)];
      let overdue: number | false = false;
      let tooltipIn = '';
      let tooltipOut = '';
      if (prevStation && legDistance) {
        const departureTimePrevStation = entryMap.value[String(p.id + prevStation.id)]?.timeOut?.getTime() || entryMap.value[String(p.id + prevStation.id)]?.timeIn?.getTime();
        if (departureTimePrevStation && avgChangeInPace) {
          let paceIfArrivedNow = ((entry?.timeIn?.getTime() || now) - departureTimePrevStation) / legDistance;
          const ongoingPace = ongoingPaceMap[`${p.id}${s.id}`];
          if (ongoingPace) {
            overdue = !entry?.timeIn && !entry?.timeOut && paceIfArrivedNow > (ongoingPace * avgChangeInPace) ? paceIfArrivedNow / (ongoingPace * avgChangeInPace): false;
            const eta = new Date((ongoingPace * legDistance * avgChangeInPace) + departureTimePrevStation);
            if ((!p.dnfStation && p.dnfStation !== 0) || p.dnfStation > s.stationNumber) {
              tooltipIn += `<div>${$t('grid.eta', { time: normalizeTimeStr(new Date(eta)) })}</div>`;
            }
          }
        }
      }
      const dnfAtPreviousStation = typeof p.dnfStation === 'number' && p.dnfStation < s.stationNumber;
      const timeIn = entry?.timeIn ? normalizeTimeStr(entry?.timeIn) : dnfAtPreviousStation ? '\xa0\xa0\xa0\xa0\xa0' : '__:__';
      let timeOut = entry?.timeOut ? normalizeTimeStr(entry?.timeOut) : dnfAtPreviousStation ? '\xa0\xa0\xa0\xa0\xa0' : '__:__';
      let css = '';
      const DNF = typeof p.dnfStation === 'number' && s.stationNumber >= p.dnfStation;
      if (DNF) {
        if (s.stationNumber === p.dnfStation && s.stationNumber === 0) {
          timeOut = String($t('runner.dns'));
        } else if (s.stationNumber === p.dnfStation) {
          timeOut = String($t('runner.dropped'));
        }
        if (p.dnfStation === s.stationNumber) {
          if (entry?.timeOut) {
            tooltipOut += `<div>${$t('grid.timeOut', { time: normalizeTimeStr(entry.timeOut) })}</div>`;
          }
          if (p.dnfReason) {
            tooltipOut += `<div>${$t('grid.dnfReason', {reason: p.dnfReason})}</div>`;
          }
        }
        css += darkMode.value ? 'grey darken-2' : 'grey lighten-2';
      } else if (overdue && overdue > 1.2) {
        // Based on their previous pace and compaired to others we expected them to be here by now
        if (overdue > 2) {
          css += 'red darken-1';
          tooltipIn += `<div>It has taken twice as long as we expected to get here from the last station</div>`;
        } else if (overdue > 1.5) {
          css += 'orange darken-3';
          tooltipIn += `<div>It has taken 1.5 as long as we expected to get here from the last station</div>`;
        } else {
          css += 'accent darken-3';
          tooltipIn += `<div>It has taken 1.2 times as long as we expected to get here from the last station</div>`;
        }
      } else {
        css += pidx % 2 === 0 ? 'surface' : 'background';
      }

      if (!DNF && (entry?.timeOut || (sidx === stations.value.length - 1 && stations.value.length !== 1 && entry?.timeIn))) {
        totalThrough++;
        remaining--;
        if (p.sex === 'F') {
          totalWomenThrough++;
        }
      } else if (DNF) {
        remaining--;
      }
      col.push({
        timeIn,
        timeOut,
        css,
        tooltipIn,
        tooltipOut,
        editObj: {participant: p, timeIn: entry?.timeIn ?? null, timeOut: entry?.timeOut ?? null},
      });
    }
    prevStation = s;

    stats.value.push({
      totalThrough,
      totalWomenThrough,
      remaining,
    });
  }

}

function editParticipantTime(station: IStationDoc, participant: Participant, entryKey: 'timeIn' | 'timeOut') {
  const entry = entryMap.value[`${participant.id}${station.id}`] || new Entry(eventId.value, participant.id, station.id);
  const item: IDataTableItem = {
    bibNumber: participant.bibNumber,
    participant,
    entry,
    timeIn: entry.timeIn,
    timeOut: entry.timeOut,
    modified: entry.modified,
  };
  editTimeDialog.item = item;
  editTimeDialog.entryKey = entryKey;
  editTimeDialog.open = true;
  editTimeDialog.station = station;
}

function getAverageChangeInPace(station: IStationDoc, participants: Participant[], stations: IStationDoc[], entryMap: {[participantIdStationId: string]: Entry}) {
  const ongoingPaceMap: {[pIdsId: string]: number} = {};
  let changeInPaceTotal = 0;
  let changeInPaceCount = 0;
  const targetStations = stations.slice(0, stations.indexOf(station) + 1).reverse();
  for (const p of participants) {
    const [ongoingPace, recentPace] = getOngoingAvgPace(targetStations, p, entryMap);
    if (!ongoingPace) { continue; }
    ongoingPaceMap[`${p.id}${station.id}`] = ongoingPace;
    if (recentPace) {
      // If there is a recentPace then use it to calulate change in pace
      changeInPaceTotal += (recentPace / ongoingPace);
      changeInPaceCount++;
    }
  }
  const avgChangeInPace = changeInPaceCount ? changeInPaceTotal / changeInPaceCount : (void 0);
  return {avgChangeInPace, ongoingPaceMap};
}
function getOngoingAvgPace([station, prevStationA, prevStationB, prevStationC]: IStationDoc[], participant: Participant, entryMap: {[participantIdStationId: string]: Entry}) {
  let pace1 = calcAvgPace(prevStationC, prevStationB, participant, entryMap);
  let pace2 = calcAvgPace(prevStationB, prevStationA, participant, entryMap);
  let recentPace = calcAvgPace(prevStationA, station, participant, entryMap);
  let ongoingPace = (pace1 && pace2) ? ((pace1+pace2) / 2) : pace2 ? pace2 : pace1 ? pace1 : recentPace;
  return [ongoingPace, recentPace];
}

/**
 * Calculates the average pace for a participant between 2 stations
 */
function calcAvgPace(stationA: IStationDoc | undefined, stationB: IStationDoc | undefined, participant: Participant, entryMap: {[participantIdStationId: string]: Entry}) {
  if (!stationA?.distance || !stationB?.distance) { return; }
  const distance = (stationB.distance - stationA.distance);
  const entryA = entryMap[`${participant.id}${stationA.id}`];
  const entryB = entryMap[`${participant.id}${stationB.id}`];
  const stationATime = entryA?.timeOut || entryA?.timeIn;
  const stationBTime = entryB?.timeIn || entryA?.timeOut;
  if (!stationATime || !stationBTime) { return; }
  const time = stationBTime.getTime() - stationATime.getTime();
  const pace = (time / distance);
  return pace;
}

function downloadOverview() {
  const headers = [$t('dataHeaders.bib'), $t('dataHeaders.name')];
  for (const [sidx, station] of stations.value.entries()) {
    const headerStationText = `${station.stationNumberDisplayed || station.stationNumber}: ${station.name}`;
    if (sidx === 0) {
      headers.push(`${headerStationText} - Out`);
    } else {
      headers.push(`${headerStationText} - In`);
    }
    if (sidx > 0 && sidx < stations.value.length - 1) {
      headers.push(`Out`);
    }
  }
  const rows: string[][] = [];
  for (const [pidx, participant] of participants.value.entries()) {
    const row: string[] = [];
    rows.push(row);
    row.push(participant.bibNumber.toString());
    row.push([participant.firstName, participant.lastName].filter(Boolean).join(' '));
    for (const [sidx, station] of stations.value.entries()) {
      const entry = entries.value[sidx][pidx];
      if (sidx > 0) {
        row.push(entry.timeIn);
      }
      if (sidx < stations.value.length - 1) {
        row.push(entry.timeOut);
      }
    }
  }
  const body = [headers, ...rows].map(row => row.join(',')).join('\n');
  download('overview.csv', body);
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/variables.scss';
$bibColWidth: 50px;
.scroll-horizontally { overflow-x: auto; }
.rslab { font-family: "Roboto Mono"; }
.bib-col { width: $bibColWidth; left: 0; }
.justify-evenly { justify-content: space-evenly; }
.relative { position: relative; }
.right-0 { right: 0px; }
.max-width-100 { max-width: 100%; }
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }
.overview.theme--light .border-left { border-left: solid 1px $primary !important; }
.overview.theme--dark .border-left { border-left: solid 1px #855a00 !important; }

.overview.theme--light .border-right { border-right: solid 1px #DDD !important; }
.overview.theme--light .border-bottom { border-bottom: solid 1px #DDD !important; }
.overview.theme--dark .border-right { border-right: solid 1px #555 !important; }
.overview.theme--dark .border-bottom { border-bottom: solid 1px #555 !important; }
.sticky {
  position: -webkit-sticky; position: sticky;
  &.sticky--left { left: 0; }
  &.sticky--top { top: 0; }
}
.name-col.sticky.sticky--left { left: $bibColWidth; }
.full-height--minus-tabs { height: calc(100% - 48px); }
.titlebar-padding { padding-top: $titleBarHeight; }
::v-deep {
  .v-tabs, .v-tabs-bar {
    height: 100%;
  }
}
.titlebar-height {
  height: $titleBarHeight;
}
.top-titlebar-height {
  top: $titleBarHeight;
}
</style>
