<template>
  <Layout class="input-times-view full-height">
    <InputSettings slot="settings-items"/>

    <Numpad class="the-numpad"
      v-bind="numpadProps"
      v-on="numpadListeners"
    />

    <div class="the-inputs">
      <!-- Bib number -->
      <InputField
        @click.stop="bibNumberFieldClicked"
        :label="$t('inputTimes.instructions.runnerNumber')"
        :value="String(bibNumber || (focus !== 'bibNumber' && participant?.bibNumber) || '')"
        :focused="focus === 'bibNumber'"
      >
        <template #append-inner>
          <h2 v-if="participant && typeof participant.dnfStation === 'number' && (participant.dnfStation === 0 || participant.dnfStation <= curStation.stationNumber)"
            class="v-align-middle title flex-grow-0 pr-1"
          >
            <template v-if="participant.dnfStation === 0">
              {{ $t('runner.dns') }}
            </template>
            <template v-else>
              {{ $t('runner.dropped') }}
            </template>
          </h2>
          <Settings v-if="$vuetify.breakpoint.height < 651">
            <template #settings-activator="{ on, attrs }">
              <v-btn text class="px-0" min-width="36" v-on="on" v-bind="attrs" @click.stop>
                <v-icon>settings</v-icon>
              </v-btn>
            </template>
            <InputSettings slot="settings-items" />
          </Settings>
        </template>
      </InputField>

      <div class="d-flex">
        <!-- Time In -->
        <InputField
          @click.stop="timeInFieldClicked"
          class="half-width mr-2px"
          :label="$t('inputTimes.instructions.timeIn')"
          :value="focus === 'timeIn' ? normalizeTimeStr(timeIn?.number || null, includeSecondsWithTime) : (focus !== 'bibNumber' || !!bibNumber) ? (normalizeTimeStr(entry?.timeIn || null, includeSecondsWithTime)) : ''"
          :focused="focus === 'timeIn'"
          :error-message="timeIn && !timeIn.isValid ? $t('errors.invalidTime') : ''"
          :warning-message="entry && (
            timeIn && entry.timeOut && new Date(`${timeInDay} ${normalizeTimeStr(timeIn.number, includeSecondsWithTime)}`) > new Date(entry.timeOut.toString().substring(0,21)) ||
            timeOut && entry.timeIn && new Date(`${timeOutDay} ${normalizeTimeStr(timeOut.number, includeSecondsWithTime)}`) < new Date(entry.timeIn.toString().substring(0,21)) ||
            !timeIn && !timeOut && entry.timeIn && entry.timeOut && new Date(entry.timeIn.toString().substring(0,21)) > new Date(entry.timeOut.toString().substring(0,21))
          ) ? $t('errors.checkDate') : ''"
        >
          <template #append-inner>
            <InputFieldDay
              @click.stop="toggleTimeInDatePicker"
              :date="focus === 'timeIn' && timeInDay ? new Date(timeInDay) : entry && entry.timeIn"
            />
          </template>
          <InputFieldDatePicker
            v-if="focus ==='timeIn' && datePicker.timeIn.open"
            :value="new Date(timeInDay || Date.now()) | date('YYYY-MM-DD')"
            @change="storeTimeInDay($event); datePicker.timeIn.open = false"
          />
        </InputField>
        <!-- Time Out -->
        <InputField
          @click.stop="timeOutFieldClicked"
          class="half-width ml-2px"
          :label="$t('inputTimes.instructions.timeOut')"
          :value="focus === 'timeOut' ? normalizeTimeStr(timeOut?.number || null, includeSecondsWithTime) : (focus !== 'bibNumber' || !!bibNumber) ? (normalizeTimeStr(entry?.timeOut || null, includeSecondsWithTime)) : ''"
          :focused="focus === 'timeOut'"
          :error-message="timeOut && !timeOut.isValid ? $t('errors.invalidTime') : ''"
          :warning-message="entry && (
            timeIn && entry.timeOut && new Date(`${timeInDay} ${normalizeTimeStr(timeIn.number, includeSecondsWithTime)}`) > new Date(entry.timeOut.toString().substring(0,21)) ||
            timeOut && entry.timeIn && new Date(`${timeOutDay} ${normalizeTimeStr(timeOut.number, includeSecondsWithTime)}`) < new Date(entry.timeIn.toString().substring(0,21)) ||
            !timeIn && !timeOut && entry.timeIn && entry.timeOut && new Date(entry.timeIn.toString().substring(0,21)) > new Date(entry.timeOut.toString().substring(0,21))
          ) ? $t('errors.checkDate') : ''"
        >
          <template #append-inner>
            <InputFieldDay
              @click.stop="toggleTimeOutDatePicker"
              :date="focus === 'timeOut' && timeOutDay ? new Date(timeOutDay) : entry && entry.timeOut"
            />
          </template>
          <InputFieldDatePicker
            v-if="focus === 'timeOut' && datePicker.timeOut.open"
            :value="new Date(timeOutDay || Date.now()) | date('YYYY-MM-DD')"
            @change="storeTimeOutDay($event); datePicker.timeOut.open = false"
          />
        </InputField>
      </div>

      <div class="pt-2" v-if="participant">
        <v-list-item class="px-5 surface">
          <v-list-item-content>
            <v-list-item-title>
              <span v-if="participant.firstName || participant.lastName">
                {{ participant.bibNumber }}: {{ [participant.firstName, participant.lastName].filter(Boolean).join(' ') }}
              </span>
              <i18next path="inputTimes.instructions.found" v-else>
                <span>{{participant.bibNumber}}</span>
              </i18next>
              <span v-if="participant.sex" class="px-1">({{participant.sex}})</span>
              <!-- <i18next v-if="participant.age" class="px-1" path="runner.age">{{participant.age}}</i18next> -->
            </v-list-item-title>
            <v-list-item-subtitle v-if="typeof participant.dnfStation === 'number'">
              <i18next tag="div" v-if="participant.dnfStation === 0" path="runner.didNotStart"/>
              <div v-else-if="participant.dnfStation > 0">
                <i18next tag="div" path="runner.droppedAt">{{participant.dnfStation}}</i18next>
              </div>
            </v-list-item-subtitle>
            <v-list-item-subtitle v-if="entry && (entry.timeIn || entry.timeOut)">
              <i18next tag="div" path="runnerDetails.timeIn" class="pr-4">
                <span class="pl-3" v-if="entry.timeIn">{{entry.timeIn | date(includeSecondsWithTime ? 'MMM DD, HH:mm:ss' : 'MMM DD, HH:mm')}}</span>
                <span class="pl-3" v-else>—</span>
              </i18next>
              <i18next tag="div" path="runnerDetails.timeOut">
                <span class="pl-1" v-if="entry.timeOut">{{entry.timeOut | date(includeSecondsWithTime ? 'MMM DD, HH:mm:ss' : 'MMM DD, HH:mm')}}</span>
                <span class="pl-1" v-else>—</span>
              </i18next>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action-text>
            <v-btn text icon :to="{ name: 'runnerDetails', params: {bibNumber: participant.bibNumber}, query: { routeFrom: $route.name}}">
              <v-icon>info</v-icon>
            </v-btn>
          </v-list-item-action-text>
        </v-list-item>

        <i18next tag="div" path="runnerCard.note" v-if="participant.note" class="px-5 ws-pre">{{participant.note}}</i18next>
      </div>

      <div v-else-if="searchingForParticipant" class="text-center pt-5">
        <i18next tag="div" class="subheading" path="inputTimes.instructions.searching">{{bibNumber}}</i18next>
      </div>
      <div v-else-if="!!bibNumber && !participant" class="text-center pt-5">
        <i18next tag="div" class="subheading" path="inputTimes.instructions.notFound">{{bibNumber}}</i18next>
        <i18next tag="div" class="body-1" path="inputTimes.instructions.add"></i18next>
      </div>
    </div>
  </Layout>
</template>


<script setup lang="ts">
import { debounce } from 'lodash';
import { storeToRefs } from 'pinia';
import { computed, onBeforeUnmount, reactive, ref, watch } from 'vue';

import InputField from '@/components/InputField.vue';
import InputFieldDatePicker from '@/components/InputFieldDatePicker.vue';
import InputFieldDay from '@/components/InputFieldDay.vue';
import Numpad from '@/components/Numpad.vue';
import Settings from '@/components/Settings.vue';
import InputSettings from '@/components/input-times/InputSettings.vue';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { getTime, normalizeTimeStr } from '@/lib/formatDate';
import Layout from '@/router/layouts/Main.vue';
import router from '@/router';
import { useTranslate } from '@/composables/useTranslate';
import { useSettingsStore } from '@/stores/settings';
import { useRaceEventStore } from '@/stores/raceEvent';

const $t = useTranslate();
const datePicker = reactive({
  timeIn: {
    open: false,
  },
  timeOut: {
    open: false,
  },
});

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const {
  includeSecondsWithTime,
  skipTimeIn,
  skipTimeOut,
} = storeToRefs(useSettingsStore());

const entry = ref<Entry | null>(null);
const searchingForParticipant = ref(false);
const participant = ref<Participant | null>(null);
const bibNumber = ref<number | null>(null);

let updateParticipantDebouncedCallCount = 0;
async function updateParticipantNow(bib: number) {
  const callCount = ++updateParticipantDebouncedCallCount;
  const res = await Participant.getParticipant(eventId.value, bib);
  if (callCount === updateParticipantDebouncedCallCount) {
    participant.value = res;
    if (participant.value) {
      entry.value = await Entry.getEntry(curStation.value.id, participant.value.id);
      if (!entry.value) {
        entry.value = new Entry(eventId.value, participant.value.id, curStation.value.id);
      }
    } else {
      participant.value = null;
      entry.value = null;
    }
    searchingForParticipant.value = false;
  }
}
const updateParticipantDebounced = debounce(updateParticipantNow, 300, {leading: true});

function updateParticipant(bib: number | null) {
  bibNumber.value = bib;
  entry.value = null;
  searchingForParticipant.value = bib !== null;
  if (bib === null) {
    updateParticipantDebouncedCallCount++;
    participant.value = null;
  } else {
    updateParticipantDebounced(bib);
  }
}

const focus = ref<'bibNumber' | 'timeIn' | 'timeOut'>('bibNumber');
const timeIn = ref<{ number: number; isValid: boolean } | null>(null);
const timeInDay  = ref('');
const timeOut = ref<{ number: number; isValid: boolean } | null>(null);
const timeOutDay  = ref('');

const buttonEnterState = computed((): boolean | 'disabled' => {
  if ((!bibNumber.value && !participant.value)
    || (focus.value === 'timeIn' && timeIn.value?.isValid === false)
    || (focus.value === 'timeOut' && timeOut.value?.isValid === false)
  ) {
    return 'disabled';
  }
  return true;
});

const buttonCancelState = computed((): boolean | 'disabled' => {
  if (focus.value !== 'timeIn' && focus.value !== 'timeOut') {
    return false;
  }
  if (!bibNumber.value && !participant.value) {
    return 'disabled';
  }
  return true;
});

const buttonEnterText = computed((): string => {
  let i18nKey = '';
  if (!participant.value) {
    i18nKey = 'buttons.add';
  } else if (focus.value === 'bibNumber') {
    i18nKey = 'buttons.next';
  } else if (focus.value === 'timeIn') {
    i18nKey = 'buttons.saveTimeIn';
  } else if (focus.value === 'timeOut') {
    i18nKey = 'buttons.saveTimeOut';
  } else {
    i18nKey = 'buttons.done';
  }
  return $t(i18nKey) as string;
});

const buttonRepeatState = computed((): boolean | 'disabled' => {
  // if (this.focus === 'bibNumber') {
  //   return false;
  // }
  if (lastInput.value === null
    || (!bibNumber.value && !participant.value)
    || focus.value === 'bibNumber'
  ) {
    return 'disabled';
  }
  return true;
});
const buttonAutoTimeInState = computed((): boolean | 'disabled' => {
  if (focus.value !== 'bibNumber') {
    return false;
  }
  if (focus.value !== 'bibNumber'
    || (!bibNumber.value && !participant.value)
    || (entry.value && !!entry.value.timeIn)
    || (entry.value && !!entry.value.timeOut)
  ) {
    return 'disabled';
  }
  return true;
});

const buttonAutoTimeOutState = computed((): boolean | 'disabled' => {
  if (focus.value !== 'bibNumber') {
    return false;
  }
  if ((!bibNumber.value && !participant.value)
    || (entry.value && !!entry.value.timeOut)
  ) {
    return 'disabled';
  }
  return true;
});

const buttonNowState = computed((): boolean | 'disabled' => {
  if (focus.value !== 'timeIn' && focus.value !== 'timeOut') {
    return false;
  }
  if ((!bibNumber.value && !participant.value)
    || (focus.value === 'timeIn' && participant.value && !!timeIn.value)
    || (focus.value === 'timeOut' && participant.value && !!timeOut.value)
  ) {
    return 'disabled';
  }
  return true;
});

const numpadProps = computed(() => {
  const props: Record<string, any> = { // @TODO update the types to match the numpad component
    repeat: buttonRepeatState.value,
    in: buttonAutoTimeInState.value,
    out: buttonAutoTimeOutState.value,
    now: buttonNowState.value,
    enter: buttonEnterState.value,
    enterText: buttonEnterText.value,
    cancel: buttonCancelState.value,
  };
  return props;
});

const numpadListeners = computed(() => {
  const listeners: Record<string, () => void> = {
    backspace: backspacePressed,
    repeat: repeatPressed,
    in: autoTimeIn,
    out: autoTimeOut,
    now: setTimeToNow,
    enter: nextPressed,
    cancel: cancelPressed,
  };
  for (let i = 0; i < 10; i++) {
    listeners[`${i}`] = () => numberPressed(i);
  }
  return listeners;
});

const lastInput = ref<Date | null>(null);
function setLastInput(x: Date) {
  lastInput.value = x;
}

function created() {
  const bib = bibNumber.value || (participant.value && participant.value.bibNumber);
  if (bib) {
    updateParticipantNow(bib);
    if (!participant.value) {
      focusBibNumber();
    }
  }
  document.addEventListener('keydown', handleKeyboardEvents);
}
created();

onBeforeUnmount(() => {
  document.removeEventListener('keydown', handleKeyboardEvents);
});

function handleKeyboardEvents(evt: KeyboardEvent) {
  switch (evt.key) {
    case 'Backspace':
      return backspacePressed();
    case 'l':
      return repeatPressed();
    case 'i':
      return autoTimeIn();
    case 'o':
      return autoTimeOut();
    case 'n':
      return setTimeToNow();
    case 'Enter':
      return nextPressed();
    case 'Escape':
      return cancelPressed();
  }
  if (/[0-9]/.test(evt.key)) {
    return numberPressed(Number(evt.key));
  }
}

function bibNumberFieldClicked() {
  if ((timeIn.value !== null && !timeIn.value.isValid) || (timeOut.value !== null && !timeOut.value.isValid)) {
    return;
  }
  focusBibNumber();
}

function focusBibNumber() {
  storeTimeIn(null);
  datePicker.timeIn.open = false;
  storeTimeOut(null);
  datePicker.timeOut.open = false;
  focus.value = 'bibNumber';
}

function timeInFieldClicked() {
  if ((timeIn.value !== null && !timeIn.value.isValid) || (timeOut.value !== null && !timeOut.value.isValid)) {
    return;
  }
  focusTimeIn();
}

function focusTimeIn() {
  if (focus.value === 'timeIn') { return; }
  if (!participant.value) { return focusBibNumber(); }
  storeTimeOut(null);
  datePicker.timeOut.open = false;
  let rTime = entry.value?.timeIn || null;
  if (rTime) {
    storeTimeIn(rTime);
    storeTimeInDay(rTime);
  }
  focus.value = 'timeIn';
}

function timeOutFieldClicked() {
  if ((timeIn.value !== null && !timeIn.value.isValid) || (timeOut.value !== null && !timeOut.value.isValid)) {
    return;
  }
  focusTimeOut();
}

function focusTimeOut() {
  if (focus.value === 'timeOut') { return; }
  if (!participant.value) { return focusBibNumber(); }
  storeTimeIn(null);
  datePicker.timeIn.open = false;
  let rTime = entry.value?.timeOut;
  if (rTime) {
    storeTimeOut(rTime);
    storeTimeInDay(rTime);
  }
  focus.value = 'timeOut';
}

function toggleTimeInDatePicker(evt: MouseEvent) {
  evt.preventDefault();
  evt.stopPropagation();
  if (!timeIn.value) {
    focusTimeIn();
  }
  datePicker.timeIn.open = !datePicker.timeIn.open;
}
function toggleTimeOutDatePicker(evt: MouseEvent) {
  evt.preventDefault();
  evt.stopPropagation();
  if (!timeOut.value) {
    focusTimeOut();
  }
  datePicker.timeOut.open = !datePicker.timeOut.open;
}

function numberPressed(num: number) {
  if (isNaN(num)) { return; }
  if (focus.value === 'bibNumber') {
    updateParticipant(Number(`${bibNumber.value || ''}${num}`));
  } else if (focus.value === 'timeIn') {
    storeTimeIn(Number(`${timeIn.value && timeIn.value.number || ''}${num}`));
    if (!timeInDay.value) { storeTimeInDay(new Date()); }
  } else if (focus.value === 'timeOut') {
    storeTimeOut(Number(`${timeOut.value && timeOut.value.number || ''}${num}`));
    if (!timeOutDay.value) { storeTimeOutDay(new Date()); }
  }
}
function backspacePressed() {
  const curNumStr = String(focus.value === 'bibNumber' ? bibNumber.value || '' : focus.value === 'timeIn' ? (timeIn.value && timeIn.value.number || '') : (timeOut.value && timeOut.value.number || ''));
  const newNumStr = curNumStr.substring(0, curNumStr.length - 1);
  if (focus.value === 'bibNumber') {
    updateParticipant(newNumStr.length ? Number(newNumStr) : null);
  }
  if (focus.value === 'timeIn') {
    storeTimeIn(newNumStr.length ? Number(newNumStr) : null);
  }
  if (focus.value === 'timeOut') {
    storeTimeOut(newNumStr.length ? Number(newNumStr) : null);
  }
}

/* Auto Time in */
async function autoTimeIn() {
  const now = new Date();
  now.setMilliseconds(0);
  if (!includeSecondsWithTime.value) {
    now.setSeconds(0);
  }
  await setTimeIn(now);

  // remove participant number so we can start typing in a new number
  // but we don't update the participant so the participant details are still shown
  bibNumber.value = null;
}

/* Auto Time out */
async function autoTimeOut() {
  const now = new Date();
  now.setMilliseconds(0);
  if (!includeSecondsWithTime.value) {
    now.setSeconds(0);
  }
  await setTimeOut(now);

  // remove participant number so we can start typing in a new number
  // but we don't update the participant so the participant details are still shown
  bibNumber.value = null;
}

/* Repeat */
async function repeatPressed() {
  if (lastInput.value === null) { return; }
  if (focus.value === 'timeIn') {
    storeTimeIn(lastInput.value);
  } else if (focus.value === 'timeOut') {
    storeTimeOut(lastInput.value);
  }
}

function setTimeToNow() {
  if (focus.value === 'timeIn') {
    storeTimeIn(new Date());
  } else if (focus.value === 'timeOut') {
    storeTimeOut(new Date());
  }
}

async function setTimeIn(timeIn = new Date() as Date | number | null) {
  if (!participant.value) {
    if (bibNumber.value) {
      participant.value = new Participant(eventId.value, { bibNumber: bibNumber.value });
      await participant.value.save();
    }
    await setTimeIn(timeIn);
    return;
  }
  if (typeof timeIn === 'number') {
    let timeStr = normalizeTimeStr(timeIn, includeSecondsWithTime.value);
    timeIn = new Date(`${timeInDay.value || new Date().toLocaleString()} ${timeStr}`);
  }
  if (timeIn !== null && normalizeTimeStr(entry.value?.timeIn || null, includeSecondsWithTime.value) !== normalizeTimeStr(timeIn, includeSecondsWithTime.value)) {
    setLastInput(timeIn);
  }
  const currentTimeInOnEntry = entry.value?.timeIn?.getTime();
  if (timeIn?.getTime() !== (currentTimeInOnEntry && currentTimeInOnEntry - (currentTimeInOnEntry % 6E4))) {
    if (!entry.value) {
      entry.value = new Entry(eventId.value, participant.value.id, curStation.value.id);
    }
    entry.value.timeIn = timeIn;
    await entry.value.save();
  }
  storeTimeIn(null);
}

async function setTimeOut(timeOut = new Date() as Date | number | null) {
  if (!participant.value) {
    if (bibNumber.value) {
      participant.value = new Participant(eventId.value, { bibNumber: bibNumber.value });
      await participant.value.save();
    }
    await setTimeOut(timeOut);
    return;
  }
  if (typeof timeOut === 'number') {
    let timeStr = normalizeTimeStr(timeOut, includeSecondsWithTime.value);
    timeOut = new Date(`${timeOutDay.value || new Date().toLocaleString()} ${timeStr}`);
  }
  if (timeOut !== null && normalizeTimeStr(entry.value?.timeOut || null, includeSecondsWithTime.value) !== normalizeTimeStr(timeOut, includeSecondsWithTime.value)) {
    setLastInput(timeOut);
  }
  const currentTimeOutOnEntry = entry.value?.timeOut?.getTime();
  if (timeOut?.getTime() !== (currentTimeOutOnEntry && currentTimeOutOnEntry - (currentTimeOutOnEntry % 6E4))) {
    if (!entry.value) {
      entry.value = new Entry(eventId.value, participant.value.id, curStation.value.id);
    }
    entry.value.timeOut = timeOut;
    await entry.value.save();
  }
  storeTimeOut(null);
}

/* Cancel */
function cancelPressed() {
  bibNumber.value = null;
  focusBibNumber();
}

/* Next */
const nextPressedPromise = ref<Promise<void> | null>(null);
async function nextPressed() {
  if (!participant.value) {
    if (!bibNumber.value) { return; }
    if (searchingForParticipant.value) {
      if (!nextPressedPromise.value) {
        nextPressedPromise.value = new Promise(async (resolve) => {
          const stopWatch = watch(searchingForParticipant, (newVal) => {
            if (!newVal) {
              stopWatch();
              resolve(nextPressed());
              nextPressedPromise.value = null;
            }
          });
        });
      }
      return nextPressedPromise.value;
    }
    if (bibNumber.value) {
      participant.value = new Participant(eventId.value, { bibNumber: bibNumber.value });
      await participant.value.save();
    }
    nextPressed();
    return;
  }

  if (focus.value === 'bibNumber') {
    // if our focus is currently on the bibNumber then lets focus on time in
    if (skipTimeIn.value) {
      await focusTimeOut();
    } else {
      await focusTimeIn();
    }
  } else if (focus.value === 'timeIn') {
    if (timeIn.value !== null && !timeIn.value.isValid) {
      return;
    }
    await setTimeIn(timeIn.value === null ? null : timeIn.value.number);
    if (skipTimeOut.value) {
      focusBibNumber();
      // remove participant number so we can start typing in a new number
      // but we don't update the participant so the participant details are still shown
      bibNumber.value = null;
    } else {
      await focusTimeOut();
    }
  } else if (focus.value === 'timeOut') {
    if (timeOut.value !== null && !timeOut.value.isValid) {
      return;
    }
    await setTimeOut(timeOut.value === null ? null : timeOut.value.number);
    focusBibNumber();

    // remove participant number so we can start typing in a new number
    // but we don't update the participant so the participant details are still shown
    bibNumber.value = null;
  }

  const routeFrom = Array.isArray(router.currentRoute.query.routeFrom) ? router.currentRoute.query.routeFrom : [router.currentRoute.query.routeFrom];
  if (routeFrom[0]) {
    router.push({ name: routeFrom[0], query: routeFrom[1] ? {routeFrom: routeFrom.slice(1)} : {} });
  }
}

function storeTimeIn(payload: string | number | Date | null) {
  timeIn.value = getTime(payload, includeSecondsWithTime.value);
  if (payload === null) {
    timeInDay.value = '';
  } else if (payload instanceof Date && !isNaN(new Date(payload).getTime())) {
    timeInDay.value = new Date(payload).toLocaleDateString();
  }
  if (timeIn.value?.isValid && timeOut.value?.isValid && !timeInDay.value) {
    const today = new Date().toLocaleDateString();
    const timeInDate = new Date(`${today} ${timeIn.value?.number ?? null}`);
    if (timeInDate > new Date(`${today} ${timeOut.value?.number ?? null}`)) {
      timeInDate.setDate((timeInDate.getDate() - 1));
      timeInDay.value = timeInDate.toLocaleDateString();
    }
  }
}

function storeTimeOut(payload: string | number | Date | null) {
  timeOut.value = getTime(payload, includeSecondsWithTime.value);
  if (payload === null) {
    timeOutDay.value = '';
  } else if (payload instanceof Date && !isNaN(new Date(payload).getTime())) {
    timeOutDay.value = new Date(payload).toLocaleDateString();
  }
  if (timeOut.value?.isValid && timeIn.value?.isValid && !timeOutDay.value) {
    const today = new Date().toLocaleDateString();
    const timeOutDate = new Date(`${today} ${normalizeTimeStr(timeOut.value?.number ?? null)}`);
    if (timeOutDate > new Date(`${today} ${normalizeTimeStr(timeOut.value?.number ?? null)}`)) {
      timeOutDate.setDate((timeOutDate.getDate() - 1));
      timeOutDay.value = timeOutDate.toLocaleDateString();
    }
  }
}

function storeTimeInDay(payload: string | Date) {
  if (typeof payload === 'string') {
    let match = /(\d\d\d\d)-(\d\d)-(\d\d)/.exec(payload);
    if (!match) { return; }
    let [, year, month, day] = match;
    payload = new Date(Number(year), Number(month)-1, Number(day));
  }
  if (!isNaN(payload.getTime())) {
    timeInDay.value = new Date(payload).toLocaleDateString();
  }
}

function storeTimeOutDay(payload: string | Date) {
  if (typeof payload === 'string') {
    let match = /(\d\d\d\d)-(\d\d)-(\d\d)/.exec(payload);
    if (!match) { return; }
    let [, year, month, day] = match;
    payload = new Date(Number(year), Number(month)-1, Number(day));
  }
  if (!isNaN(payload.getTime())) {
    timeOutDay.value = new Date(payload).toLocaleDateString();
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '@/variables.scss';
.half-width { width: 50%; width: calc(50% - 2px); } // first width is for older devices that can't use calc
.ml-2px { margin-left: 2px; }
.mr-2px { margin-right: 2px; }

.the-inputs {
  margin: auto;
  max-width: v-bind("$vuetify.breakpoint.thresholds.xs+'px'");
}
@media only screen and (max-height: 650px) {
  .input-times-view::v-deep {
    .title-bar { display: none; }
  }
  .the-inputs {
    margin-top: -#{$titleBarHeight};
  }
}
.the-numpad {
  height: 400px; width: 400px; max-width: 100%;
  &, :deep(.keypad) {
    position: absolute; bottom: 0; right: 0;
  }
}
</style>
