<template>
  <Layout>
    <template #title>
      <i18next class="text-center" path="titles.eventPicker" />
    </template>
    <template #action-items>
      <v-btn v-if="events.length" text small class="ma-0 no-min-width" @click.stop="editting = !editting">
        <i18next :path="editting ? 'buttons.stopEditting' : 'buttons.edit'"></i18next>
      </v-btn>
    </template>
    <v-btn v-show="!editting" fab fixed dark color="accent" class="upload-btn" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="$refs.uploadFileInput?.click()">
      <v-icon>attachment</v-icon>
    </v-btn>
    <input v-show="false" ref="uploadFileInput" name="uploadFileInput" type="file" accept="text/plain, text/csv, application/json" @change="uploadFile" />
    <!-- <v-btn fab fixed dark class="listen-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="receive()" v-if="!receiveService.listening">
      <v-icon>mic_off</v-icon>
    </v-btn>
    <v-btn fab fixed dark class="listen-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="stopReceiving()" v-else v-show="!editting">
      <v-icon>{{receiveService.hearing ? 'hearing' : 'mic'}}</v-icon>
    </v-btn> -->
    <v-btn v-show="!editting" fab fixed dark class="add-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && station}" @click.stop="newEvent()">
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog v-model="importing" persistent width="200">
      <v-card class="pt-2 text-center">
        <i18next tag="div" class="px-4 pb-2" path="receive.importing"></i18next>
        <v-progress-linear indeterminate color="accent" class="mb-0"></v-progress-linear>
      </v-card>
    </v-dialog>
    <v-list class="pa-0 ma-2 surface">
      <div v-if="!events.length" class="text-center pa-6">
        <i18next class="title" path="settings.noEvents"></i18next>
        <i18next tag="div" class="body-2 pt-4" path="settings.noEventsFile"></i18next>
      </div>
      <template v-for="(r, i) in events">
        <v-list-item :key="'list-tile-' + i" @click="setEvent(r)">
          <v-list-item-content>{{ r.name || r.id }}</v-list-item-content>
          <v-list-item-action v-if="!editting && r.id === eventId">
            <v-icon>check</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="editEvent(r)">
            <v-icon>edit</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="deleteEvent(r)">
            <v-icon color="red">delete</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="!editting">
            <v-icon>chevron_right</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider :key="'divider-' + i"/>
      </template>
    </v-list>

    <v-dialog v-model="editDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="settings.editRaceTitle"></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field v-model="editDialog.name" label="Event name*" required></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="editDialog.slug" label="URL short name" required></v-text-field>
            </v-flex>
            <!-- <v-flex xs12>
              <v-text-field label="Event ID*" required v-model="editDialog.id"></v-text-field>
            </v-flex> -->
          </v-layout>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click.stop="editDialog.open = false">
            <i18next path="buttons.cancel"/>
          </v-btn>
          <v-btn text @click.stop="saveEvent()" :disabled="!editDialog.name">
            <i18next path="buttons.save"/>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <ConfirmDialog
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
      @closed="confirmDialog.callback"
    />
  </Layout>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { reactive, ref } from 'vue';

import { Event } from '@/models/event';
import router, { ROUTES } from '@/router';
import receiveService from '@/services/receive.service';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import Layout from '@/router/layouts/Main.vue';
import { FileCompleteEvent } from '@hamstudy/flamp/dist/deamp';
import { FilenameRegex } from '@/models/transmission';
import { importData, parseRaceData } from '@/services/import.service';
import { useRaceEventStore } from '@/stores/raceEvent';

const uploadFileInput = ref<HTMLInputElement | null>(null);

const $raceEventStore = useRaceEventStore();
const {
  eventId,
  station,
} = storeToRefs($raceEventStore);

function setEventInStore(event: Event | null) {
  $raceEventStore.setRaceEvent(event);
}

const editting = ref(false);
const events = ref<Event[]>([]);
const importing = ref(false);

const editDialog = reactive({
  event: null as null | Event,
  open: false,
  name: '',
  slug: (void 0) as string | undefined,
});

const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n:'settings.deleteEvent', i18nData: {}},
  open: false,
});


async function setEvent(event: Event | null) {
  if (editting.value) { return; }
  let routeFrom = Array.isArray(router.currentRoute.query.routeFrom) ? router.currentRoute.query.routeFrom[0] : router.currentRoute.query.routeFrom;
  if (!event || event.id !== eventId.value) {
    await setEventInStore(event);
    routeFrom = null;
  }
  if (event) {
    let newRouteFrom = routeFrom
      ? [router.currentRoute.name || null, routeFrom]
      : router.currentRoute.name
    ;
    const query = { routeFrom: newRouteFrom, routeTo: routeFrom || ROUTES.inputTimes.name };
    router.push({ name: ROUTES.stationPicker.name, query, params: { eventIdOrSlug: event.slug || event.id } });
  }
}

async function newEvent() {
  editEvent(new Event({name: ''}));
}

async function getEvents() {
  events.value = await Event.getEvents();
}
getEvents();

function editEvent(event: Event) {
  editDialog.event = event;
  editDialog.name = event.name || '';
  editDialog.open = true;
  editDialog.slug = event.slug;
}

async function saveEvent() {
  editting.value = false;
  if (editDialog.event) {
    if (!editDialog.name) { return; }
    let event = editDialog.event;
    event.name = editDialog.name;
    event.slug = editDialog.slug;
    editDialog.open = false;
    try {
      await event.save();
      if (!events.value.length) {
        setEvent(event);
      } else {
        await getEvents();
      }
    } catch (e) {
      console.error(e); // tslint:disable-line no-console
      alert(e);
      await getEvents();
    }
  }
}

async function deleteEvent(event: Event) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.text.i18nData = { name: `${event.name || ''}` };
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    editting.value = false;
    await Event.delete(event);
    if (eventId.value === event.id) {
      setEvent(null);
    }
    await getEvents();
  }
}

async function receive() {
  receiveService.deamp.fileCompleteEvent.once(fileReceived);
  await receiveService.listen();
}

function stopReceiving() {
  receiveService.deamp.fileCompleteEvent.off(fileReceived);
  receiveService.stopListening();
}

async function fileReceived(evt: FileCompleteEvent) {
  let file = receiveService.deamp.getFile(evt.hash);
  let filename = file.name;
  if (filename && FilenameRegex.event.test(filename)) {
    let content = file.getContent();
    await parseRaceData(content || '', filename);
    await getEvents();
    if (events.value.length === 1) {
      setEvent(events.value[0]);
    }
  }
}
function uploadFile(e: any) {
  if (!e || !e.target || !e.target.files) { return; }
  const file: File = e.target.files[0];
  const reader = new FileReader();
  reader.onload = async () => {
    importing.value = true;
    try {
      if (typeof reader.result !== 'string') {
        alert('Unable to read file');
        return;
      }
      let content = reader.result;
      if (file.type === 'application/json') {
        try {
          await importData(content, file.name);
        } catch (e) {
          console.error(e); // tslint:disable-line no-console
          alert(e);
        }
      } else {
        await parseRaceData(content, file.name);
      }
      await getEvents();
    } finally {
      if (uploadFileInput.value) {
        uploadFileInput.value.value = '';
      }
      importing.value = false;
    }
  };
  reader.readAsText(file);

}
</script>

<style lang="scss" scoped>
$bottom: 16px;
.listen-btn {
  bottom: $bottom; right: 88px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom)); right: calc(88px + var(--safe-area-right));
}
.add-btn {
  bottom: $bottom; right: 16px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom)); right: calc(16px + var(--safe-area-right));
}
.upload-btn {
  bottom: $bottom; right: 88px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom)); right: calc(88px + var(--safe-area-right));
}

$bottom: 70px;
.adjust-up-for-tabBar.listen-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom));
}
.adjust-up-for-tabBar.add-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom));
}
.adjust-up-for-tabBar.upload-btn {
  bottom: $bottom; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom));
}
.no-min-width { min-width: 0; }
</style>
