<template>
  <Layout>
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <template slot="action-items">
      <!-- <v-btn v-if="transmission && transmission.transmitting" text @click.stop="transmission.stop()">
        <v-icon>stop</v-icon>
      </v-btn> -->
      <v-btn text @click.stop="uploadFileInput?.click()">
        <v-icon>attachment</v-icon>
      </v-btn>
      <input v-show="false" ref="uploadFileInput" name="uploadFileInput" type="file" @change="uploadFile" accept="text/plain, text/csv, , application/json"/>
      <v-btn text @click.stop="receiveStore.listen" v-if="!listening">
        <v-icon>mic_off</v-icon>
      </v-btn>
      <v-btn text @click.stop="receiveStore.stopListening" v-else>
        <v-icon>mic</v-icon>
      </v-btn>
    </template>
    <div slot="settings-items">
      <v-divider/>
      <v-list-item class="px-0">
        <span class="pr-4">{{ $t('settings.alwaysListening') }}</span>
        <v-spacer />
        <v-switch v-model="alwaysListening" hide-details density="compact" color="secodary" class="mt-0" />
      </v-list-item>
      <v-divider/>
      <v-list-item class="px-0">
        <span class="pr-4">{{ $t('settings.autoImport') }}</span>
        <v-spacer />
        <v-switch v-model="autoImport" hide-details density="compact" color="secodary" class="mt-0" />
      </v-list-item>
    </div>

    <v-sheet color="primary" class="ma-2 pa-1">
      <v-sheet color="surface">
        <pre v-if="listening" class="overflow-x-auto pa-4">{{ recentBuffer || $t('receive.waitingForInput') }}</pre>
        <div v-else class="d-flex justify-center pa-4">
          <v-btn
            color="primary"
            @click="receiveStore.listen"
          >{{ $t('receive.startListening') }}</v-btn>
        </div>
      </v-sheet>
    </v-sheet>

    <v-subheader><i18next path="receive.history"></i18next></v-subheader>
    <i18next tag="div" class="text-center py-6" v-if="!history.length" path="receive.noReceived"></i18next>
    <v-expansion-panels class="px-2">
      <v-expansion-panel v-for="(x, i) in history" :key="x.transmission.hash || i" class="surface">
        <v-expansion-panel-header disable-icon-rotate class="px-4">

          <div class="d-flex">
            <v-icon small :class="(!x.filename || !x.blockCount || x.missingBlocks) ? 'red--text' : 'green--text'">hearing</v-icon>
            <div class="pl-4">
              <i18next :path="x.missingBlocks ? 'receive.historyDetailsIncoming' : 'receive.historyDetails'">
                <span v-if="x.filename">{{x.filename}}</span>
                <span v-else>{{x.transmission.hash}}</span>
                <span>{{x.transmission.hash}}</span>
              </i18next>
              <div class="caption">{{x.transmission.timestamp | date('MMM DD, HH:mm')}}</div>
            </div>
          </div>

          <template #actions>
            <ButtonTransmitStop :hash="x.transmission.hash" class="my-0 ml-0" />
            <v-btn v-if="!transmission?.transmitting || transmission?.hash !== x.transmission.hash" text icon @click.stop="retransmit(x)">
              <v-icon>speaker_phone</v-icon>
            </v-btn>
            <v-menu offset-y>
              <template #activator="{ on }">
                <v-btn text icon class="ma-0" v-on="on" @click.stop="">
                  <v-icon>more_vert</v-icon>
                </v-btn>
              </template>
              <v-list color="surface">
                <v-list-item @click="importReceived(x.transmission)" v-if="!FilenameRegex.message.test(x.filename || '') && !x.missingBlocks">
                  <v-list-item-title>
                    <v-icon text icon left>import_export</v-icon>
                    <i18next path="receive.import"/>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="viewTransmission({hash: x.transmission.hash})">
                  <v-list-item-title>
                    <v-icon text icon left>menu_book</v-icon>
                    <i18next path="receive.view"/>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="deleteTransmission(x.transmission)">
                  <v-list-item-title>
                    <v-icon text icon left>delete</v-icon>
                    <i18next path="receive.delete"/>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <i18next tag="div" path="transmit.hash">{{x.transmission.hash}}</i18next>
          <i18next tag="div" path="transmit.blocksToTransmit"></i18next>
          <div>
            <v-btn rounded text outlined small @click="markAllBlocksToTransmit(x)">
              <i18next path="buttons.all"></i18next>
            </v-btn>
            <v-btn rounded text outlined small @click="markAllBlocksToNotTransmit(x)">
              <i18next path="buttons.none"></i18next>
            </v-btn>
          </div>
          <v-card color="surface" class="py-4" elevation="0">
            <i18next tag="div" path="transmit.missingBlocks" class="red--text" v-if="x.missingBlocks"></i18next>
            <v-chip v-if="!x.filename || !x.blockCount" outlined class="elevation-0" color="red">
              <i18next path="transmit.headers"></i18next>
            </v-chip>
            <v-chip v-else :input-value="x.blocksToTransmit.headers" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit.headers ? 'green' : ''" @click.stop="x.blocksToTransmit.headers = !x.blocksToTransmit.headers">
              <i18next path="transmit.headers"></i18next>
              <div class="v-chip__close">
                <v-icon v-if="x.blocksToTransmit.headers">check_circle</v-icon>
                <v-icon disabled v-else>remove_circle_outline</v-icon>
              </div>
            </v-chip>
            <template v-for="(value, i) in x.knownDataBlocks">
              <v-chip v-if="value in x.blocksToTransmit" :input-value="x.blocksToTransmit[value]" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit[value] ? 'green' : ''" :key="i" @click.stop="x.blocksToTransmit[value] = !x.blocksToTransmit[value]">
                <span>{{value}}</span>
                <!-- <v-icon right color="green" class="text--lighten-1" v-if="value">check_circle</v-icon> -->
                <div class="v-chip__close">
                  <v-icon v-if="x.blocksToTransmit[value]">check_circle</v-icon>
                  <v-icon disabled v-else>remove_circle_outline</v-icon>
                </div>
              </v-chip>
              <v-chip v-else outlined class="elevation-0" color="red" :key="i">{{value}}</v-chip>
            </template>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </Layout>
</template>

<script setup lang="ts">
import { Deamp } from '@hamstudy/flamp';
import { storeToRefs } from 'pinia';
import { computed, reactive, ref, watch } from 'vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { useTranslate } from '@/composables/useTranslate';
import { FilenameRegex, Transmission, getFilename } from '@/models/transmission';
import router, { ROUTES } from '@/router';
import Layout from '@/router/layouts/Main.vue';
import { importData, parseRaceData, parseStationCSV } from '@/services/import.service';
import { SNACKBAR, useNotificationStore } from '@/stores/notifications';
import { useSettingsStore } from '@/stores/settings';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useReceiveStore } from '@/stores/receive';
import { IHistory } from './Transmit.vue';
import ButtonTransmitStop from '@/components/ButtonTransmitStop.vue';

const $t = useTranslate();
const transmission = ref(Transmission.activeTransmission);

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const receiveStore = useReceiveStore();
const {
  recentBuffer,
  listening,
} = storeToRefs(receiveStore);

const {
  history: storedHistory,
} = storeToRefs(receiveStore);
receiveStore.updateHistoryList();

const notificationStore = useNotificationStore();

const {
  autoImport,
  callsign: fromCallsign,
  POWER_SAVING,
} = storeToRefs(useSettingsStore());

const alwaysListening = computed({
  get: () => !POWER_SAVING.value,
  set: (value) => {
    POWER_SAVING.value = !value;
    if (value) {
      receiveStore.listen();
    }
  },
});

const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n: 'transmit.deleteTransmission', i18nData: {} },
  open: false,
});

const historyStore = computed(() => receiveStore.history);
const history = ref<IHistory[]>([]);
watch(historyStore, () => {
  history.value = [];
  formatHistory(historyStore.value, history.value);
}, { immediate: true });

async function formatHistory(storedHistory: Transmission[], history: IHistory[]) {
  for (let x of storedHistory) {
    let obj: IHistory = {
      transmission: x,
      blocksToTransmit: {headers: true} as {[key: number]: boolean, headers: boolean},
      knownDataBlocks: [] as number[],
      filename: x.blocks.FILE?.data.split(':').slice(-1)[0] || '',
      blockCount: x.blocks.SIZE ? Number(x.blocks.SIZE.data.split(' ')[1]) : null,
      missingBlocks: false,
    };
    if (obj.blockCount || obj.blockCount === 0) {
      obj.knownDataBlocks.push(...[...Array(obj.blockCount).keys()].map(k => k+1));
    }
    for (const key of Object.keys(x.blocks) as Array<keyof typeof x['blocks']>) {
      if (isNaN(Number(key))) { continue; }
      obj.blocksToTransmit[Number(key)] = true;
      if (obj.blockCount === null) {
        obj.knownDataBlocks.push(Number(key));
      }
    }
    obj.missingBlocks = !x.blocks.FILE || !x.blocks.SIZE || obj.knownDataBlocks.some(bn => !(bn in x.blocks));
    history.push(obj);
  }
}

function showSnackbar(snackbar: SNACKBAR) {
  notificationStore.snackbar = snackbar;
}

async function importReceived(x: Transmission) {
  const deamp = new Deamp();
  for (const key of Object.keys(x.blocks) as Array<keyof typeof x.blocks>) {
    const block = x.blocks[key];
    if (!block) { continue; }
    deamp.addBlockToFiles(block);
  }
  const file = deamp.getFile(x.hash);
  try {
    const content = file.getContent();
    if (!content) { return; }
    const filename = file.name || '';
    if (FilenameRegex.entry.test(filename)) {
      await parseStationCSV(filename, content);
    } else {
      showSnackbar({ i18next: 'receive.importUnknown' });
      await parseRaceData(content, filename, false);
    }
  } catch (e) {
    alert(e);
  }
}

const importing = ref(false);
const uploadFileInput = ref<HTMLInputElement>();
function uploadFile(e: any) {
  if (!e || !e.target || !e.target.files) { return; }
  const file: File = e.target.files[0];
  const reader = new FileReader();
  reader.onload = async () => {
    importing.value = true;
    try {
      if (typeof reader.result !== 'string') {
        alert('Unable to read file');
        return;
      }
      let content = reader.result;
      if (file.type === 'application/json') {
        try {
          await importData(content, file.name, eventId.value);
        } catch (e) { alert(e); }
      } else if (FilenameRegex.entry.test(file.name)) {
        await parseStationCSV(file.name, content);
      } else {
        await parseRaceData(content, file.name, false);
      }
    } finally {
      if (uploadFileInput.value) {
        uploadFileInput.value.value = '';
      }
      importing.value = false;
    }
  };
  reader.readAsText(file);
}

function markAllBlocksToTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
  for (const k of Object.keys(x.blocksToTransmit)) {
    x.blocksToTransmit[k as any] = true;
  }
}
function markAllBlocksToNotTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
  for (const k of Object.keys(x.blocksToTransmit)) {
    x.blocksToTransmit[k as any] = false;
  }
}

async function deleteTransmission(transmission: Transmission) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    await Transmission.delete(transmission);
    await receiveStore.updateHistoryList();
  }
}

async function viewTransmission({hash}: { hash: string }) {
  router.push({name: ROUTES.viewReceived.name, query: { routeFrom: router.currentRoute.name }, params: {hash}});
}

function retransmit(x: {transmission: Transmission; blocksToTransmit: { [key: number]: boolean; headers: boolean; } }) {
  transmission.value = x.transmission;
  x.transmission.transmit(x.blocksToTransmit, fromCallsign.value);
}
</script>

<style lang="scss" scoped>
.v-chip { transition: none; }
// .transmit-btn {
//   max-width: 100%; width: 150px;
// }
.data-table::v-deep table.v-table {
  thead th:not(:first-child) { padding-left: 0; }
}

.v-expansion-panel::before {
  box-shadow: none;
}
</style>
