<template>
  <Layout content-contained :set-max-width="settingsStore.recordsDataTables.length === 1">
    <RecordsSettings slot="settings-items" />
    <template slot="action-items">
      <ButtonTransmitStop />
    </template>
    <div class="d-flex full-height overflow-hidden">
      <template v-for="{ listFilter, sortBy, sortDesc }, $index in dataTables">
        <RecordsDataTable
          class="flex-grow-1 overflow-y-auto overflow-x-hidden basis-full"
          :class="[
            dataTables.length > 1 && $index ? 'pl-1' : 'pl-2',
            $index < dataTables.length - 1 ? 'pr-1' : 'pr-2'
          ]"
          :key="$index"
          :entry-list="allEntrys"
          :list-filter="listFilter"
          :participants="allParticipants"
          :last-transmitted-timestamp="lastTransmittedTimestamp"
          :include-name="dataTables.length === 1"
          :sort-by="sortBy"
          :sort-desc="sortDesc"
          @update:listFilter="updateListFilter({dataTableIndex: $index, listFilter: $event})"
          @update:sort-by="updateSortBy({dataTableIndex: $index, sortBy: $event})"
          @update:sort-desc="updateSortDesc({dataTableIndex: $index, sortDesc: $event})"
          @requestUpdate="updateEntrys"
        />
      </template>
    </div>
  </Layout>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { ref, watch } from 'vue';
import ButtonTransmitStop from '@/components/ButtonTransmitStop.vue';
import RecordsDataTable from '@/components/RecordsDataTable.vue';
import RecordsSettings from '@/components/RecordsSettings.vue';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Transmission } from '@/models/transmission';
import Layout from '@/router/layouts/Main.vue';
import { useSettingsStore, FILTER_RUNNERS_TO } from '@/stores/settings';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useTransmissionStore } from '@/stores/transmit';

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const settingsStore = useSettingsStore();
const {
  recordsDataTables: dataTables,
} = storeToRefs(settingsStore);

const {
  transmission: activeTransmission,
} = storeToRefs(useTransmissionStore());

const allEntrys = ref<Entry[]>([]);
const allParticipants = ref<Participant[]>([]);
const lastTransmittedTimestamp = ref<Date>(new Date(0));

async function updateEntrys() {
  const [ entrys, participants, timestamp ] = await Promise.all([
    Entry.getEntrys({ eventId: eventId.value, stationId: curStation.value?.id }),
    Participant.getParticipants(eventId.value),
    Transmission.getLastEntryTXTimestamp(eventId.value),
  ]);
  allEntrys.value = entrys;
  allParticipants.value = participants;
  lastTransmittedTimestamp.value = timestamp;
}

watch(
  () => ([
    eventId.value,
    curStation.value?.id,
  ]),
  updateEntrys,
  { immediate: true },
);

function updateListFilter({dataTableIndex, listFilter}: { dataTableIndex: number, listFilter: FILTER_RUNNERS_TO }) {
  settingsStore.updateRecordsDataTableListFilter({dataTableIndex, listFilter});
}
function updateSortBy({dataTableIndex, sortBy}: { dataTableIndex: number, sortBy: [string] }) {
  settingsStore.updateRecordsDataTableSortBy({dataTableIndex, sortBy});
}
function updateSortDesc({dataTableIndex, sortDesc}: { dataTableIndex: number, sortDesc: [boolean] }) {
  settingsStore.updateRecordsDataTableSortDescending({dataTableIndex, sortDesc});
}
</script>

<style scoped lang="scss">
.basis-full {
  flex-basis: 100%;
}
</style>
