<template>
  <div class="full-height" :class="{'primary darken-2': $vuetify.theme.dark}">
    <v-card>
      <v-tabs :color="$vuetify.theme.dark ? 'white' : 'primary'" center-active background-color="transparent" v-model="resultType" @change="calcResults">
        <v-tab color="white">Results</v-tab>
        <v-tab color="white">Mountain Oasis Awards</v-tab>
        <v-tab color="white"><abbr title="USA Track & Field">USATF Awards</abbr></v-tab>
        <v-tab color="white">Teams</v-tab>
      </v-tabs>
    </v-card>
    <pre>
{{results}}
    </pre>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { ref } from 'vue';
import { Event } from '@/models/event';
import { Entry } from '@/models/entry';
import { Participant } from '@/models/participant';
import { Station } from '@/models/station';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useSettingsStore } from '@/stores/settings';

enum ResultType {
  GENERIC,
  MOUNTAIN_OASIS_AWARDS,
  USATF_AWARDS,
  TEAMS,
}

enum ResultGroupNames {
 All = 'All',
 Overall = 'Overall',
 Masters = 'Masters',
 GrandMasters = 'Grand Masters',
 AgeGroups = 'Age Groups',
}

interface ParticipantResult {
  age: number;
  bibNumber: number;
  name: string;
  sex: 'M' | 'F';
  raceTime: number;
  ineligible: boolean;
}

interface ResultFormatting {
  ageLen: number;
  bibLen: number;
  nameLen: number;
  placeLen: number;
  indentLen: number;
  showAge?: boolean;
  showSex?: boolean;
}

interface TeamResult {
  team: string;
  members: ParticipantResult[];
  memberCount: number;
  combinedTime: number;
}

interface ResultsGroup {
  [key: string]: ResultsGroup | Record<string, ParticipantResult[] | TeamResult[]>;
}

const results: any = ref('');
const resultType = ref<ResultType>(0);
const participantResults = ref<ParticipantResult[]>([]);
const teamResults = ref<TeamResult[]>([]);
const formatting = ref<ResultFormatting>({
  ageLen: 0,
  bibLen: 0,
  nameLen: 0,
  placeLen: 0,
  indentLen: 2,
  showAge: true,
  showSex: true,
});

const {
  eventId,
} = storeToRefs(useRaceEventStore());

async function initialize() {
  const [event, stations, entries, participants] = await Promise.all([
    Event.getEvent(eventId.value),
    Station.getStations(eventId.value),
    Entry.getEntrys({eventId: eventId.value}),
    Participant.getParticipants(eventId.value),
  ]);

  const entryMap: {[participantIdStationId: string]: Entry} = {};
  for (const entry of entries) {
    const key = `${entry.participantId}${entry.stationId}`;
    entryMap[key] = entry;
  }

  const teamMap: Record<string, TeamResult> = {};

  const start = stations.reduce((f, s) => f.stationNumber > s.stationNumber ? s : f);
  const finish = stations.reduce((f, s) => f.stationNumber > s.stationNumber ? f : s);

  for (const participant of participants) {
    const finishEntryKey = `${participant.id}${finish.id}`;
    const startEntryKey = `${participant.id}${start.id}`;
    const finishTime = entryMap[finishEntryKey]?.timeIn?.getTime() || 0;
    const startTime = entryMap[startEntryKey]?.timeOut?.getTime() || 0;
    if (participant.team) {
      if (!teamMap.hasOwnProperty (participant.team)) {
        teamMap[participant.team] = { team: participant.team, members: [], memberCount: 1, combinedTime: 0 };
      } else {
        teamMap[participant.team].memberCount++;
      }
    }
    if (participant.age?.startsWith('<')) {
      participant.age = `0${participant.age}`;
    } else if (participant.age?.toUpperCase().startsWith('M<')) {
      participant.age = participant.age.replace('M<', 'M0<');
    } else if (participant.age?.toUpperCase().startsWith('F<')) {
      participant.age = participant.age.replace('F<', 'F0<');
    }
    if (!finishTime) { continue; }
    const raceTime = finishTime - startTime;
    const sex = participant.sex || (/[FM]/i.test(participant.age || '') ? participant.age?.[0] : '');
    const age = parseInt(participant.age?.replace(/^[FM]/i, '') || '', 10);
    const participantResult: ParticipantResult = {
      age,
      bibNumber: participant.bibNumber,
      sex: sex?.toUpperCase() as 'M' | 'F' || '',
      name: `${participant.firstName} ${participant.lastName}`,
      raceTime,
      ineligible: startTime !== event?.startDate?.getTime(),
    };
    if (participant.team) {
        teamMap[participant.team].members.push(participantResult);
        teamMap[participant.team].combinedTime += raceTime;
    }
    participantResults.value.push(participantResult);
  }

  participantResults.value.sort((a, b) => a.raceTime - b.raceTime);
  teamResults.value = Object.values(teamMap)
    .filter((t) => t.members.length === t.memberCount)
    .sort((a, b) => a.combinedTime - b.combinedTime)
    .sort((a, b) => a.memberCount - b.memberCount);

  formatting.value.bibLen = Math.max(...participantResults.value.map(o => o.bibNumber)).toString().length;
  formatting.value.ageLen = Math.max(...participantResults.value.map(o => o.age)).toString().length;
  formatting.value.nameLen = Math.max(...participantResults.value.map(o => o.name.length));
  formatting.value.placeLen = participantResults.value.length.toString().length;

  calcResults();
}
initialize();

function calcResults() {
  let resultsGroup: ResultsGroup;

  if (resultType.value === ResultType.MOUNTAIN_OASIS_AWARDS) {
    resultsGroup = generateMountainOasisAwardResults(participantResults.value);
  } else if (resultType.value === ResultType.USATF_AWARDS) {
    resultsGroup = generateUSATFAwardResults(participantResults.value);
  } else if (resultType.value === ResultType.TEAMS) {
    resultsGroup = generateTeamResults(teamResults.value);
  } else {
    resultsGroup = generateGenericResults(participantResults.value);
  }

  results.value = formatResultsReport(resultsGroup, formatting.value);
}

function formatDuration(ms: number) {
  function numString(num: number) {
    return num.toLocaleString('en-US', {
      minimumIntegerDigits: 2,
      useGrouping: false,
    });
  }

  const totalSeconds = ms / 1000;
  const totalMinutes = Math.floor(totalSeconds / 60);
  const totalHours = Math.floor(totalMinutes / 60);
  const seconds = totalSeconds % 60;
  const minutes = totalMinutes % 60;
  return `${numString(totalHours)}:${numString(minutes)}:${numString(seconds)}`;
}

function formatResultsReport(resultsGroup: Readonly<ResultsGroup>, resultFormatting: Readonly<ResultFormatting>) {
  function formatParticipantResults(pResults: Readonly<ParticipantResult[]>) {
    const showAge = !!resultFormatting.showAge;
    const showSex = !!resultFormatting.showSex;
    const showOpt = showAge || showSex;
    const nameLen = resultFormatting.nameLen + (showOpt ? 3 + (showAge && showSex ? 1 : 0) + (showAge ? resultFormatting.ageLen : 0) + (showSex ? 1 : 0): 0);

    const formattedResults = [];
    for (const [k, v] of Object.entries(pResults)) {
      let optStr = showOpt ? ` (${showAge ? v.age : ''}${showAge && showSex ? '/' : ''}${showSex ? v.sex : ''})` : '';
      let str = `${(parseInt(k, 10) + 1).toString().padStart(resultFormatting.placeLen)}: ${v.bibNumber.toString().padStart(resultFormatting.bibLen)} ${(v.name + optStr).padEnd(nameLen)} ${formatDuration(v.raceTime)}`;
      formattedResults.push(str);
    }

    return formattedResults;
  }
  function formatTeamResults(tResults: Readonly<TeamResult[]>) {
    const showAge = !!resultFormatting.showAge;
    const showSex = !!resultFormatting.showSex;
    const showOpt = showAge || showSex;

    const formattedResults: string[] = [];
    for (const [k, v] of Object.entries(tResults)) {
      let namesArr: string[] = [];
      for (const participant of v.members) {
        let optStr = showOpt ? ` (${showAge ? participant.age : ''}${showAge && showSex ? '/' : ''}${showSex ? participant.sex : ''})` : '';
        namesArr.push (participant.name + optStr);
      }
      const names = namesArr.join(', ');

      let str = `${(parseInt(k, 10) + 1).toString().padStart(resultFormatting.placeLen)}: ${names} - ${formatDuration(v.combinedTime)}`;
      formattedResults.push(str);
    }

    return formattedResults;
  }

  function formatResultGroup(pResults: Readonly<ResultsGroup>) {
    let report = '';

    for (const [k, v] of Object.entries(pResults)) {
      report += `${k}:\n`;

      let result = '';
      if (Array.isArray(v)) {
        let resultArray;
        if (v.length > 0 && v[0].team) {
          resultArray = formatTeamResults(v);
        } else {
          resultArray = formatParticipantResults(v);
        }

        for (const r of resultArray) {
          result += `${r}\n`;
        }
      } else {
        result += formatResultGroup(v as ResultsGroup);
      }
      report += result.replace(/^/gm, ''.padStart(resultFormatting.indentLen)) + '\n';
    }

    return report;
  }

  return formatResultGroup(resultsGroup);
}

function generateGenericResults(_participantResults: Readonly<ParticipantResult[]>) {
  const mastersAge = 40;

  const overallExemptionCount = 2;
  const mastersExemptionCount = 2;

  let resultsGroup: ResultsGroup = {};
  resultsGroup[ResultGroupNames.All] = {};
  resultsGroup[ResultGroupNames.All][ResultGroupNames.Overall] = _participantResults.slice();

  for (const [label, sex] of Object.entries({ Male: 'M', Female: 'F' })) {
    const overall = _participantResults.filter(r => r.sex === sex);
    const masters = overall.slice(overallExemptionCount).filter(r => r.age >= mastersAge);

    let ageGroups: Record<string, ParticipantResult[]> = {};
    for (const p of overall.slice(overallExemptionCount).filter(r => !masters.slice(0,mastersExemptionCount).includes(r))) {
      let ageGroup = Math.floor(p.age / 10) * 10;
      if (!ageGroups[ageGroup]) {
        ageGroups[ageGroup] = [];
      }

      ageGroups[ageGroup].push(p);
    }

    let prunedAgeGroups: Record<string, ParticipantResult[]> = {};
    for (let min in ageGroups) {
      const max = parseInt(min, 10) + 9;
      prunedAgeGroups[`${min}-${max === 9 ? '19' : max}`] = ageGroups[min];
    }

    resultsGroup[label] = {};
    resultsGroup[label][ResultGroupNames.Overall] = overall;
    resultsGroup[label][ResultGroupNames.Masters] = masters;
    resultsGroup[label][ResultGroupNames.AgeGroups] = prunedAgeGroups;
  }

  return resultsGroup;
}

function generateMountainOasisAwardResults(_participantResults: Readonly<ParticipantResult[]>) {
  const mastersAge = 40;

  const overallAwardCount = 2;
  const mastersAwardCount = 2;
  const ageGroupAwardCount = 2;

  let resultsGroup: ResultsGroup = {};
  for (const [label, sex] of Object.entries({ Male: 'M', Female: 'F' })) {
    const overall = _participantResults.filter(r => r.sex === sex);
    const masters = overall.slice(overallAwardCount).filter(r => r.age >= mastersAge);

    let ageGroups: Record<string, ParticipantResult[]> = {};
    for (const p of overall.slice(overallAwardCount).filter(r => !masters.slice(0,mastersAwardCount).includes(r))) {
      let ageGroup = Math.floor(p.age / 10) * 10;
      if (!ageGroups[ageGroup]) {
        ageGroups[ageGroup] = [];
      }

      ageGroups[ageGroup].push(p);
    }

    let prunedAgeGroups: Record<string, ParticipantResult[]> = {};
    for (let min in ageGroups) {
      const max = parseInt(min, 10) + 9;
      prunedAgeGroups[`${min}-${max === 9 ? '19' : max}`] = ageGroups[min].slice(0,ageGroupAwardCount);
    }

    resultsGroup[label] = {};
    resultsGroup[label][ResultGroupNames.Overall] = overall.slice(0,overallAwardCount);
    resultsGroup[label][ResultGroupNames.Masters] = masters.slice(0,mastersAwardCount);
    resultsGroup[label][ResultGroupNames.AgeGroups] = prunedAgeGroups;
  }

  return resultsGroup;
}

function generateUSATFAwardResults(_participantResults: Readonly<ParticipantResult[]>) {
  const mastersAge = 40;
  const grandMastersAge = 50;

  const overallAwardCount = 3;
  const mastersAwardCount = 1;
  const grandMastersAwardCount = 1;

  let resultsGroup: ResultsGroup = {};
  for (const [label, sex] of Object.entries({ Male: 'M', Female: 'F' })) {
    const overall = _participantResults.filter(r => r.sex === sex);
    const masters = overall.slice(overallAwardCount).filter(r => r.age >= mastersAge);
    const grandMasters = masters.slice(mastersAwardCount).filter(r => r.age >= grandMastersAge);

    resultsGroup[label] = {};
    resultsGroup[label][ResultGroupNames.Overall] = overall.slice(0,overallAwardCount);
    resultsGroup[label][ResultGroupNames.Masters] = masters.slice(0,mastersAwardCount);
    resultsGroup[label][ResultGroupNames.GrandMasters] = grandMasters.slice(0,grandMastersAwardCount);
  }

  return resultsGroup;
}

function generateTeamResults(_teamResults: Readonly<TeamResult[]>) {
  const groups = [...new Set(_teamResults.map(i => i.memberCount))];

  let resultsGroup: ResultsGroup = {};
  resultsGroup[ResultGroupNames.All] = {};
  for (const g of groups) {
    const groupName = `Teams of ${g}`;
    resultsGroup[ResultGroupNames.All][groupName] = _teamResults.filter(t => t.memberCount === g);
  }

  return resultsGroup;
}
</script>
