<template>
  <Layout v-if="runner">
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <i18next slot="title" class="text-center" path="runnerDetails.title">
      <span>{{runner.bibNumber}}</span>
    </i18next>
    <template slot="action-items">
      <v-btn text @click.stop="deleteRunner()">
        <v-icon>delete</v-icon>
      </v-btn>
    </template>
    <div class="d-flex">
      <v-spacer/>
      <v-btn class="pull-right ma-2 primary" @click.stop="openDnfDialog" v-if="!runner.dnfStation && runner.dnfStation !== 0">
        <i18next path="buttons.dns" v-if="curStation.stationNumber === 0"></i18next>
        <i18next path="buttons.dnf" v-else></i18next>
      </v-btn>
      <v-btn class="pull-right ma-2 primary" @click.stop="undropRunner" v-else-if="runner.dnfStation === curStation.stationNumber">
        <i18next path="buttons.undoDNS" v-if="curStation.stationNumber === 0"></i18next>
        <i18next path="buttons.undoDNF" v-else></i18next>
      </v-btn>
    </div>
    <div class="py-4" v-if="runner.firstName || runner.lastName || runner.age || runner.sex || runner.home || runner.team || runner.note || (runner.dnfStation >= 0 && runner.dnfReason)">
      <i18next class="px-4" path="runner.name" tag="div" v-if="runner.firstName || runner.lastName">
        <span>{{runner.firstName}}</span>
        <span>{{runner.lastName}}</span>
      </i18next>
      <i18next class="px-4" path="runner.age" tag="div" v-if="runner.age">{{runner.age}}</i18next>
      <i18next class="px-4" path="runner.gender" tag="div" v-if="runner.sex">{{runner.sex}}</i18next>
      <i18next class="px-4" path="runner.home" tag="div" v-if="runner.home">{{runner.home}}</i18next>
      <i18next class="px-4" path="runner.team" tag="div" v-if="runner.team">{{runner.team}}</i18next>
      <i18next class="px-4" path="runner.didNotStart" tag="div" v-if="runner.dnfStation === 0"/>
      <i18next class="px-4" path="runner.droppedAt" tag="div" v-else-if="runner.dnfStation > 0">{{runner.dnfStation}}</i18next>
      <i18next class="px-4" path="runner.dnsReason" tag="div" v-if="runner.dnfReason && runner.dnfStation === 0">{{runner.dnfReason}}</i18next>
      <i18next class="px-4" path="runner.droppedReason" tag="div" v-else-if="runner.dnfReason">{{runner.dnfReason}}</i18next>
      <i18next class="px-4 ws-pre" path="runner.note" tag="div" v-if="runner.note">{{runner.note}}</i18next>
    </div>
    <v-divider class="mb-3"/>
    <v-row class="ma-0" justify="center">
      <v-col class="py-0" cols="12" sm="8" md="6" lg="5">
        <v-row class="ma-0 p">
          <v-col class="py-0" :class="{'px-1': $vuetify.breakpoint.xs}">
            <v-row class="ma-0 font-weight-bold" :class="$vuetify.theme.dark ? 'accent--text text--darken-1' : ''">
              <v-col cols="1">#</v-col>
              <v-col cols="5">Station</v-col>
              <!-- <v-col cols="2">Distance</v-col> -->
              <v-col class="text-right">Arrived</v-col>
              <v-col class="text-right">Left</v-col>
            </v-row>
            <template v-for="station of stations">
              <v-row class="ma-0" :class="$vuetify.theme.dark ? 'accent--text text--darken-1' : ''" :key="station.id">
                <v-col cols="1">{{station.stationNumberDisplayed || station.stationNumber}}</v-col>
                <v-col cols="5">{{station.name}}<span class="pl-1" v-if="station.distance || station.distance === 0">({{station.distance}})</span></v-col>
                <!-- <v-col cols="2">{{station.distance}}</v-col> -->
                <v-col class="text-right" v-if="(entryMap[station.id] || {}).timeIn">{{(entryMap[station.id] || {}).timeIn | time(includeSecondsWithTime)}}</v-col>
                <v-col class="text-right" v-else>---</v-col>
                <v-col class="text-right" v-if="(entryMap[station.id] || {}).timeOut">{{(entryMap[station.id] || {}).timeOut | time(includeSecondsWithTime)}}</v-col>
                <v-col class="text-right" v-else-if="runner.dnfStation === station.stationNumber">DNF</v-col>
                <v-col class="text-right" v-else>---</v-col>
              </v-row>
            </template>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <DnfDialog v-model="dnfDialog.open" :event-id="eventId" :station="curStation" @closed="dropRunner($event)" />
  </Layout>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, reactive, ref } from 'vue';
import Layout from '@/router/layouts/Main.vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import DnfDialog from '@/components/DnfDialog.vue';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import { Station } from '@/models/station';
import router, { ROUTES } from '@/router';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useSettingsStore } from '@/stores/settings';

const props = defineProps<{
  bibNumber: number;
}>();

const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const {
  includeSecondsWithTime,
} = storeToRefs(useSettingsStore());

const runner = ref<Participant | null>(null);
const entryMap = ref<Record<string, Entry>>({});
const stations = ref<Station[]>([]);

const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n: 'runner.delete', i18nData: {}},
  open: false,
});

const dnfDialog = reactive({
  open: false,
});

async function created() {
  try {
    runner.value = await Participant.getParticipant(eventId.value, props.bibNumber);
    if (!runner.value) {
      // @TODO Show Runner Not Found with an option to create the runner
      router.push({name: ROUTES.entries.name});
    } else {
      let [fetchedStations, entrys] = await Promise.all([
        Station.getStations(eventId.value, runner.value.raceId),
        Entry.getEntrys({participantId: runner.value.id}),
      ]);
      stations.value = fetchedStations;
      stations.value.sort((a, b) => a.stationNumber > b.stationNumber ? 1 : -1);
      entryMap.value = entrys.reduce((m, e) => {m[e.stationId] = e; return m;}, {} as {[stationId: string]: Entry});
    }
  } catch (e) {
    console.error(e); // tslint:disable-line
  }
}
created();

async function deleteRunner() {
  if (!runner.value) { return; }
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.text.i18nData = {};
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    await Participant.delete(runner.value);
    router.push({name: ROUTES.entries.name});
  }
}

function goBack() {
  router.go(-1);
}

function openDnfDialog() {
  dnfDialog.open = true;
}
async function dropRunner(reason: string) {
  if (!runner.value) { return; }
  dnfDialog.open = false;
  runner.value.drop({reason, station: curStation.value});
  await Promise.all([
    runner.value.save(),
    (async () => {
      if (!runner.value) { return; }
      let entry = await Entry.getEntry(curStation.value.id, runner.value.id);
      if (!entry) { entry = new Entry(eventId.value, runner.value.id, curStation.value.id); }
      await entry.save();
    })(),
  ]);
}
async function undropRunner() {
  if (!runner.value) { return; }
  runner.value.undrop();
  await Promise.all([
    runner.value.save(),
    (async () => {
      if (!runner.value) { return; }
      let entry = await Entry.getEntry(curStation.value.id, runner.value.id);
      if (!entry) { entry = new Entry(eventId.value, runner.value.id, curStation.value.id); }
      await entry.save();
    })(),
  ]);
}
</script>

<style lang="scss" scoped>
.v-list { background-color: transparent; }
.no-min-width { min-width: 0; }

.pull-right { float: right; }
</style>
