<template>
  <Layout>
    <i18next class="text-center" path="titles.stationPicker" slot="title"></i18next>
    <template slot="action-items">
      <v-btn text small @click.stop="editting = !editting" class="ma-0 no-min-width" v-if="stations.length">
        <i18next :path="editting ? 'buttons.stopEditting' : 'buttons.edit'"></i18next>
      </v-btn>
    </template>
    <v-btn v-show="!editting" fab fixed dark color="accent darken-1" class="upload-btn" :class="{'adjust-up-for-tabBar': eventId && curStation}" @click.stop="$refs.uploadFileInput?.click()">
      <v-icon>attachment</v-icon>
    </v-btn>
    <input v-show="false" ref="uploadFileInput" name="uploadFileInput" type="file" accept="text/plain, text/csv, application/json" @change="uploadFile" />
    <v-btn v-if="!editting" fab fixed dark class="add-btn hamstudyBlue" :class="{'adjust-up-for-tabBar': eventId && curStation}" @click.stop="newStation">
      <v-icon>add</v-icon>
    </v-btn>
    <v-list class="pa-0 ma-2 surface">
      <div class="text-center pa-6" v-if="!stations.length">
        <i18next class="title" path="settings.noStations"></i18next>
      </div>
      <template v-for="(station, i) in stations">
        <v-list-item :key="'list-tile-' + i" @click.stop="setStation(station)">
          <v-list-item-content>
            <span v-if="station.name && station.name.trim()">{{station.stationNumberDisplayed ? station.stationNumberDisplayed.trim() ? '(' + station.stationNumberDisplayed + ') ' : '' : '(' + station.stationNumber + ') '}}{{station.name}}{{station.distance ? ' - ' + station.distance : ''}}</span>
            <i18next tag="span" slot="title" path="titles.station" v-else>{{station.stationNumberDisplayed || station.stationNumber}}</i18next>
          </v-list-item-content>
          <v-list-item-action v-if="!editting && station.stationNumber === (curStation && curStation.stationNumber)">
            <v-icon>check</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="editStation(station)">
            <v-icon>edit</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="editting" @click.stop="deleteStation(station)">
            <v-icon color="red">delete</v-icon>
          </v-list-item-action>
          <v-list-item-action v-if="!editting">
            <v-icon>chevron_right</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider :key="'divider-' + i" v-if="i !== stations.length - 1"/>
      </template>
    </v-list>

    <v-dialog v-model="editDialog.open" max-width="400">
      <v-card>
        <v-card-title>
          <i18next class="headline" path="settings.editStationTitle"></i18next>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field label="Station name*" required v-model="editDialog.name"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Station Number*" type="number" required v-model="editDialog.stationNumber"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Distance" required v-model="editDialog.distance"></v-text-field>
            </v-flex>
          </v-layout>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click.stop="editDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn text @click.stop="saveStation()"><i18next path="buttons.save"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
  </Layout>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { computed, reactive, ref } from 'vue';

import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { Race } from '@/models/race';
import { Station } from '@/models/station';
import Layout from '@/router/layouts/Main.vue';
import router, { ROUTES } from '@/router';
import { importData, parseRaceData, parseStationCSV } from '@/services/import.service';
import { useRaceEventStore } from '@/stores/raceEvent';

const uploadFileInput = ref<HTMLInputElement | null>(null);

const {
  eventId,
  stationId: curStationId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const races = ref<{[id: string]: Race}>({});

function setStationId(stationId: string) {
  curStationId.value = stationId;
}

const editting = ref(false);
const stations = ref<Station[]>([]);
const importing = ref(false);

const editDialog = reactive({
  station: null as null | Station,
  open: false,
  name: '',
  stationNumber: 0,
  distance: (void 0) as undefined | number,
  shouldSave: false,
});

const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n: 'settings.deleteEvent', i18nData: {}},
  open: false,
});

async function newStation() {
  let stationNumber = (stations.value.reduce((i, n) => i > (n.stationNumber) ? i : (n.stationNumber), 0) || 0) + 1;
  editStation(new Station(eventId.value, {name: '', stationNumber}));
}
function editStation(station: Station) {
  editDialog.station = station;
  editDialog.name = station.name || '';
  editDialog.stationNumber = station.stationNumber;
  editDialog.distance = station.distance;
  editDialog.open = true;
}
async function saveStation() {
  editting.value = false;
  if (editDialog.station) {
    let station = editDialog.station;
    station.stationNumber = parseInt(editDialog.stationNumber as any, 10);
    station.name = editDialog.name;
    station.distance = editDialog.distance;
    editDialog.open = false;
    try {
      await station.save();
    } catch (e) {
      console.error(e);  // tslint:disable-line no-console
      alert(e);
    }
    if (!stations.value.length) {
      setStation(station);
    } else {
      await getStations();
    }
  }
}
function setStation(station: Station | null) {
  if (editting.value) { return; }
  setStationId(station && station.id || '');
  curStation.value = station;
  if (station) { // station could be null so only if it's not null should we move
    let routeFrom = Array.isArray(router.currentRoute.query.routeFrom) ? router.currentRoute.query.routeFrom[0] : router.currentRoute.query.routeFrom;
    let routeTo = Array.isArray(router.currentRoute.query.routeTo) ? router.currentRoute.query.routeTo[0] : router.currentRoute.query.routeTo;
    router.push({
      name: routeTo || ((!routeFrom || routeFrom === ROUTES.raceEventPicker.name) ? ROUTES.inputTimes.name : routeFrom),
      params: {
        ...router.currentRoute.params,
        stationIdOrSlug: station.id,
      },
    });
  }
}

async function created() {
  await Promise.all([
    getStations(),
    getRaces(),
  ]);
  if (!stations.value.length) {
    newStation();
  }
}
created();

async function getRaces() {
  races.value = (await Race.getRaces(eventId.value)).reduce((m, r) => {
    m[r.id] = r;
    return m;
  }, {} as {[id: string]: Race});
}

async function getStations() {
  stations.value = await Station.getStations(eventId.value);
  stations.value.sort((a,b) => a.stationNumber > b.stationNumber ? 1 : -1);
}

async function deleteStation(station: Station) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.text.i18nData = { name: `${station.stationNumber} - ${station.name || ''}` };
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    editting.value = false;
    await Station.delete(station);
    if (curStation.value && curStation.value.id === station.id) {
      setStation(null);
    }
    getStations();
  }
}

function uploadFile(e: any) {
  if (!e || !e.target || !e.target.files) { return; }
  const file: File = e.target.files[0];
  const reader = new FileReader();
  reader.onload = async () => {
    importing.value = true;
    try {
      if (typeof reader.result !== 'string') {
        alert('Unable to read file');
        return;
      }
      let content = reader.result;
      if (file.type === 'application/json') {
        try {
          await importData(content, file.name, eventId.value);
        } catch (e) { alert(e); }
      } else {
        await parseRaceData(content, file.name, false);
      }
      await getStations();
    } finally {
      if (uploadFileInput.value) {
        uploadFileInput.value.value = '';
      }
      importing.value = false;
    }
  };
  reader.readAsText(file);
}
</script>

<style lang="scss" scoped>
$bottom: 16px;
.add-btn {
  bottom: $bottom; right: 16px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom)); right: calc(16px + var(--safe-area-right));
}
.upload-btn {
  bottom: $bottom; right: 88px; // For older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom)); right: calc(88px + var(--safe-area-right));
}

$bottom: 70px;
.adjust-up-for-tabBar.add-btn,
.adjust-up-for-tabBar.upload-btn {
  bottom: $bottom; // for older devices that can't use calc
  bottom: calc(#{$bottom} + var(--safe-area-bottom));
}
.no-min-width { min-width: 0; }
</style>
