<template>
  <Layout>
    <ConfirmDialog
      @closed="confirmDialog.callback"
      confirmBtnText="buttons.delete"
      :text="confirmDialog.text"
      :open="confirmDialog.open"
    ></ConfirmDialog>
    <v-dialog v-model="importing" persistent width="200">
      <v-card class="pt-2 text-center">
        <i18next tag="div" class="px-4 pb-2" path="receive.importing"></i18next>
        <v-progress-linear indeterminate color="accent" class="mb-0"></v-progress-linear>
      </v-card>
    </v-dialog>
    <template slot="action-items">
      <ButtonTransmitStop />
    </template>

    <!-- <v-list-item class="grey darken-4">
      <v-text-field class="pb-2" outline :label="$t('settings.myCallsign')" color="accent" :value="fromCallsign" @change="setCallsign" hide-details></v-text-field>
    </v-list-item> -->

    <div v-if="dataTable.items.length">
      <v-subheader>
        <i18next path="transmit.dataNeedingToTransmit"></i18next>
      </v-subheader>
      <v-data-table class="data-table mx-2 surface"
        v-model="dataTable.selected"
        :headers="headers"
        :items="dataTable.items"
        :sort-by="sortBy"
        :sort-desc="descending"
        item-key="bibNumber"
        must-sort
        :mobile-breakpoint="0"
        :items-per-page="5"
        :footer-props="{'items-per-page-options': [5]}"
      >
        <template #item.timeIn="{ item }">
          <i18next path="runner.dropped" class="pl-0" v-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation < curStation.stationNumber"/>
          <span v-else @click="editParticipantTime(item, 'timeIn')">
            <span class="nowrap" v-if="item.timeIn !== null">{{ item.timeIn | time(includeSecondsWithTime) }}<v-icon class="pl-2" small>edit</v-icon></span>
            <span class="nowrap" v-else>— : —<v-icon class="pl-2" small>edit</v-icon></span>
          </span>
        </template>
        <template #item.timeOut="{ item }">
          <i18next path="runner.dropped" class="pl-0" v-if="typeof item.participant.dnfStation === 'number' && item.participant.dnfStation <= curStation.stationNumber"/>
          <span v-else @click="editParticipantTime(item, 'timeOut')">
            <span class="nowrap" v-if="item.timeOut !== null">{{ item.timeOut | time(includeSecondsWithTime) }}<v-icon class="pl-2" small>edit</v-icon></span>
            <span class="nowrap" v-else>— : —<v-icon class="pl-2" small>edit</v-icon></span>
          </span>
        </template>
      </v-data-table>
      <div class="text-center">
        <v-btn v-if="!transmission || !transmission.transmitting" color="primary" class="transmit-btn mt-2" @click.stop="transmitChanges">
          <i18next path="buttons.transmitChanges"></i18next>
        </v-btn>
      </div>
    </div>
    <div v-else>
      <v-subheader>
        <i18next path="transmit.noData"></i18next>
      </v-subheader>
    </div>
    <div class="text-center">
      <v-btn color="primary" dark class="transmit-btn my-2" @click.stop="openSendMessageDialog">
        <i18next path="buttons.sendMessage"></i18next>
      </v-btn>
    </div>
    <v-subheader><i18next path="transmit.history"></i18next></v-subheader>
    <i18next tag="div" class="text-center py-6" v-if="!history.length" path="transmit.noTransmissions"></i18next>
    <v-expansion-panels class="px-2 surface">
      <v-expansion-panel v-for="(x, i) in history" :key="x.transmission.hash || i">
        <v-expansion-panel-header disable-icon-rotate class="px-4 surface">

          <div class="d-flex">
            <v-icon small class="accent--text">speaker_phone</v-icon>
            <div class="pl-4">
              <i18next path="transmit.historyDetails" :options="{count: x.transmission.entryCount}" v-if="x.transmission.entryCount">
                <span>{{x.transmission.entryCount}}</span>
                <span>{{x.transmission.hash}}</span>
              </i18next>
              <i18next path="transmit.sentMessage" v-else>
                <span>{{x.filename}}</span>
                <span>{{x.transmission.hash}}</span>
              </i18next>

              <div class="caption">{{x.transmission.timestamp | date('MMM DD, HH:mm')}}</div>
            </div>
          </div>

          <template #actions>
            <ButtonTransmitStop :hash="x.transmission.hash" class="my-0 ml-0" />
            <v-btn v-if="!transmission?.transmitting || transmission?.hash !== x.transmission.hash" text icon @click.stop="retransmit(x)">
              <v-icon>speaker_phone</v-icon>
            </v-btn>
            <v-menu offset-y>
              <template #activator="{ on }">
                <v-btn text icon class="ma-0" v-on="on" @click.stop="">
                  <v-icon>more_vert</v-icon>
                </v-btn>
              </template>
              <v-list color="surface">
                <v-list-item @click="viewTransmission({hash: x.transmission.hash})">
                  <v-list-item-title>
                    <v-icon text icon left>menu_book</v-icon>
                    <i18next path="receive.view"/>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="deleteTransmission(x.transmission)">
                  <v-list-item-title>
                    <v-icon text icon left>delete</v-icon>
                    <i18next path="receive.delete"/>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content class="surface">
          <i18next tag="div" path="transmit.hash">{{x.transmission.hash}}</i18next>
          <i18next tag="div" path="transmit.blocksToTransmit"></i18next>
          <div>
            <v-btn rounded text outlined small @click="markAllBlocksToTransmit(x)">
              <i18next path="buttons.all"></i18next>
            </v-btn>
            <v-btn rounded text outlined small @click="markAllBlocksToNotTransmit(x)">
              <i18next path="buttons.none"></i18next>
            </v-btn>
          </div>
          <div class="py-4" elevation="0">
            <i18next tag="div" path="transmit.missingBlocks" class="red--text" v-if="x.missingBlocks"></i18next>
            <v-chip v-if="!x.filename || !x.blockCount" outlined class="elevation-0" color="red">
              <i18next path="transmit.headers"></i18next>
            </v-chip>
            <v-chip v-else :input-value="x.blocksToTransmit.headers" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit.headers ? 'green' : ''" @click.stop="x.blocksToTransmit.headers = !x.blocksToTransmit.headers">
              <i18next path="transmit.headers"></i18next>
              <div class="v-chip__close">
                <v-icon v-if="x.blocksToTransmit.headers">check_circle</v-icon>
                <v-icon disabled v-else>remove_circle_outline</v-icon>
              </div>
            </v-chip>
            <template v-for="(value, i) in x.knownDataBlocks">
              <v-chip v-if="value in x.blocksToTransmit" :input-value="x.blocksToTransmit[value]" outlined class="elevation-0 v-chip--removable" :color="x.blocksToTransmit[value] ? 'green' : ''" :key="i" @click.stop="x.blocksToTransmit[value] = !x.blocksToTransmit[value]">
                <span>{{value}}</span>
                <!-- <v-icon right color="green" class="text--lighten-1" v-if="value">check_circle</v-icon> -->
                <div class="v-chip__close">
                  <v-icon v-if="x.blocksToTransmit[value]">check_circle</v-icon>
                  <v-icon disabled v-else>remove_circle_outline</v-icon>
                </div>
              </v-chip>
              <v-chip v-else outlined class="elevation-0" color="red" :key="i">{{value}}</v-chip>
            </template>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-dialog v-model="msgDialog.open" max-width="400">
      <v-card>
        <div class="px-4 pt-4">
          <v-text-field label="Filename (optional)" v-model="msgDialog.filename"></v-text-field>
          <v-textarea outlined hide-details :label="$t('transmit.customMessage')" required v-model="msgDialog.text"></v-textarea>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="msgDialog.open = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="transmit({filename: msgDialog.filename, contents: msgDialog.text}); msgDialog.open = false;" :disabled="!msgDialog.text"><i18next path="buttons.transmit"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <EditTimeDialog v-if="curStation" v-model="editTimeDialog.open" :item="editTimeDialog.item" :entry-key="editTimeDialog.entryKey" :station="curStation" @save="getRunnersToBeTransmitted()" />
  </Layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export interface IHistory {
  transmission: import('@/models/transmission').Transmission;
  blocksToTransmit: {[key: number]: boolean; headers: boolean;};
  filename?: string;
  blockCount: number | null;
  knownDataBlocks: number[];
  missingBlocks: boolean;
}

export default defineComponent({});
</script>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { Amp, Deamp } from '@hamstudy/flamp';
import { computed, reactive, ref, watch } from 'vue';

import Layout from '../layouts/Main.vue';
import ButtonTransmitStop from '@/components/ButtonTransmitStop.vue';
import EditTimeDialog from '@/components/EditTimeDialog.vue';
import ConfirmDialog from '@/components/common/ConfirmDialog.vue';
import { useNotificationStore, SNACKBAR } from '@/stores/notifications';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import { Transmission, runnersToFileStr, getFilename } from '@/models/transmission';
import router, { ROUTES } from '@/router';
import { IDataTableItem } from '@/components/RecordsDataTable.vue';
import { FilenameRegex } from '@/models/transmission';
import { importData, parseRaceData, parseStationCSV } from '@/services/import.service';
import { useTranslate } from '@/composables/useTranslate';
import { useSettingsStore } from '@/stores/settings';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useTransmissionStore } from '@/stores/transmit';


const $t = useTranslate();
const {
  eventId,
  station: curStation,
} = storeToRefs(useRaceEventStore());

const {
  callsign: fromCallsign,
  POWER_SAVING,
  includeSecondsWithTime,
} = storeToRefs(useSettingsStore());

const notificationStore = useNotificationStore();
const transmissionStore = useTransmissionStore();

function setCallsign(callsign: string) {
  fromCallsign.value = callsign;
}

const importing = ref(false);
const headers = computed(() => [
  { text: $t('dataHeaders.bib'), value: 'bibNumber' },
  { text: $t('dataHeaders.timeIn'), value: 'timeIn' },
  { text: $t('dataHeaders.timeOut'), value: 'timeOut' },
]);
const dataTable = reactive({
  items: [] as IDataTableItem[],
  selected: [] as IDataTableItem[],
});
const descending = ref(true);
const sortBy = ref('modified');
const chunks = ref<Array<{selected: boolean}>>([]);
const editTimeDialog = reactive({
  open: false,
  item: {} as IDataTableItem,
  entryKey: 'timeIn' as 'timeIn' | 'timeOut',
});

const transmission = ref<Transmission | null>(null);

const historyStore = computed(() => transmissionStore.history);
const history = ref<IHistory[]>([]);

function showSnackbar(snackbar: SNACKBAR) {
  notificationStore.snackbar = snackbar;
}

function updateHistory() {
  transmissionStore.updateHistoryList();
}

const msgDialog = reactive({
  open: false,
  text: '',
  filename: 'Message',
});


const confirmDialog = reactive({
  callback: (value?: any | PromiseLike<any> | undefined) => {
    // noop
  },
  text: { i18n: 'transmit.deleteTransmission', i18nData: {} },
  open: false,
});


async function created() {
  transmission.value = Transmission.activeTransmission;
  await Promise.all([
    getRunnersToBeTransmitted(),
    updateHistory(),
  ]);
}
created();

watch(historyStore, () => {
  history.value = [];
  formatHistory(historyStore.value, history.value);
}, { immediate: true });

async function formatHistory(storedHistory: Transmission[], history: IHistory[]) {
  for (let x of storedHistory) {
    let obj: IHistory = {
      transmission: x,
      blocksToTransmit: {headers: true} as {[key: number]: boolean, headers: boolean},
      knownDataBlocks: [] as number[],
      filename: x.blocks.FILE?.data.split(':').slice(-1)[0] || '',
      blockCount: x.blocks.SIZE ? Number(x.blocks.SIZE.data.split(' ')[1]) : null,
      missingBlocks: false,
    };
    if (obj.blockCount || obj.blockCount === 0) {
      obj.knownDataBlocks.push(...[...Array(obj.blockCount).keys()].map(k => k+1));
    }
    for (const key of Object.keys(x.blocks) as Array<keyof typeof x['blocks']>) {
      if (isNaN(Number(key))) { continue; }
      obj.blocksToTransmit[Number(key)] = true;
      if (obj.blockCount === null) {
        obj.knownDataBlocks.push(Number(key));
      }
    }
    obj.missingBlocks = !x.blocks.FILE || !x.blocks.SIZE || obj.knownDataBlocks.some(bn => !(bn in x.blocks));
    history.push(obj);
  }
}
async function getRunnersToBeTransmitted() {
  const timestamp = await Transmission.getLastEntryTXTimestamp(eventId.value);
  const entrys: Entry[] = await Entry.getEntrys({eventId: eventId.value, stationId: curStation.value.id, sinceDate: timestamp});
  const participantIds = entrys.map(e => e.participantId);
  const participants = await Participant.getParticipants(eventId.value, participantIds);
  const participantMap = participants.reduce((m, r) => { m[r.id] = r; return m; }, {} as {[participantId: string]: Participant});
  dataTable.items = entrys.filter(e => !!participantMap[e.participantId]).map((e) => {
    const participant = participantMap[e.participantId];
    return {
      bibNumber: participant.bibNumber,
      participant,
      entry: e,
      timeIn: e.timeIn,
      timeOut: e.timeOut,
      modified: e.modified,
    };
  });
}

async function deleteTransmission(transmission: Transmission) {
  let shouldDelete = await new Promise((resolve, reject) => {
    confirmDialog.open = true;
    confirmDialog.callback = resolve;
  })
    .finally(() => confirmDialog.open = false)
  ;
  if (shouldDelete) {
    await Transmission.delete(transmission);
    await updateHistory();
    await getRunnersToBeTransmitted();
  }
}

async function viewTransmission({hash}: { hash: string }) {
  router.push({name: ROUTES.viewTransmission.name, query: { routeFrom: router.currentRoute.name}, params: {hash}});
}

async function transmitChanges() {
  let filename = getFilename(curStation.value.stationNumber);
  let entrys = [];
  let participants = [];
  for (const i of dataTable.items) {
    entrys.push(i.entry);
    participants.push(i.participant);
  }
  let contents = runnersToFileStr(participants, entrys, curStation.value);
  await Promise.all([
    transmit({filename, contents, entryCount: entrys.length}, true),
  ]);
  await getRunnersToBeTransmitted();
}
async function transmit({filename, contents, entryCount}: {filename: string; contents: string; entryCount?: number;}, hasAllChanges = false) {
  const fetchedTransmission = Transmission.fromString(filename, contents, eventId.value, fromCallsign.value);
  if (entryCount) {
    fetchedTransmission.entryCount = entryCount;
  }
  if (hasAllChanges) {
    fetchedTransmission.hasAllChanges = true;
  }
  transmission.value = fetchedTransmission;
  fetchedTransmission.transmit((void 0), fromCallsign.value);
  await fetchedTransmission.save();
  await updateHistory();
}

function retransmit(x: {transmission: Transmission; blocksToTransmit: { [key: number]: boolean; headers: boolean; } }) {
  transmission.value = x.transmission;
  x.transmission.transmit(x.blocksToTransmit, fromCallsign.value);
}


async function importReceived(x: Transmission) {
  const deamp = new Deamp();
  for (const key of Object.keys(x.blocks) as Array<keyof typeof x.blocks>) {
    const block = x.blocks[key];
    if (!block) { continue; }
    deamp.addBlockToFiles(block);
  }
  const file = deamp.getFile(x.hash);
  try {
    const content = file.getContent();
    if (!content) { return; }
    const filename = file.name || '';
    if (FilenameRegex.entry.test(filename)) {
      await parseStationCSV(filename, content);
    } else {
      showSnackbar({ i18next: 'receive.importUnknown' });
      await parseRaceData(content, filename, false);
    }
  } catch (e) {
    alert(e);
  }
}

const uploadFileInput = ref<HTMLInputElement>();
function uploadFile(e: any) {
  if (!e || !e.target || !e.target.files) { return; }
  const file: File = e.target.files[0];
  const reader = new FileReader();
  reader.onload = async () => {
    importing.value = true;
    try {
      if (typeof reader.result !== 'string') {
        alert('Unable to read file');
        return;
      }
      let content = reader.result;
      if (file.type === 'application/json') {
        try {
          await importData(content, file.name, eventId.value);
        } catch (e) { alert(e); }
      } else if (FilenameRegex.entry.test(file.name)) {
        await parseStationCSV(file.name, content);
      } else {
        await parseRaceData(content, file.name, false);
      }
    } finally {
      if (uploadFileInput.value) {
        uploadFileInput.value.value = '';
      }
      importing.value = false;
    }
  };
  reader.readAsText(file);
}

function markAllBlocksToTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
  for (const k of Object.keys(x.blocksToTransmit)) {
    x.blocksToTransmit[k as any] = true;
  }
}
function markAllBlocksToNotTransmit(x: { blocksToTransmit: {[key: number]: boolean; headers: boolean;} }) {
  for (const k of Object.keys(x.blocksToTransmit)) {
    x.blocksToTransmit[k as any] = false;
  }
}

function editParticipantTime(item: IDataTableItem, entryKey: 'timeIn' | 'timeOut') {
  editTimeDialog.item = item;
  editTimeDialog.entryKey = entryKey;
  editTimeDialog.open = true;
}

function openSendMessageDialog() {
  msgDialog.open = true;
  msgDialog.text = '';
}
</script>

<style lang="scss" scoped>
.v-chip { transition: none; }
// .transmit-btn {
//   max-width: 100%; width: 150px;
// }
.data-table::v-deep table.v-table {
  thead th:not(:first-child) { padding-left: 0; }
}

.v-expansion-panel::before {
  box-shadow: none;
}
</style>
