<template>
  <Layout v-if="transmission">
    <template #title>
      <span class="pr-2">{{filename}}</span>
    </template>
    <template #action-items>
      <v-btn text @click.stop="showRepairDialog = true" v-if="!content">
        <v-icon>build</v-icon>
      </v-btn>
      <v-btn text @click.stop="toggleReadable" v-if="humanReadableContent">
        <v-icon>{{humanReadable ? 'visibility_off' : 'visibility'}}</v-icon>
      </v-btn>
      <v-btn text @click.stop="copy">
        <v-icon>content_copy</v-icon>
      </v-btn>
      <v-btn text @click.stop="download">
        <v-icon>download</v-icon>
      </v-btn>
    </template>
    <pre class="px-4 pb-4" :class="{'wrap': FilenameRegex.message.test(filename)}" v-if="content">{{humanReadable ? humanReadableContent : content}}</pre>
    <pre class="px-4 pb-4" :class="{'wrap': FilenameRegex.message.test(filename)}" v-else>
      <div v-for="block in transmission.blocks" :key="block.keyword">{{block.toString()}}</div>
    </pre>
    <v-dialog v-model="showRepairDialog">
      <v-card>
        <div class="px-4 pt-4">
          <div class="pb-4">
            <template v-for="block in transmission.blocks">
              <div :key="block.keyword">{{block.toString()}}</div>
            </template>
          </div>
          <v-row class="ma-0">
            <v-select
              :items="blockTypes"
              label="Block type"
              outlined
              v-model="makeBlockOpts.keyword"
            ></v-select>
            <v-text-field label="Block Number" outlined type="number" v-model="makeBlockOpts.blockNum" v-if="makeBlockOpts.keyword === 'DATA'"></v-text-field>
          </v-row>
          <v-text-field label="Control Word" outlined type="number" v-model="makeBlockOpts.controlWord" v-if="makeBlockOpts.keyword === 'CTRL'"></v-text-field>
          <v-textarea outlined hide-details :label="$t('file.blockData')" required v-model="makeBlockOpts.data" v-else></v-textarea>
          <v-btn @click="makeBlock()">Injest</v-btn>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click.stop="showRepairDialog = false"><i18next path="buttons.cancel"/></v-btn>
          <v-btn color="blue darken-1" text @click.stop="transmission.save()" :disabled="false"><i18next path="buttons.save"/></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </Layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Block, MakeBlockOptions } from '@hamstudy/flamp/dist/block';
import { LTypes } from '@hamstudy/flamp/dist/amp';
import { Deamp } from '@hamstudy/flamp/dist/deamp';
import { download as libDownload } from '@/lib/download';
import Layout from '@/router/layouts/Main.vue';
import Transmission from '@/models/transmission';
import router, { ROUTES } from '@/router';
import { FilenameRegex } from '@/models/transmission';
import formatDate from '@/lib/formatDate';
import { useNotificationStore, type SNACKBAR } from '@/stores/notifications';
import { useTranslate } from '@/composables/useTranslate';
import { useRaceEventStore } from '@/stores/raceEvent';

const blockTypes = Object.values(LTypes);
const deamp: Deamp = new Deamp();

const props = defineProps<{
  hash: string;
}>();

const $t = useTranslate();
const raceEventStore = useRaceEventStore();
const notificationStore = useNotificationStore();
const filename = ref('');
const content = ref('');
const humanReadableContent = ref('');
const humanReadable = ref(false);

const makeBlockOpts = ref<MakeBlockOptions>({} as any);
const showRepairDialog = ref(false);
const transmission = ref<Transmission | null>(null);

async function getTransmission(hash: string) {
  const eventId = raceEventStore.eventId;
  const [tx, rx] = await Promise.all([
    Transmission.getTxDoc(hash, eventId),
    Transmission.getRxDoc(hash, eventId),
  ]);
  return tx || rx;
}

async function created() {
  if (!props.hash) { router.back(); }
  const fetchedTransmission = await getTransmission(props.hash);
  if (!fetchedTransmission) {
    return router.push(ROUTES.transmit);
  }
  transmission.value = fetchedTransmission;
  deampTheBlocks();
}
created();

function deampTheBlocks() {
  if (!transmission.value) { return; }
  try {
    for (const key of Object.keys(transmission.value.blocks) as Array<keyof Transmission['blocks']>) {
      deamp.addBlockToFiles(transmission.value.blocks[key] as any);
    }
    const file = deamp.getFile(transmission.value.hash);
    filename.value = file.name || '';
    content.value = file.getContent() || '';
    if (content.value.startsWith('{"epoch":')) {
      humanReadableContent.value = makeReadable(content.value);
    }
  } catch(e) {
    console.error(e); // tslint:disable-line no-console
  }
}

function makeBlock() {
  makeBlockOpts.value.hash = props.hash;
  const block = Block.MakeBlock(makeBlockOpts.value);
  deamp.addBlockToFiles(block);
  if (!transmission.value) { return; }
  const key = block.keyword === LTypes.DATA ? block.blockNum : block.keyword;
  transmission.value.blocks[key as any] = block;
  deampTheBlocks();
}

function toggleReadable() {
  humanReadable.value = !humanReadable.value;
}

async function download() {
  if (!content.value) { return; }
  libDownload(filename.value, humanReadable.value ? humanReadableContent.value : content.value);
}

async function copy() {
  navigator.clipboard.writeText(humanReadable.value ? humanReadableContent.value : content.value);
  notificationStore.snackbar = {
    message: $t('transmit.copiedToClipboard'),
    timeout: 1000,
  } as SNACKBAR;
}

function makeReadable(content: string) {
  let readableContent = '';
  const lines = content.split('\n');
  let metadata: {[key: string]: any} = {}; // file may have JSON metadata
  try {
    metadata = JSON.parse(lines[0]);
    if (typeof metadata === 'object' && !Array.isArray(metadata)) {
      lines.shift(); // remove the metadata line from the lines array
    }
  } catch (e) {} // tslint:disable-line no-empty
  const epoch = metadata.epoch || 0;
  const includeSecondsWithTime = String(epoch).length !== 8;
  for (let line of lines) {
    line = line?.trim();
    let [bibNum, timeInStr, timeOutStr, dnfReason] = line.split(',');
    if (isNaN(Number(bibNum)) || isNaN(Number(timeInStr)) || isNaN(Number(timeOutStr))) {
      readableContent += line + '\n';
      continue;
    }

    const dateFormatDisplay = includeSecondsWithTime ? 'HH:mm:ss (MM/DD)' : 'HH:mm (MM/DD)';
    let timeIn = '';
    let timeOut = '';
    if (timeInStr) {
      timeIn = formatDate(new Date((epoch + Number(timeInStr)) * (includeSecondsWithTime ? 6E2 : 6E4)), dateFormatDisplay);
    }
    if (timeOutStr) {
      timeOut = formatDate(new Date((epoch + Number(timeOutStr)) * (includeSecondsWithTime ? 6E2 : 6E4)), dateFormatDisplay);
    }
    readableContent += `${bibNum}, ${timeIn}, ${timeOut}`;
    if (dnfReason !== undefined) {
      readableContent += `DNF`;
      if (dnfReason) {
        readableContent += `- ${dnfReason}`;
      }
      readableContent += '\n';
    }
    readableContent += '\n';
  }
  return readableContent;
}
</script>

<style lang="scss" scoped>
.no-min-width { min-width: 0; }
pre { overflow-x: auto; }
pre.wrap { white-space: pre-wrap; }
</style>
