<template>
  <v-app :style="{background: $vuetify.theme.themes[$vuetify.theme.dark ? 'dark' : 'light'].background}">
    <Snackbar class="safe-area-padding tabBar-padding"></Snackbar>
    <TabBar v-if="eventId && station"/>
    <v-main class="safe-area-padding" :class="{'tabBar-padding': eventId && station}">
      <!-- <transition name="slide-left"> -->
      <div class="full-height relative">
        <router-view/>
      </div>
      <!-- </transition> -->
    </v-main>
    <div class="status-bar-color" :class="listening ? 'red' : ($vuetify.theme.dark ? 'surface' : 'primary')"></div>
  </v-app>
</template>


<script setup lang="ts">
import { SplashScreen } from '@capacitor/splash-screen';
import { StatusBar, Style as StatusBarStyle } from '@capacitor/status-bar';
import { storeToRefs } from 'pinia';
import { getCurrentInstance, onMounted, watch } from 'vue';
import { type VApp, type VMain } from 'vuetify/lib';

import Snackbar from '@/components/common/SnackBar.vue';
import TabBar from '@/components/common/TabBar.vue';
import { Transmission } from '@/models/transmission';
import { useRaceEventStore } from '@/stores/raceEvent';
import { useReceiveStore } from '@/stores/receive';
import { useSettingsStore } from '@/stores/settings';

const {
  eventId,
  station,
} = storeToRefs(useRaceEventStore());

const {
  listening,
} = storeToRefs(useReceiveStore());

const {
  callsign,
  darkMode,
} = storeToRefs(useSettingsStore());

const $this = getCurrentInstance();

onMounted(async () => {
  if (!SplashScreen) { return; }
  await SplashScreen.hide();
});

Transmission.fromCallsign = callsign.value;

watch(darkMode, (val) => {
  if (!$this) {
    console.error('No current instance'); // tslint:disable-line no-console
    return;
  }
  $this.proxy.$vuetify.theme.dark = val;
}, { immediate: true });

if (StatusBar) {
  Promise.all([
    StatusBar.setStyle({style: StatusBarStyle.Dark}),
  ]).catch((e) => {
    if (!String(e).includes(`plugin is not implemented on web`)) {
      console.error(e); // tslint:disable-line no-console
    }
  });
}
</script>


<style lang="scss" scoped>
// @import "./variables.scss";
// .theme--dark.v-application {
//   background: var(--v-primary-darken2) !important;
// }
.theme--light.v-application { background-color: #F4F4F4; }
.status-bar-color { z-index: 1000; }
</style>
