@import "./variables.scss";

.v-btn.absolute-left { position: absolute; left: 0; }
.v-data-table.theme--dark tr:hover {
  background-color: #244045 !important;
}

.slide-left-enter-active, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter-active {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
.v-expansion-panel__header__icon { flex-shrink: 0; }
.v-application--wrap table.v-table {
  thead th, tbody td { padding: 0 16px; }
  tr { max-width: 100%; }
}
.safe-area-padding {
  padding-bottom: $tabBarHeight; // For older devices that can't use calc
  padding-bottom: var(--safe-area-top) !important;
  padding-left: var(--safe-area-left) !important;
  padding-right: var(--safe-area-right) !important;
  padding-top: var(--safe-area-top) !important;
  &.tabBar-padding {
    padding-bottom: calc(var(--safe-area-bottom) + #{$tabBarHeight}) !important;
  }
}
.full-width { width: 100%; }
.full-height { height: 100%; }
.absolute { position: absolute !important; }
.relative { position: relative; }
.fixed { position: fixed; }
.status-bar-color {
  position: fixed; top: 0; left: 0; right: 0; height: var(--safe-area-top); content: ' ';
}
.v-icon.v-icon::after {
  left: 0;
}

@for $i from 1 through 10000 {
  .zi-#{$i} { z-index: #{$i}; }
}

.full-view-height {
  height: calc(100vh - #{$tabBarHeight} - var(--safe-area-bottom) - var(--safe-area-top));
}
.ws-pre {
  white-space: pre;
}
.nowrap {
  white-space: nowrap;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.clearfix { @include clearfix; }
.pull-right { float: right; }
.truncate { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.overflow-y-unset {
  overflow-y: unset !important;
}
.inline { display: inline; }
.lh-1 { line-height: 1; }
.v-align-middle { vertical-align: middle; }
