<template>
  <div class="pids">
    <div class="pid" :class="{'hamstudyBlue': vModel >= (i/pidCount*100)}" v-for="i in pidCount" :key="i"></div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  pidCount: number;
  vModel: number;
}>();
</script>

<style lang="scss" scoped>
.pid {
  background-color: gray; border-radius: 4px; display: inline-block; margin: 4px;
  height: 20px; width: 8px;
}
</style>
